.bundle
db/*.sqlite3
log/*.log
tmp/
db/data/*
data/
public/uploads
sftp-config.json
ftpsync.*
*ftp*
vendor/*.*
log/*.*
.lock
.rvmrc
config/puma.rb
config/database.yml
config/rabbitmq.yml
config/setup/ip.yml
