    <style>
      .area {
        margin: 20px auto 0px auto;
      }
      
      .mui-input-group {
        margin-top: 10px;
      }
      
      .mui-input-group:first-child {
        margin-top: 20px;
      }
      
      .mui-input-group label {
        width: 30%;
      }
      
      .mui-input-row label~input,
      .mui-input-row label~select,
      .mui-input-row label~textarea {
        width: 70%;
      }
      
      .mui-checkbox input[type=checkbox],
      .mui-radio input[type=radio] {
        top: 6px;
      }
      
      .mui-content-padded {
        margin-top: 25px;
      }
      
      .mui-btn {
        padding: 10px;
      }
      
      .link-area {
        display: block;
        margin-top: 25px;
        text-align: center;
      }
      
      .spliter {
        color: #bbb;
        padding: 0px 8px;
      }
      
      .oauth-area {
        position: absolute;
        bottom: 20px;
        left: 0px;
        text-align: center;
        width: 100%;
        padding: 0px;
        margin: 0px;
      }
      
      .oauth-area .oauth-btn {
        display: inline-block;
        width: 50px;
        height: 50px;
        background-size: 30px 30px;
        background-position: center center;
        background-repeat: no-repeat;
        margin: 0px 20px;
        /*-webkit-filter: grayscale(100%); */
        border: solid 1px #ddd;
        border-radius: 25px;
      }
      
      .oauth-area .oauth-btn:active {
        border: solid 1px #aaa;
      }
      
      .oauth-area .oauth-btn.disabled {
        background-color: #ddd;
      }
      #get_yanzhengma{
        position: absolute;top: 7px;right: 13px;color: #FF376F;background: #eee;font-size: 12px;padding: 2px 6px; border-radius: 8px;
      }
      .time_line{
        display: none;
      }
      #get_yanzhengma.show_time_line{
        color: #999;
      }
      #get_yanzhengma.show_time_line .time_line{
        display: inline;
      }
    </style>

    <h1></h1>

    <header class="my_top_nav mui-bar mui-bar-nav">
      <button type="button" class="mui-left mui-action-back mui-btn  mui-btn-link mui-btn-nav mui-pull-left">
        <span class="mui-icon mui-icon-left-nav"></span>
      </button>
      <h1 class="mui-title">注册</h1>
    </header>
    <div class="mui-content" id="vue_form">
      <form id='login-form' class="mui-input-group" action="/users/sign_in" method="post">
        <div class="mui-input-row">
          <input id="phone_input" type="text" name="phone" class="mui-input-clear mui-input" placeholder="请输入手机号" value="<%= flash[:phone] %>">
        </div>
        <div class="mui-input-row">
          <input type="text" name="confirm_code" class="mui-input-clear mui-input" placeholder="请输入验证码">
          <div id="get_yanzhengma" style="">获取验证码<span class="time_line">(<span class="time"></span>秒)</span></div>
        </div>
      </form>
      <div class="mui-content-padded">
        <button onclick="$('form').submit();" class="mui-btn mui-btn-block mui-btn-primary">登陆</button>
      </div>
    </div>
<script type="text/javascript">
  // function setSecond(sec) {
  //   $("#get_yanzhengma .time").text(sec);
  //   setTimeout()
  // }
  document.getElementById("get_yanzhengma").addEventListener("tap",function(e) {
    // console.log('xxx')
    if ( /^\w{11}$/.test($("#phone_input").val()) ) {
      if ($("#get_yanzhengma").hasClass("show_time_line")) {
      }else{
        $("#get_yanzhengma").addClass("show_time_line");
        var sec = 60;
        $("#get_yanzhengma .time").text(sec);
        var timer = setInterval(function() {
          // console.log('11111111')
          sec -= 1;
          if (sec == -1) {
            clearInterval(timer);
            $("#get_yanzhengma").removeClass("show_time_line");
          }
          $("#get_yanzhengma .time").text(sec);
        },1000)
      }
    }else{
      mui.toast("请输入11位的手机号码");
    }
  })
  // new Vue({
  //   el:'#vue_form',
  //   data:{},
  //   methods:{
  //   },
  //   mounted:function() {
  //   }
  // })
</script>