<el-collapse class="patient-info" v-model="activeCollapse">
  <el-collapse-item name="patientinfo1">
    <template slot="title">
    	<el-button size="mini" @click.stop.native="searchPeople({search: '', modal: 'isShowEncountersDialog'})" type="text" icon="fa fa-lg fa-fw fa-search text-mmp-lighter" title="搜索患者"></el-button>
    	<el-button v-if="loadingidcard" size="mini" @click.stop.native="getIdCardInfo()" type="text" icon="fa fa-lg fa-fw fa-spinner fa-spin text-mmp-lighter" title="读取身份证信息" style="margin-right: 10px; color: #3f6e6b;" disabled> 正在读取身份证 </el-button>
    	<el-button v-else size="mini" @click.stop.native="getIdCardInfo()" type="text" icon="fa fa-lg fa-fw fa-id-card-o text-mmp-lighter" title="读取身份证信息" style="margin-right: 10px; color: #3f6e6b;"> &nbsp;读身份证</el-button>
    	<!-- <i class="fa fa-lg fa-fw fa-search text-mmp-lighter" @keyup.enter.stop.native="searchPeople({search: searchencstr, modal: 'isShowEncountersDialog'})"></i>&#12288; -->
      <!-- <el-input
		    placeholder="姓名 / 手机号 / 身份证号码 / 诊断"
		    size="mini"
		    class="search-enc-input"
		    @click.stop.native=""
		    
		    ref="searchencstr"
		    @focus="focusEncSearchInp(true)"
		    @blur="focusEncSearchInp(false)"
		    v-model="searchencstr">
		    <i slot="prefix" class="el-input__icon el-icon-search" @click="searchPeople({search: searchencstr, modal: 'isShowEncountersDialog'})"></i>
		  </el-input>&#12288; -->
      <span v-if="encounter.name">{{ encounter.name }}</span>&#12288;
      <i v-if="encounter.gender&&encounter.gender.display" v-html="judgeGender(encounter.gender.display)"></i>&#12288;
      <span v-if="encounter.age">{{ encounter.age }}岁</span>
      <span v-if="encounter.birth_date"> ({{ encounter.birth_date | formatDate('yyyy-MM-dd') }}) </span>
      <span v-if="!activeCollapse || activeCollapse.length==0">
      	<i v-if="encounter.phone" class="fa fa-fw fa-lg fa-phone text-mmp-lighter"></i>{{encounter.phone}}&#12288;
      	<span v-for="(all,index) in (encounter.allergens || [])" :key="index">{{ all.display }} </span>&#12288;
      	<span v-for="(dia,index) in (encounter.diagnoses || [])" :key="index">{{ dia.display }} </span>
      </span>
      <div style="float: right; margin-right: 1em;">
      	<el-button size="mini" @click="resetEncounterForm('encounterForm')" class="refresh-btn" type="text" icon="fa fa-lg fa-fw el-icon-refresh"></el-button>
      </div>
    </template>
    <el-form size="mini" :rules="rules" :model="encounter" ref="encounterForm" label-width="80px">
    	<el-row>
    		<!-- 姓名、性别 -->
	    	<el-col :span="5">
	    		<el-form-item
				    prop="name">
				    <template slot="label">
							<el-popover
							  placement="top-start"
							  v-if="encounter.photo"
							  title="照片"
							  width="150"
							  trigger="hover">
							  <img :src="encounter.photo" alt="患者头像" />
							  <i slot="reference" class="fa fa-fw fa-photo text-muted-light"></i>
							</el-popover>
				  		姓名
				  	</template>
				    <el-input v-model="encounter.name" auto-complete="off" prefix-icon="fa fa-user" placeholder="姓名" ref="encname" @keyup.enter.stop.native="focusNext('encname', 'encgender')" :disabled="disabledInput"></el-input>
				  </el-form-item>
				  <el-form-item
				    label="性别"
				    class="info-gender"
				    prop="gender.code">
				    <span v-if="encounter.gender&&encounter.gender.display.indexOf('女')>-1" class="fa fa-venus gender-icon"></span>
				    <span v-else class="fa fa-mars gender-icon"></span>
				  	<el-select v-model="encounter.gender" value-key="code" placeholder="请选择" style="width: 100%;" ref="encgender" @keyup.enter.stop.native="focusNext('encgender', 'encage')" @change="focusNext('encgender', 'encage')" :disabled="disabledInput" filterable>
					    <el-option
					      v-for="item in ($parent.common_data_genders||[])"
					      :key="item.code"
					      :label="item.display"
					      :value="item">
					    </el-option>
					  </el-select>
				  </el-form-item>
				  <div v-if="showAllPatInfo">
				  	<el-form-item
					    label="民族"
					    prop="nation">
					    <el-select v-model="encounter.nation" value-key="code" placeholder="请选择" style="width: 100%;" :disabled="disabledInput" :filter-method="filterCodes" @focus="focusSelect='nations|encnation'" ref="encnation" filterable>
						    <el-option
						      v-for="item in (nations||[])"
						      :key="item.code"
						      :label="item.display"
						      :value="item">
						    </el-option>
						  </el-select>
					  </el-form-item>
				  </div>
				</el-col>
				<el-col :span="6">
				  <el-form-item
				    label="年龄"
				    prop="age">
				    <el-input type="age" v-model.number="encounter.age" auto-complete="off" prefix-icon="fa fa-ge" @change="judgeAge" ref="encage" @keyup.enter.stop.native="focusNext('encage', 'encphone')" :disabled="disabledInput">
				    	<span slot="suffix">岁</span>
				    </el-input>
				  </el-form-item>
				  <el-form-item
				    label="手机"
				    prop="phone">
				    <el-input v-model.number="encounter.phone" prefix-icon="fa fa-phone" ref="encphone" @keyup.enter.stop.native="focusNext('encphone', 'encdiagnose')"></el-input>
				  </el-form-item>
					
				  <div v-if="showAllPatInfo">
				  	<el-form-item
					    label="婚姻"
					    prop="marriage">
					    <el-select v-model="encounter.marriage" value-key="code" placeholder="请选择" style="width: 100%;" :filter-method="filterCodes" @focus="focusSelect='marriages|encmarriage'" ref="encmarriage" filterable>
						    <el-option
						      v-for="item in (marriages||[])"
						      :key="item.code"
						      :label="item.display"
						      :value="item">
						    </el-option>
						  </el-select>
					  </el-form-item>
				  </div>
				</el-col>
				<el-col :span="6">
					<el-form-item
				    label="身份证号"
				    @change="getBirthdayFromIdCard"
				    prop="iden">
				    <el-input v-model="encounter.iden" prefix-icon="fa fa-id-card-o" @change="getBirthdayFromIdCard" :disabled="disabledInput"></el-input>
				  </el-form-item>
				  <el-form-item
				    label="出生日期"
				    prop="birth_date">
				    <el-date-picker
				      v-model="encounter.birth_date"
				      type="date"
				      style="width: 100%"
				      @change="getDecilAgeByBirthday"
				      :picker-options="birthPickerOptions"
				      :disabled="disabledInput"
				      placeholder="XXXX-XX-XX">
				    </el-date-picker>
				  </el-form-item>
				  <div v-if="showAllPatInfo">
					  <el-form-item
					    label="职业"
					    prop="occupation">
					    <el-select v-model="encounter.occupation" value-key="code" placeholder="请选择" style="width: 100%;" :filter-method="filterCodes" @focus="focusSelect='occupations|encoccupation'" ref="encoccupation" filterable>
						    <el-option
						      v-for="item in (occupations||[])"
						      :key="item.code"
						      :label="item.display"
						      :value="item">
						    </el-option>
						  </el-select>
					  </el-form-item>
					</div>
				</el-col>
				<el-col :span="7">
				  <el-form-item
				    label="住址"
				    prop="address">
				    <el-input v-model="encounter.address" prefix-icon="el-icon-location-outline" :disabled="disabledInput"></el-input>
				  </el-form-item>
				  <el-form-item
				    :label="encounter.age < 14 ? '监护人' : '联系人'"
				    prop="contact_name">
				    <el-input v-model="encounter.contact_name" prefix-icon="fa fa-chain"></el-input>
				  </el-form-item>
				  <div v-if="showAllPatInfo">
					  <el-form-item
					    label="工作单位"
					    prop="unit_name">
					    <el-input v-model="encounter.unit_name"></el-input>
					  </el-form-item>
				  </div>
				</el-col>
			</el-row>
			<!-- <hr class="info-divider"/> -->
			<el-row>
				<!-- 医疗信息，诊断，血型，身高，体重，bmi -->
<!-- 				<el-col :span="10">
					<el-form-item 
						:prop="'diagnoses.' + index + '.display'"
						:label="index==0 ? '诊断' : '第 '+(index+1)+' 诊断'"
						:rules="[{ required: true, message: '请输入诊断', trigger: 'blur, change' }]">
						<el-autocomplete size="mini" :name="'diagnose'+index" v-model="diagnose.display" :fetch-suggestions="querySearchDiagnoseAsync" @select="handleSelectDiagnosis" :debounce="300" style="width: 100%;" @focus="focusDiagnosisInputIndex=index" ref="encdiagnose" @keyup.enter.stop.native="focusNext('encdiagnose', 'encsave')">
							<i class="el-icon-circle-close-outline el-input__icon" slot="suffix" v-on:click="encounter.diagnoses[index]={code: '', display: ''}"></i>
							<template slot-scope="props">
								<el-col :span="10">{{props.item.code}}</el-col>
								<el-col :span="14">{{props.item.display}}</el-col>
							</template>
						</el-autocomplete>
					</el-form-item>
				</el-col>
				<el-col :span="2" class="has-append-btn">
					<el-tooltip v-if="index>0" effect="dark" content="删除此诊断" placement="right">
			      <i class="el-icon-remove-outline text-danger" @click="encounter.diagnoses.splice(index, 1)"></i>
			    </el-tooltip>
	      	<el-tooltip v-else effect="dark" content="增加其他诊断" placement="right">
			      <i class="el-icon-circle-plus-outline text-primary" @click="addDiagnosis()"></i>
			    </el-tooltip>
				</el-col> -->
				<el-col :span="18">
					<el-form-item label="诊断" class="diagnoses-group" :rules="[{ required: true }]">
						<el-tag
						  v-for="(tag, index) in (encounter.diagnoses||[])"
						  :key="index"
						  size="medium"
						  placeholder="诊断"
						  closable
						  :disable-transitions="false"
						  @close="encounter.diagnoses.splice(index, 1)">
						  {{tag.display}}
						</el-tag>
						<el-autocomplete size="mini" v-model="diagnoseInput" :fetch-suggestions="querySearchDiagnoseAsync" @select="handleSelectDiagnosis" :debounce="300" style="width: 30%;" ref="encdiagnose" @keyup.enter.stop.native="handleSelectDiagnosis({type:'hand'})" popper-class="diagnoses-dropmenu">
							<i class="el-icon-circle-close-outline el-input__icon" slot="suffix" v-on:click="diagnoseInput=''"></i>
							<template slot-scope="props">
								<span style="float: left">{{ props.item.display }}</span>
      					<span style="float: right; color: #8492a6; font-size: 13px">{{ props.item.code }}</span>
							</template>
						</el-autocomplete>
					</el-form-item>
				</el-col>
				<el-col :span="6" style="text-align: right;">
				  <el-form-item>
				    <el-button v-if="showAllPatInfo" icon="fa fa-angle-double-up fa-fw" @click="showAllPatInfo=false">收起</el-button>
				    <el-button v-else icon="fa fa-angle-double-down fa-fw" @click="showAllPatInfo=true">更多</el-button>
				    <el-button type="primary" @click="submitEncounterForm('encounterForm')" ref="encsave" plain>
				    	<i class="fa fa-spinner fa-spin fa-fw fa-lg" style="display: none;"></i>
				    	<template v-if="!encounter.id">保存</template>
				    	<template v-else>更新</template>
				    </el-button>
				  </el-form-item>
				</el-col>
			</el-row>
			<el-row v-if="showAllPatInfo">
				<el-col :span="24">
					<!-- 过敏信息 -->
					<el-form-item label="过敏信息" class="allergens-group">
						<el-tag
						  :key="tag"
						  v-for="tag in encounter.allergens"
						  size="medium"
						  closable
						  :disable-transitions="false"
						  @close="handleCloseTag(tag)">
						  {{tag}}
						</el-tag>
						<el-input
						  class="input-new-tag"
						  v-if="inputTagVisible"
						  v-model="inputTagValue"
						  ref="saveTagInput"
						  placeholder="过敏"
						  style="width: 100px;"
						  @keyup.enter.native="handleTagInputConfirm"
						  @blur="handleTagInputConfirm">
						</el-input>
						<el-button v-else class="button-new-tag" @click="showTagInput">+ 添加过敏</el-button>
					</el-form-item>
				</el-col>
				<el-col :span="5">
					<el-form-item
				    label="血型"
				    prop="blood">
				    <el-select v-model="encounter.blood" value-key="code" placeholder="请选择" style="width: 100%;" :filter-method="filterCodes" @focus="focusSelect='bloods|encblood'" ref="encblood" filterable>
					    <el-option
					      v-for="item in (bloods||[])"
					      :key="item.code"
					      :label="item.display"
					      :value="item">
					    </el-option>
					  </el-select>
				  </el-form-item>
				</el-col>
				<el-col :span="6">
					<el-form-item
				    label="身高"
				    prop="height">
				    <el-input v-model="encounter.height"><template slot="append">cm</template></el-input>
				  </el-form-item>
				</el-col>
				<el-col :span="6">
					<el-form-item
				    label="体重"
				    prop="weight">
				    <el-input v-model="encounter.weight"><template slot="append">kg</template></el-input>
				  </el-form-item>
				</el-col>
				<el-col :span="7">
					<el-form-item
				    label="BMI"
				    prop="bmi"
				    v-popover:popoverbmi>
				    <el-input :value="bmi" placeholder="根据身高和体重自动计算" title="体质指数（BMI）= 体重（kg）÷身高^2（m）" disabled>
				    	<template slot="append">&nbsp;<i class="fa fa-question"></i>&nbsp;</template>
				    </el-input>
				    <el-popover
              ref="popoverbmi"
              placement="top"
              width="300"
              trigger="click">
              <h4>成人的BMI数值</h4><hr/>
              <p class='text-primary'>体质指数(BMI) = 体重(kg)÷身高^2(m)</p>
              <p>过轻：低于18.5</p>
              <p>正常：18.5-24.99</p>
              <p>过重：25-28</p>
              <p>肥胖：28-32</p>
              <p>非常肥胖：高于32</p>
            </el-popover>
				  </el-form-item>
				</el-col>
			</el-row>
			<!-- 取药点 -->
			<!-- <hr class="info-divider"/> -->
<!-- 			<el-row>
				<el-col :span="12">
					<el-form-item
				    label="取药点"
				    prop="drugstore_location">
				    <el-select v-model="encounter.drugstore_location" value-key="id" placeholder="选择药房" style="width: 100%;" ref="enclocation" @keyup.enter.stop.native="focusNext('enclocation', 'encsave')" clearable>
					    <el-option
					      v-for="item in locations"
					      :key="item.id"
					      :label="item.display"
					      :value="item">
					    </el-option>
					  </el-select>
				  </el-form-item>
				</el-col>
			</el-row> -->
		</el-form>
  </el-collapse-item>
</el-collapse>

<el-dialog
  title="患者列表"
  :visible.sync="isShowEncountersDialog"
  width="90%">
  <el-row>
  	<el-input
	    placeholder="搜索姓名 / 手机号 / 身份证号码"
	    size="mini"
	    class="search-enc-input"
	    ref="searchencstr"
	    @keyup.enter.stop.native="searchPeople({search: '', modal: 'isShowEncountersDialog', search: searchencstr})"
	    @focus="focusEncSearchInp(true)"
	    @blur="focusEncSearchInp(false)"
	    v-model="searchencstr">
	    <i slot="prefix" class="el-input__icon el-icon-search" @click="searchPeople({search: searchencstr, search: searchencstr})"></i>
	  </el-input>
  </el-row>
  <br/>
  <div class="spinner-3circle" v-if="encmodalloading">
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
  </div>		
  <el-table
  	v-else
		:data="encounters"
		class="thiner-row encounters-table"
		style="width: 100%">
	  <el-table-column
	    min-width="40"
	    label="#">
	    <template slot-scope="scope">
	      {{ scope.$index + 1 }}
	    </template>
	  </el-table-column>
	  <el-table-column
	    prop="name"
	    min-width="80"
	    label="姓名">
	  </el-table-column>
	  <el-table-column
	    prop="gender.display"
	    align="center"
	    min-width="50"
	    label="性别">
	  </el-table-column>
	  <el-table-column
	    prop="age"
	    align="center"
	    min-width="50"
	    label="年龄">
	  </el-table-column>
	  <el-table-column
	    min-width="200"
	    align="center"
	    label="身份证号码">
	    <template slot-scope="scope">
	    	<i v-if="scope.row.iden" class="fa fa-lg fa-fw fa-id-card-o text-muted-light"></i>&#12288;{{ scope.row.iden }}
	    </template>
	  </el-table-column>
	  <el-table-column
	    min-width="100"
	    align="center"
	    label="出生日期">
	    <template slot-scope="scope">
	    	{{ scope.row.birth_date | formatDate("yyyy-MM-dd") }}
	    </template>
	  </el-table-column>
	  <el-table-column
	    min-width="140"
	    align="center"
	    label="手机号码">
	    <template slot-scope="scope">
	    	<i v-if="scope.row.phone" class="fa fa-lg fa-fw fa-phone text-muted-light"></i> {{ scope.row.phone }}
	    </template>
	  </el-table-column>
	  <el-table-column
	    min-width="140"
	    align="center"
	    label="就诊次数">
	    <template slot-scope="scope">
	    	{{ scope.row.encounter_data&&scope.row.encounter_data.length }}次
	    </template>
	  </el-table-column>
	  <el-table-column
	    fixed="right"
	    label=""
	    width="180">
	    <template slot-scope="scope">
	      <!-- <el-button size="mini" @click="editEncounter(scope.row)" type="primary" title="编辑就诊信息" plain><i class="fa fa-fw fa-lg fa-edit"></i>编辑</el-button> -->
	      <el-button size="mini" @click="createEncounterBySomeMethods({type: 'by_person', row: scope.row})" type="success" title="新建就诊" plain><i class="fa fa-fw fa-lg fa-plus"></i>新建<i class="fa fa-spinner fa-spin fa-fw fa-lg" style="display: none;"></i></el-button>
	      <el-button v-if="scope.row.encounter_data&&scope.row.encounter_data.length==1" size="mini" @click="editEncounter(scope.row.encounter_data[0])">编辑就诊</el-button>
	      <el-dropdown trigger="click" v-if="scope.row.encounter_data&&scope.row.encounter_data.length>1" split-button size="mini" @click="editEncounter(scope.row.encounter_data[0])">
				  编辑就诊
				  <el-dropdown-menu slot="dropdown">
				    <el-dropdown-item v-for="(enc, index) in scope.row.encounter_data" class="clearfix">
				      <span class="edit-span" @click="editEncounter(enc)">{{ enc.created_at | formatDate }}</span>
				    </el-dropdown-item>
				  </el-dropdown-menu>
				</el-dropdown>

	    </template>
	  </el-table-column>
	</el-table>
  <span slot="footer" class="dialog-footer">
    <el-button size="mini" @click="isShowEncountersDialog = false">关 闭</el-button>
  </span>
</el-dialog>