	<el-table-column type="expand">
    <template slot-scope="props">
    	<div class="pres-table-presprint-wrapper" style="width: calc( 100% - 150px );">
    		<prescriptionprint :encounter="encounter" :prescription="props.row" :orgname="orgname"></prescriptionprint>
    	</div>
    </template>
  </el-table-column>
  <el-table-column
    min-width="130"
    label="处方号">
    <template slot-scope="scope">
    	<el-button size="mini" style="padding: 4px 7px;" round>{{ (scope.row.orders||[]).length }}</el-button>
    	<span>{{ scope.row.prescription_no }}</span>
    </template>
  </el-table-column>
<!--   <el-table-column
    min-width="120"
    label="患者">
    <template slot-scope="scope">
    	<span v-if="encounter.name">{{ encounter.name }}</span>&#12288;
      <i v-html="judgeGender(encounter.gender&&encounter.gender.display)"></i>&#12288;
      <span v-if="encounter.age">{{ encounter.age }}岁</span>
    </template>
  </el-table-column> -->
  <el-table-column
    min-width="80"
    label="处方类型">
    <template slot-scope="scope">
    	<span v-if="scope.row.type">{{scope.row.type.display}}</span>
    </template>
  </el-table-column>
  <el-table-column
    min-width="250"
    label="诊断">
    <template slot-scope="scope">
    	<el-tag v-for="(tag,index) in (scope.row.diagnoses||[])" :key="index" size="mini" type="info">{{tag.display}}</el-tag>
    </template>
  </el-table-column>
  <el-table-column
    min-width="80"
    align="center"
    label="特殊处方">
    <template slot-scope="scope">
    	<span v-if="scope.row.specialmark" class="fa fa-fw fa-lg fa-check"></span>
    </template>
  </el-table-column>
  <el-table-column
    min-width="80"
    align="center"
    label="科室">
    <template slot-scope="scope">
    	<span v-if="encounter.encounter_loc">{{encounter.encounter_loc.display}}</span>
    </template>
  </el-table-column>
  <el-table-column
    min-width="80"
    align="right"
    label="金额">
    <template slot-scope="scope">
    	{{scope.row.price | formatMoney(2)}}
    </template>
  </el-table-column>
  <el-table-column
    min-width="50"
    align="center"
    label="医生">
    <template slot-scope="scope">
    	<span v-if="scope.row.author">{{scope.row.author.display}}</span>
    </template>
  </el-table-column>
  <el-table-column
    prop="note"
    min-width="100"
    label="备注">
  </el-table-column>
  <el-table-column
    min-width="140"
    align="center"
    label="生成日期">
    <template slot-scope="scope">
    	<span>{{scope.row.created_at | formatDate}}</span>
    </template>
  </el-table-column>
  <el-table-column
    prop="status"
    align="center"
    min-width="80"
    label="状态">
    <template slot-scope="scope">
    	<template v-for="st in prescriptionsStatus">
        <el-tag size="mini" :type="st.type" v-if="scope.row.status==st.value">{{st.label}}</el-tag>
      </template>
    </template>
  </el-table-column>