<div clas="el-col-20" style="height:calc(100% - 120px);">
<div class="el-row" style="float:left; width:calc(100% - 120px);">

  <el-row style="padding:8px; border-bottom:1px solid #ddd;">
  	<el-col :span="4" style="width:60px;"><i class="fa fa-area-chart fa-fw fa-3x"></i></el-col>
  	<el-col :span="20"><h3>基础报表</h3></el-col>
	</el-row>

</div>
</div>
