<div id="prescription_main_panel" style="font-size:14px;">
	<div class="prescription_list_panel" style="padding:8px;">
		<div style="color:#ADABAB;padding:0px 8px;">订单列表</div>
		<div class="el-input el-input--mini" style="padding:8px;">
			<el-input
			  placeholder="输入 取药码 / 订单号 / 手机号"
			  prefix-icon="el-icon-search"
			  v-model="out_order_search"
			  @keyup.enter.native="out_order_search_fun"
			  @change="search_input_change"
			  >
			</el-input>
		</div>
	  <el-tabs v-model="out_list_panel" type="card" @tab-click="get_out_pres">
	    <el-tab-pane label="未交费" name="1"></el-tab-pane>
	    <el-tab-pane label="待发药" name="2"></el-tab-pane>
				<el-row :gutter="20" v-for="order in order_lists" class="pre_list" @click.native="get_order(order.order_id,$event)">
					<el-col :span="6" style="width:100px;">{{order.created_at | formatDate('yy-MM-dd')}}</el-col>
					<el-col :span="6" style="width:calc(100% - 260px);overflow-x:hidden;">{{order.order_code}}</el-col>
					<el-col :span="6" style="width:80px;">{{order.patient_name}}</el-col>
					<el-col :span="6" style="width:80px; padding-left:0px; text-align:right;">{{format_price(order.amt)}}</el-col>
				</el-row>
	  </el-tabs>
	</div>

	<div class="prescription_detail_panel">
		<div style="color:#ADABAB; padding-left:8px; ">订单详情</div>
		<%= render "ims/home/render/prescription_panel"%>
	</div>

</div>

<el-dialog title="" :visible.sync="dialogFormVisible" class="platform_search_dialog">
	<%= render "ims/home/render/platform_search"%>
  <div slot="footer" class="dialog-footer">
    <el-button size="small" type="danger" @click="platform_charging_fun()">收费</el-button>
    <el-button size="small" type="danger" @click="platform_charging_and_out_fun()">收费并发药</el-button>
  </div>
</el-dialog>

