<div id="prescription_main_panel">
	<div class="prescription_list_panel">
		<div>订单列表</div>
		<div class="el-input el-input--mini" style="padding-top:12px; padding-bottom:12px;">
			<el-input
			  placeholder="搜索 取药码 / 订单号 / 手机号"
			  prefix-icon="el-icon-search"
			  v-model="out_order_search"
			  @keyup.enter.native="out_order_search_fun"
			  >
			</el-input>
		</div>
	  <el-tabs v-model="out_list_panel" type="card" @tab-click="get_out_pres">
	    <el-tab-pane label="未交费" name="1"></el-tab-pane>
	    <el-tab-pane label="待发药" name="2"></el-tab-pane>
				<el-row :gutter="20" v-for="pre in pres" class="pre_list" @click.native="get_pre(pre.order_id,$event)">
					<el-col :span="6" style="width:120px;">{{format_time(pre.created_at)}}</el-col>
					<el-col :span="6" style="width:calc(100% - 280px)">{{pre.order_code}}</el-col>
					<el-col :span="6" style="width:80px;">{{pre.patient_name}}</el-col>
					<el-col :span="6" style="width:80px; padding-left:0px; text-align:right;">{{format_price(pre.amt)}}</el-col>
				</el-row>
	  </el-tabs>
	</div>

	<div class="prescription_detail_panel">
		<div>订单详情</div>
		<%= render "ims/home/render/prescription_panel"%>
	</div>

</div>