<div class="prescription-info">
  <div v-for="pre in platform_data">
    <div class="" style="padding:8px;">
      <label v-bind:for="pre.id">
        <!-- <input type="checkbox" v-bind:value="pre.id" v-bind:id="pre.id"> -->
        <el-checkbox label="">
        <span style="display:none;" class="pre_id">{{pre.id}}</span>
        <span class="padding"><b>{{pre.name}}</b></span>
        <span class="padding"><b>{{pre.sex}}</b></span>
        <span class="padding"><b>{{pre.age}}岁</b></span>
        <span class="padding"><b><span style="color:rgb(195, 192, 192);">地址：</span>{{pre.address}}</b></span>
        <span class="padding"><b><span style="color:rgb(195, 192, 192);">身份证号：</span>{{pre.iden}}</b></span>
      </el-checkbox>
      </label>
	  </div>

    <el-table
      :data="pre.lines"
      size="mini"
      style="width: 100%">
      <el-table-column
        prop="name"
        label="名称"
        style="min-width:35%;">
      </el-table-column>
      <el-table-column
        prop="specification"
        label="规格"
        style="min-width:30%;">
      </el-table-column>
      <el-table-column
        prop="qty"
        label="数量"
        style="">
      </el-table-column>
      <el-table-column
        prop="unit"
        label="单位"
        style="">
      </el-table-column>
      <el-table-column
        prop="price"
        label="单价"
        style="">
      </el-table-column>
      <el-table-column
        prop="amount"
        label="金额"
        style="">
      </el-table-column>
    </el-table>

  </div>
</div>
