<div class="prescription-info">
  <div v-for="pre in platform_data">
    <div class="" style="padding:8px;">
      <label v-bind:for="pre.id">
        <input type="checkbox" v-bind:value="pre.id" v-bind:id="pre.id">
        <!-- <el-checkbox label=""> -->
        <!-- <div> -->
          <span style="display:none;" class="pre_id">{{pre.id}}</span>
          <span class="padding"><b>{{pre.name}}</b></span>
          <span class="padding"><b>{{pre.sex}}</b></span>
          <span class="padding"><b>{{pre.age}}岁</b></span>
        <!-- </div> -->
        <div>
          <span class="padding"><b><span style="color:rgb(195, 192, 192);">身份证号：</span>{{pre.iden}}</b></span>
          <span class="padding"><b><span style="color:rgb(195, 192, 192);">电话号码：</span>{{pre.phone}}</b></span>
        </div>
        <div>
          <span class="padding"><b><span style="color:rgb(195, 192, 192);">地址：</span>{{pre.address}}</b></span>
        </div>
      </el-checkbox>
      </label>
	  </div>
  <!-- show-summary
      sum-text = '总金额' -->
    <el-table
      :data="pre.lines"
      size="mini"
      style="width: 100%">
      <el-table-column
        prop="name"
        label="名称"
        style="min-width:35%;">
      </el-table-column>
      <el-table-column
        prop="specification"
        label="规格"
        style="min-width:30%;">
      </el-table-column>
      <el-table-column
        prop=""
        label="数量"
        style="">
        <template slot-scope="scope">
          <span style="display: inline-block; width: 70px;">{{ scope.row.qty }}</span>
        </template>
      </el-table-column>
      <el-table-column
        prop="unit"
        label="单位"
        style="">
      </el-table-column>
      <el-table-column
        prop=""
        align="right"
        label="单价"
        style="">
        <template slot-scope="scope">
          <span style="display: inline-block; width: 70px;">{{ scope.row.price | formatMoney(2)}}</span>
        </template>
      </el-table-column>
      <el-table-column
        prop="amount"
        align="right"
        label="金额"
        style="">
        <template slot-scope="scope">
          <span style="display: inline-block; width: 70px;">{{ scope.row.amount | formatMoney(2)}}</span>
        </template>
      </el-table-column>
    </el-table>
    <div class="">
      <div class="el-col-12 text-right total_amount" style="float:right;text-align:right;padding-right: 10px;">总金额: &nbsp;&nbsp;{{parseFloat(pre.amt) | formatMoney(2)}}<span></span></div>
    </div>

  </div>
</div>
