<div class="prescription_content" style="height:100%;">
	<div style="">
			<div class="prescription_form_title separate">
				<h3 style="text-align:center;">
					<b class="prescription_source_type">{{pre.source_org_name}}</b><br>
					<b>{{pre.pre_type}}</b>
				</h3>
			 	<div class="el-row" style="font-size:15px; overflow:hidden;border-bottom:1px solid #ddd;">
			  	<div class="el-col-12 text-left">处方号：<span>{{pre.order_code}}</span></b></div>
			  	<div class="el-col-12" style="text-align:right;">处方时间：<span>{{ pre.created_at | formatDate('yyyy-MM-dd HH:mm')}}</span></b></div>
			 	</div>					
			</div>

			<div style="line-height:17px; border-bottom:1px solid #ddd;margin-top: 5px;">
			 	<div class="el-row">
					<div class="el-col el-col-8 text-left patient_name">姓名:<span style="font-weight:bold;">{{pre.patient_name}}</span></div>
					<div class="el-col el-col-6 text-left patient_gender_name">性别:<span style="font-weight:bold;">{{pre.patient_sex}}</span></div>
					<div class="el-col el-col-10 text-left patient_age" style="word-break:keep-all;">年龄:<span style="font-weight:bold;">{{pre.patient_age}}</span></div>
			 	</div> 

			 	<div class="el-row">
					<div class="el-col el-col-14 text-left">病历号:<span>{{pre.patient_no}}</span></div>
					<div class="el-col el-col-10 text-left patient_nature">医疗类别: <span>{{pre.patient_nature}}</span></div>					
			 	</div>

			 	<div class="el-row">
					<!-- <div class="el-col el-col-14 text-left patient_addr biller_loc_name">科室/地址:{{pre.biller_loc_name}}</div> -->
					<div class="el-col el-col-14 text-left patient_addr biller_loc_name">科室:{{pre.encounter_loc}}</div>
			 	</div>

			 	<div class="el-row">
			 		<div class="el-col-14 text-left diagnoses" style="padding-right:0;">临床诊断: <span>{{pre.diagnoses}}</span></div>
			   	<div class="el-col-10 text-left patient_iden">身份证: <span>{{pre.patient_iden}}</span></div>
			 	</div>
			</div>

			<div class="prescription_item_info separate" style="border-bottom:1px solid #ddd;">
				<div class="" style="font-family:拉丁文;font-size:30px;text-align:left;">R:</div>
				<div class="item_list" v-for="(line,index) in pre.details">
					<div class="el-row" style="margin-left:1px;"> 
						<div class="el-col-2" style="width:20%;">{{line.name}}</div>
						<div class="el-col-2" style="width:18%;">{{line.specifications}}</div>
						<div class="el-col-2" style="width:5%;">{{line.dose}}</div>
						<div class="el-col-2" style="width:12%;">{{line.route}}</div>
						<div class="el-col-2" style="width:10%;">{{line.frequency}}</div>
						<div class="el-col-2" style="width:6%;text-align:right;">{{line.quantity}}{{line.unit}}</div>
						<div class="el-col-2" style="width:14%; text-align:right;">{{format_price(line.price)}}</div>
						<div class="el-col-2" style="width:15%; text-align:right;">{{format_price(line.net_amt)}}</div>
					</div>
			  </div>
			  <div class="el-row" style="text-align:center;position:relative;margin-left:1px;">（以下为空白）</div>
			</div>
	</div>

	<div class="prescription_footer">
		<div class="el-row" style="margin:0;margin-top: 5px;">
			<div class="el-col-12">医生: <span>{{pre.doctor}}</span></div>
			<div class="el-col-12 total_amount" style="float:right;text-align:right;">金额: <span>{{format_price(pre.amt)}}</span></div>
		</div>
		<div class="btns" style="text-align:right; min-height:30px;" v-if="pre&&pre.order_code">
          <span>
            <button type="button" class="el-button el-button--primary el-button--mini" v-on:click="printPrescription_return()">打印</button>
          </span>
        </div>
	</div>

	<!-- 用于处方打印的隐藏框 -->
	<div class="print-prescription-wrapper" id = "print_prescription_return" style="display: none;" v-if="pre&&pre.order_code">
		<!-- <prescriptionprint :prescription="printPresRow"></prescriptionprint> -->
		<!-- 打印处方的内容 -->
		<%= render "ims/home/render/print_prescription"%>
	</div>

</div>