<div class="ims-print-report-area" style="display: none;" v-if="printEles && printEles.length>0">
	<div class="ims-print-report-table" v-for="(item, index) in printEles" :key="index">
		<h3 align="center">订单汇总表[已发药][医院]</h3>
		<table>
			<tr><td colspan="6">医院名称：{{item.name}}</td></tr>
			<tr><td colspan="6">时间：<span v-if="filter.range">{{filter.range[0] | formatDate}} - {{filter.range[1] | formatDate}}</span></td></tr>
			<tr>
				<td width="50%">药品名称</td>
				<td align="center" width="10%">规格</td>
				<td align="center" width="10%">数量</td>
				<td align="center" width="10%">单位</td>
				<td align="right" width="10%">单价</td>
				<td align="right" width="10%">金额</td>
			</tr>
			<tr v-for="(drug, key) in (item.drugs||[])" :key="key">
				<td>{{ drug.title }}</td>
				<td align="center">{{ drug.specification }}</td>
				<td align="center">{{ drug.total_qty }}</td>
				<td align="center">{{ drug.unit }}</td>
				<td align="right">{{ drug.price }}</td>
				<td align="right">{{ drug.total_amount | formatMoney(2)}}</td>
			</tr>
			<tr><td colspan="3" style="border-right: none;">医院名称：{{item.name}}</td><td colspan="3" align="right">小计：{{item.total_amount | formatMoney(2)}}</td></tr>
		</table>
		<br/>
	</div>
</div>