<div id="prescription_main_panel">
	<div class="prescription_list_panel">
		<div>订单列表</div>
		<div class="el-input el-input--mini" style="padding:12px;">
			<el-input
			  placeholder="搜索(F3) 订单号 / 手机号 "
			  prefix-icon="el-icon-search"
			  v-model="return_order_search"
			  @keyup.enter.native="return_order_search_fun"
			  >
			</el-input>
		</div>
	  <el-tabs v-model="return_list_panel" type="card" @tab-click="get_return_pres">
	    <el-tab-pane label="已发药" name="5"></el-tab-pane>
	    <el-tab-pane label="已退药" name="7"></el-tab-pane>
				<el-row :gutter="20" v-for="order in return_order_lists" class="pre_list" @click.native="get_return_order(order.order_id,$event)">
					<el-col :span="6" style="width:120px;">{{ order.created_at | formatDate('yy-MM-dd')}}</el-col>
					<el-col :span="6" style="width:calc(100% - 280px);overflow-x:hidden;">{{order.order_code}}</el-col>
					<el-col :span="6" style="width:80px;">{{order.patient_name}}</el-col>
					<el-col :span="6" style="width:80px; padding-left:0px; text-align:right;">{{format_price(order.amt)}}</el-col>
				</el-row>
	  </el-tabs>
	</div>

	<div class="prescription_detail_panel">
		<div>订单详情</div>
		<%= render "ims/home/render/prescription_panel_return"%>
	</div>

</div>