<template id="my_temp_order">
	<div style="">
		<ul class="mui-table-view order_item" :data-href="'/customer/home/order?id='+order.id" style="margin-bottom: 8px;">
			<li class="mui-table-view-cell">
				<a href="javascript:;">
					<span>No: {{order.order_code}}</span>
					<span class="common_green" style="float: right;">
						<!-- <span v-if="order.payment_type=='1'"> -->
							<span v-if="order.status=='1'">待付款</span>
							<span v-if="order.status=='2'">已收费</span>
							<span v-if="order.status=='3'">未发货</span>
							<span v-if="order.status=='4'">已发货</span>
							<span v-if="order.status=='5'">交易完成</span>
							<span v-if="order.status=='6'">已退药</span>
							<span v-if="order.status=='7'">交易关闭</span>
						<!-- </span> -->
						<!-- <span v-if="order.payment_type=='2'">到店支付</span> -->
					</span>
				</a>
			</li>
			<li class="mui-table-view-cell">
				<a href="javascript:;">
					<!-- <i class="fal fa-store-alt mui-media-object mui-pull-left" style="width: 42px;font-size:32px;color: #8A8782;text-align: center;"></i> -->
					<img class="mui-media-object mui-pull-left head-img" src="/assets/customer/pharmacy.png">
					<div class="mui-media-body">
						<span>{{order.organ&&order.organ.name||"　"}}</span>
						<p class="mui-ellipsis" style="font-size: 12px;padding-right: 64px;">{{order.organ&&order.organ.addr||"　"}}</p>
					</div>
					<ul class="mui-table-view" style="margin: 15px 0;">
						<li class="mui-table-view-cell no_background" v-for="drug in order.drugs" style="padding-left: 0;">
							<div href="javascript:;" class="">
								<!-- <img class="mui-media-object mui-pull-left" src="/assets/customer/drug.jpg" style="border: 1px solid #ddd;border-radius: 50%;"> -->
								<!-- <i class="fal fa-capsules mui-media-object mui-pull-left" style="width: 42px;font-size:32px;color: #8A8782;text-align: center;"></i> -->
								<img class="mui-media-object mui-pull-left" src="/assets/customer/drug.jpg" style="height: 80px; width: 80px; max-width: none;">
								<div class="mui-media-body">
									{{drug.name}}
									<p class="mui-ellipsis">
										<p style="padding-top: 6px;">{{drug.specifications}}</p>
										<p style="padding-top: 6px;"><span class="common_red" style="">¥ <span style="font-size: 1.5em;">{{format_float(drug.price)}}</span></span> x {{drug.quantity}} {{drug.unit}}</p>
									</p>
								</div>
							</div>
						</li>
					</ul>
					<div style="line-height: 33px;">
						合计 <span class="common_red" style="">¥ <span style="font-size: 1.5em;">{{format_float(order.total_price)}}</span></span>
						<span v-if="order.payment_type=='2'">（到店支付）</span>
						<span style="float: right;" class="common_grey">{{order.reason}}</span>
					</div>
				</a>
			</li>
		</ul>
		<div style="text-align: right;padding-right: 8px;">
			<button type="button" @click="cancel_order(order.id)" v-if="order.status=='1'">取消订单</button>
			<template v-if="order.payment_type=='1'">
				<button type="button" :onclick="'location.href=\'/customer/portal/pay?id='+order.id+'\''" v-if="order.status=='1'">去支付</button>
				<button type="button" @click="refund_order(order.id)" v-if="order.status=='2'||order.status=='6'">申请退款</button>
			</template>
		</div>
	</div>
</template>
<script type="text/javascript">
	Vue.component('my-order', {
		template:"#my_temp_order",
		props: ['order'],
		methods:{
			format_float:function(value) {
				return (parseFloat(value)||0).toFixed(2);
			},
			refund_order:function(id) {
				var btnArray = ['取消', '确定'];
				mui.confirm('审核通过后，系统将自动将您的钱退还到支付账号，确定申请退吗？', '申请退款', btnArray, function(e) {
					if (e.index == 1) {
						$("#loading").show();
						$.ajax({
							url:"/interfaces/refund_order",
							type:'post',
							data:{id:id},
							success:function(json) {
								if (json.flag) {
									location.reload();
								}else{
								}
								mui.toast(json.info);
							},
							complete:function() {
								$("#loading").hide();
							},
							error:function(e) {
								mui.toast("订单操作失败");
							}
						})
					} else {
					}
				})
			},
			cancel_order:function(id) {
				var btnArray = ['取消', '确定'];
				mui.confirm('在处方有效期内，可以再次提交，您确定取消该订单吗？', '取消订单', btnArray, function(e) {
					if (e.index == 1) {
						$("#loading").show();
						$.ajax({
							url:"/interfaces/cancel_order",
							type:'post',
							data:{id:id},
							success:function(json) {
								if (json.ret_code == "0") {
									location.reload();
								}else{
								}
								mui.toast(json.info);
							},
							complete:function() {
								$("#loading").hide();
							},
							error:function(e) {
								mui.toast("订单操作失败");
							}
						})
					} else {
					}
				})
			},
		},
	})
</script>