<style>
	.area {
		margin: 20px auto 0px auto;
	}
	.mui-input-group:first-child {
		margin-top: 20px;
	}
	.mui-input-group label {
		width: 34%;
	}
	.mui-input-row label~input,
	.mui-input-row label~select,
	.mui-input-row label~textarea {
		width: 66%;
	}
	@media screen and (max-width: 360px){
		.mui-input-group label {
			width: 40%;
		}
		.mui-input-row label~input,
		.mui-input-row label~select,
		.mui-input-row label~textarea {
			width: 60%;
		}
	}
	.mui-checkbox input[type=checkbox],
	.mui-radio input[type=radio] {
		top: 6px;
	}
	.mui-content-padded {
		margin-top: 25px;
	}
	.mui-btn {
		/*padding: 10px;*/
	}
	body{
		font-size: 17px;
	}
</style>
<header class="my_top_nav mui-bar mui-bar-nav">
	<a href="/customer/home" class="mui-icon mui-icon-left-nav mui-pull-left"></a>
	<h1 class="mui-title">修改密码</h1>
</header>
<div class="mui-content">
	<form class="mui-input-group" action="/customer/home/save_password" method="post">
		<%= render '/customer/form_token',method:'put' %>
		<div class="mui-input-row">
			<label>原密码</label>
			<input maxlength="16" id='old_password' type="password" class="mui-input-clear mui-input" placeholder="" name="users[old_password]">
		</div>
		<div class="mui-input-row">
			<label>新密码</label>
			<input maxlength="16" id='new_password' type="password" class="mui-input-clear mui-input" placeholder="" name="users[new_password]">
		</div>
		<div class="mui-input-row">
			<label>确认密码</label>
			<input maxlength="16" id='confirm_password' type="password" class="mui-input-clear mui-input" placeholder="" name="users[confirm_password]">
		</div>
	</form>
	<div class="mui-content-padded" style="margin: 30px 80px;">
		<button id="submit_button" onclick="valide_form();" class="mui-btn mui-btn-block mui-btn-primary common_bg_green" style="border: 0;border-radius: 16px;padding: 4px;">保存</button>
	</div>
	<div class="mui-content-padded" style="text-align: right;">
		<a href="/customer/home/forget_password" style="font-size: 12px;color: #aaa;">忘记密码?</a>
	</div>
</div>
<script src="/assets/plugins/mui/mui.picker.min.js"></script>
<link rel="stylesheet" type="text/css" href="/assets/plugins/mui/mui.picker.min.css">
<script type="text/javascript">
	$("select").each(function(i,v) {
		if ($(v).attr('value')) {
			$(v).val($(v).attr('value'));
		}
	})
	<% if flash[:notice].present? %>
	mui.toast("<%= ( flash[:notice].is_a?(Array) ? flash[:notice].join : flash[:notice] ) rescue nil %>");
	<% end -%>
	function valide_form(){
		if( !$("#old_password").val() ){
			mui.toast('原密码不能为空');
			return false;
		}else if( !($("#new_password").val().length>=6) ){
			mui.toast("密码长度至少6位");
		}else if( $("#new_password").val()!=$("#confirm_password").val() ){
			mui.toast("两次密码输入不匹配");
		}else{
			$("#submit_button").attr("disabled",true);
			$('form').submit();
		}
	}
	// function forget_password() {
	// 	// location.href='/users/sign_up?forget_password=true&login=<%= current_user %>'
	// }
</script>