<style type="text/css">
	html,body,.mui-content{
		height: 100%;
		overflow: hidden;
		background: #fff;
	}
	.mui-content{
		overflow: auto;
		/*padding-bottom: 60px;*/
	}
	.mui-table-view-cell.no_background:after{
		background: none;
	}
	.mui-table-view.no_background:after{
		background: none;
	}
	.mui-content .mui-active{
		background: none !important;
	}
</style>
<header class="my_top_nav mui-bar mui-bar-nav">
	<a href="/customer/home/orders" class="mui-left mui-btn mui-btn-link mui-btn-nav mui-pull-left">
		<span class="mui-icon mui-icon-left-nav"></span>
	</a>
	<h1 class="mui-title">订单详情</h1>
</header>
<div class="mui-content" id="vue_content" v-cloak>
	<div v-if="order" style="">
		<my-order :order="order"></my-order>
		<div style="padding-left: 12px;">
			<div class="common_grey">订单编号：{{order.order_code}}</div>
			<div class="common_grey">下单时间：{{new Date(order.created_at).pattern('yyyy-MM-dd HH:mm:ss')}}</div>
			<div class="common_grey">发票：
				<template v-if="order.invoice">
					<span v-if="order.invoice.type_class=='1'">纸质发票</span>
					<span v-if="order.invoice.type_class=='2'">电子发票</span>
				</template>
				<template v-else>
					<span>无</span>
				</template>
			</div>
		</div>
		<div style="text-align: center;padding-bottom: 30px;">
			<template v-if="order.status=='2'||(order.payment_type=='2'&&(order.status=='1'||order.status=='2'))">
				<img :src="order.base64_img" style="width: 100%;max-width: 222px;">
				<div class="common_green">
					请向药店药师出示该二维码或订单编号
				</div>
			</template>
			<template v-else></template>
		</div>
	</div>
</div>
<%= render "common_order" %>
<script type="text/javascript">
	new Vue({
		el:"#vue_content",
		data:{
			order:null,
		},
		methods:{
			get_orders:function() {
				var _this = this;
				$("#loading").show();
				$.ajax({
					url:'/interfaces/get_orders.json?id=<%= params[:id] %>',
					// data:{per:10},
					success:function(json) {
						if (json.flag) {
							_this.order = json.order;
						}else{
							mui.toast(json.info);
						}
					},
					complete:function() {
						$("#loading").hide();
					},
					error:function(e) {
						mui.toast("订单获取失败");
					}
				})
			},
		},
		mounted:function() {
			this.get_orders();
		}
	})
</script>