<style type="text/css">
	html,body,.mui-content{
		height: 100%;
		overflow: hidden;
	}
	.mui-content{
		overflow: auto;
		/*padding-bottom: 60px;*/
	}
	.mui-table-view-cell.no_background:after{
		background: none;
	}
	.mui-table-view.no_background:after{
		background: none;
	}
</style>
<header class="my_top_nav mui-bar mui-bar-nav">
	<a href="/customer/home" class="mui-left mui-btn mui-btn-link mui-btn-nav mui-pull-left">
		<span class="mui-icon mui-icon-left-nav"></span>
	</a>
	<h1 class="mui-title">我的订单</h1>
</header>
<div class="mui-content" id="vue_content">
	<ul class="mui-table-view" style="margin-bottom: 22px;" v-for="item in orders">
		<li class="mui-table-view-cell" style="padding: 11px 15px;overflow: visible;">
			<a :href="'/customer/home/order?id='+item.id">
				<!-- <img class="mui-media-object mui-pull-left head-img" id="head-img" src="/assets/admin/TM.png"> -->
				<i class="fal fa-store-alt mui-media-object mui-pull-left" style="width: 42px;font-size:32px;color: #8A8782;text-align: center;"></i>
				<div class="mui-media-body">
					<span>{{item.organ.name||"　"}}</span>
					<span style="float: right;color: #F55742;">
						<span v-if="item.payment_type=='1'">
							<span v-if="item.status=='1'">未付款</span>
							<span v-if="item.status=='2'">已付款</span>
							<span v-if="item.status=='3'">未发货</span>
							<span v-if="item.status=='4'">已发货</span>
							<span v-if="item.status=='5'">交易成功</span>
							<span v-if="item.status=='6'">交易关闭</span>
							<span v-if="item.status=='7'">交易取消</span>
						</span>
						<span v-if="item.payment_type=='2'">到店支付</span>
					</span>
					<p class="mui-ellipsis" style="font-size: 12px;padding-right: 64px;">{{item.organ.addr||"　"}}</p>
				</div>
				<ul class="mui-table-view" style="margin: 15px 0;">
					<li class="mui-table-view-cell no_background" v-for="drug in item.drugs" style="padding-left: 0;">
						<div href="javascript:;" class="">
							<!-- <img class="mui-media-object mui-pull-left" src="/assets/customer/drug.jpg" style="border: 1px solid #ddd;border-radius: 50%;"> -->
							<i class="fal fa-capsules mui-media-object mui-pull-left" style="width: 42px;font-size:32px;color: #8A8782;text-align: center;"></i>
							<div class="mui-media-body">
								{{drug.name}}
								<p class="mui-ellipsis">
									{{drug.specifications}}
									<span style="float: right;">¥ {{format_float(drug.price)}} x {{drug.quantity}} {{drug.unit}}</span>
								</p>
							</div>
						</div>
					</li>
				</ul>
				<div style="line-height: 33px;">
					合计 <span style="color: #FF376F;">¥ {{format_float(item.total_price)}}</span>
				</div>
			</a>
		</li>
	</ul>
</div>
<script type="text/javascript">
	new Vue({
		el:"#vue_content",
		data:{
			orders:[],
		},
		methods:{
			format_float:function(value) {
				return (parseFloat(value)||0).toFixed(2);
			},
			get_orders:function() {
				var _this = this;
				$("#loading").show();
				$.ajax({
					url:'/interfaces/get_orders',
					data:{per:10},
					success:function(json) {
						if (json.flag) {
							_this.orders = json.rows;
						}else{
							_this.$message(json.info);
						}
					},
					complete:function() {
						$("#loading").hide();
					},
					error:function(e) {
						mui.toast("订单获取失败");
					}
				})
			},
		},
		mounted:function() {
			this.get_orders();
		}
	})
</script>