<style type="text/css">
	html,body,.mui-content{
		height: 100%;
		overflow: hidden;
	}
	.mui-content{
		overflow: auto;
		/*padding-bottom: 60px;*/
	}
	.mui-table-view-cell.no_background:after{
		background: none;
	}
	.mui-table-view.no_background:after{
		background: none;
	}
	.mui-slider .mui-slider-group .mui-slider-item .mui-table-view:after, .mui-slider .mui-slider-group .mui-slider-item .mui-table-view:before{
		height: 1px;
	}
	.mui-content .mui-active{
		background: none !important;
	}
</style>
<header class="my_top_nav mui-bar mui-bar-nav">
	<a href="/customer/home" class="mui-left mui-btn mui-btn-link mui-btn-nav mui-pull-left">
		<span class="mui-icon mui-icon-left-nav"></span>
	</a>
	<h1 class="mui-title">我的订单</h1>
</header>
<div class="mui-content" id="vue_content">
	<div class="mui-slider" style="height: 100%;">
		<div id="sliderSegmentedControl" class="mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
			<a class="mui-control-item" href="#item1mobile">
				可使用
			</a>
			<a class="mui-control-item" href="#item2mobile">
				全部订单
			</a>
		</div>
		<div id="sliderProgressBar" class="mui-slider-progress-bar mui-col-xs-6"></div>
		<div class="mui-slider-group" style="height: calc( 100% - 40px );">
			<div id="item1mobile" style="overflow: auto;" class="mui-slider-item mui-control-content mui-active">
				<div v-for="order in not_used_orders" style="margin-bottom: 16px;">
					<my-order :order="order"></my-order>
				</div>
			</div>
			<div id="item2mobile" style="overflow: auto;" class="mui-slider-item mui-control-content">
				<div v-for="order in orders" style="margin-bottom: 16px;">
					<my-order :order="order"></my-order>
				</div>
			</div>
		</div>
	</div>
</div>
<%= render "common_order" %>
<script type="text/javascript">
	new Vue({
		el:"#vue_content",
		data:{
			orders:[],
		},
		computed:{
			not_used_orders:function() {
				return this.orders.filter(function(item) {
					return item.status=='1'||item.status=='2';
				})
			}
		},
		methods:{
			get_orders:function() {
				var _this = this;
				$("#loading").show();
				var per = 3;
				var page = Math.ceil(_this.orders.length/per)+1;
				$.ajax({
					url:'/interfaces/get_orders.json?page='+page+'&per='+per,
					// data:{per:10},
					success:function(json) {
						if (json.flag) {
							_this.orders = json.rows;
						}else{
							mui.toast(json.info);
						}
					},
					complete:function() {
						$("#loading").hide();
					},
					error:function(e) {
						mui.toast("订单获取失败");
					}
				})
			},
		},
		mounted:function() {
			this.get_orders();
			// $("#vue_content").on("touchstart",function(e) {
			// 	console.log( 'xxxxxxxx 0',e );
			// })
			// $("#vue_content").on("touchmove",function(e) {
			// 	console.log( 'xxxxxxxx 1',e );
			// })
			// alert( navigator.userAgent );
			if( navigator.userAgent.indexOf("Mac")>-1 ){
				$("#vue_content").on("touchstart", function(e) {
					// e.preventDefault();
					startX = e.originalEvent.changedTouches[0].pageX,
					startY = e.originalEvent.changedTouches[0].pageY;
				});
				$("#vue_content").on("touchmove", function(e) {
					// e.preventDefault();
					moveEndX = e.originalEvent.changedTouches[0].pageX,
					moveEndY = e.originalEvent.changedTouches[0].pageY,
					X = moveEndX - startX,
					Y = moveEndY - startY;

					if ( Math.abs(X) > Math.abs(Y) && X > 0 ) {
						// console.log("left 2 right");
						e.preventDefault();
						return false
					}
					else if ( Math.abs(X) > Math.abs(Y) && X < 0 ) {
						// console.log("right 2 left");
						e.preventDefault();
						return false
					}
					else if ( Math.abs(Y) > Math.abs(X) && Y > 0) {
						// console.log("top 2 bottom");
					}
					else if ( Math.abs(Y) > Math.abs(X) && Y < 0 ) {
						// console.log("bottom 2 top");
					}
					else{
						// console.log("just touch");
					}
				});
			}
		}
	})
</script>