<style type="text/css">
	html,body,.mui-content{
		/*height: 100%;*/
		/*overflow: hidden;*/
	}
	.mui-content{
		/*overflow: auto;*/
		/*padding-bottom: 60px;*/
	}
	.mui-table-view-cell.no_background:after{
		background: none;
	}
	.mui-table-view.no_background:after{
		background: none;
	}
	.mui-table-view:before{
		height: 1px;
	}
	.mui-table-view:after{
		height: 0;
	}
	.mui-table-view-cell{
		/*padding: 13px 15px 0;*/
	}
	.mui-table-view-cell:last-child{
		padding-bottom: 13px;
	}
	.mui-content .mui-active{
		background: none !important;
	}
	.prescription_item:not(:last-child){
		margin-bottom: 22px;
	}
</style>
<header class="my_top_nav mui-bar mui-bar-nav">
	<a href="/customer/home" class="mui-left mui-btn mui-btn-link mui-btn-nav mui-pull-left">
		<span class="mui-icon mui-icon-left-nav"></span>
	</a>
	<h1 class="mui-title">我的处方</h1>
</header>
<div id="vue_content" class="mui-content mui-scroll-wrapper" v-cloak>
	<div class="mui-scroll">
		<div>
			<ul @click="alert('xxx')" class="mui-table-view prescription_item" style="" v-for="item in prescriptions">
				<li class="mui-table-view-cell">
					<a :href="'/customer/home/prescription?id='+item.id">
						<span>No: {{item.prescription_no}}（{{item.name}}）</span>
						<span style="float: right;color: #F55742;">
							<span v-if="item.status=='0'">未审核</span>
							<span v-if="item.status=='1'">已审核</span>
							<span v-if="item.status=='2'">待收费</span>
							<span v-if="item.status=='3'">已收费</span>
							<span v-if="item.status=='4'">已发药</span>
							<span v-if="item.status=='7'">废弃</span>
							<span v-if="item.status=='8'">已退药</span>
							<span v-if="item.status=='9'">已退费</span>
						</span>
						<span v-if="!item.is_read" class="mui-badge common_bg_red" style="position: absolute;right: 12px;top: 16px; padding: 4px;"></span>
					</a>
				</li>
				<li class="mui-table-view-cell" style="padding: 11px 15px;overflow: visible;">
					<a :href="'/customer/home/prescription?id='+item.id">
						<div>
							<!-- <img class="mui-media-object mui-pull-left head-img" id="head-img" src="/assets/admin/TM.png"> -->
							<i class="fal fa-hospital mui-media-object mui-pull-left" style="width: 42px;font-size:32px;color: #8A8782;text-align: center;"></i>
							<div class="mui-media-body">
								<div>
									<span>{{item.org.display}}</span>
									<span style="float: right;">{{item.created_at.slice(0,10)}}</span>
								</div>
								<p class="mui-ellipsis" style="font-size: 12px;">
									{{show_diagnoses(item.diagnoses)}}
									<span style="float: right;">{{item.author.display}}</span>
								</p>
							</div>
						</div>
						<ul class="mui-table-view" style="margin: 15px 0 0;">
							<li class="mui-table-view-cell no_background" v-for="drug in item.orders" style="padding-left: 0;">
								<div href="javascript:;" class="">
									<!-- <img class="mui-media-object mui-pull-left" src="/assets/customer/drug.jpg" style="border: 1px solid #ddd;border-radius: 50%;"> -->
									<!-- <i class="fal fa-capsules mui-media-object mui-pull-left" style="width: 42px;font-size:32px;color: #8A8782;text-align: center;"></i> -->
									<div class="mui-media-body">
										{{drug.title}}
										<p class="mui-ellipsis" style="float: right;">
											<span>{{drug.specification}}</span>
										</p>
										<p class="mui-ellipsis">
											<span style="margin-right: 10px;color: #F55742;">{{drug.route.display}}</span>
											<span style="margin-right: 10px;color: #F55742;">{{drug.dose.value}}{{drug.dose.unit}}</span>
											<span style="color: #F55742;">{{drug.frequency.display}}</span>
											<span style="float: right;">¥ {{format_float(drug.price)}} x {{drug.total_quantity}} {{drug.unit}}</span>
										</p>
									</div>
								</div>
							</li>
						</ul>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>
<script type="text/javascript">
	var current_app = new Vue({
		el:"#vue_content",
		data:{
			prescriptions:[],
		},
		methods:{
			show_diagnoses:function(diagnoses) {
				return (diagnoses||[]).map(function(v) {
					return v.display;
				}).join("。")
			},
			format_float:function(value) {
				return (parseFloat(value)||0).toFixed(2);
			},
			get_prescriptions:function(pulltype) {
				// console.log( '~~~~~~',pulltype );
				var _this = this;
				$("#loading").show();
				var per = 3;
				var page = Math.ceil(_this.prescriptions.length/per)+1;
				$.ajax({
					url:'/hospital/prescriptions/get_all_prescriptions_by_phone?phone=<%= current_user.login %>&page='+page+'&per='+per,
					success:function(json) {
						if (pulltype=='pulldown') {
							if (json.flag) {
								_this.prescriptions = json.data;
							}
							mui('#vue_content').pullRefresh().endPulldownToRefresh();
							mui('#vue_content').pullRefresh().enablePullupToRefresh();
						}else if(pulltype=='pullup'){
							if (json.flag) {
								json.data.map(function(item) {
									_this.prescriptions.push(item);
								})
							}
							// console.log( _this.prescriptions.length,json.count );
							mui('#vue_content').pullRefresh().endPullupToRefresh(_this.prescriptions.length>=json.count); //参数为true代表没有更多数据了。
						}
						if (json.flag) {
						}else{
							_this.$message(json.info);
						}
					},
					complete:function() {
						$("#loading").hide();
					},
					error:function(e) {
						mui.toast("处方获取失败");
					}
				})
			},
			pulldown:function() {
				this.get_prescriptions('pulldown');
			},
			pullup:function() {
				this.get_prescriptions('pullup');
			},
		},
		mounted:function() {
			var _this = this;
			mui.init({
				pullRefresh: {
					container: '#vue_content',
					down: {
						style:'circle',
						callback: _this.pulldown
					},
					up: {
						auto:true,
						contentrefresh: '正在加载...',
						callback: _this.pullup
					}
				}
			});
			// _this.get_prescriptions();
		}
	})

</script>