<style type="text/css">
	html,body,.mui-content{
		height: 100%;
		overflow: hidden;
		background: #fff;
	}
	.mui-content{
		overflow: auto;
		/*padding-bottom: 60px;*/
	}
	.mui-table-view-cell.no_background:after{
		background: none;
	}
	.mui-table-view.no_background:after{
		background: none;
	}
	.mui-content .mui-active{
		background: none !important;
	}
	.mui-table-view-cell.no_background:after{
		background: none;
	}
	.mui-table-view.no_background:after{
		background: none;
	}
	.mui-table-view:before{
		height: 1px;
	}
	.mui-table-view:after{
		height: 0;
	}
	.list_info{
		padding: 10px 5px;
		border-bottom: 1px solid #333;
	}
	.list_info .item{
		margin: 0;
		padding: 0;
		line-height: 20px;
		float: left;
		width: 100%;
	}
	.list_info .drug_item:not(:last-child){
		margin-bottom: 10px;
	}
</style>
<header class="my_top_nav mui-bar mui-bar-nav">
	<a href="<%= params[:return]=='root' ? '/' : '/customer/home/prescriptions' %>" class="mui-left mui-btn mui-btn-link mui-btn-nav mui-pull-left">
		<span class="mui-icon mui-icon-left-nav"></span>
	</a>
	<h1 class="mui-title">处方详情</h1>
</header>
<div class="mui-content" id="vue_content" v-cloak>
	<div v-if="prescription" style="padding: 0 12px;">
		<div style="position: relative;text-align: center;padding: 13px 0;">
			<h4 style="font-weight: 500;">{{prescription.org.display}}</h4>
			<h4 style="font-weight: 500;">处方笺</h4>
			<span style="border: 1px solid;padding: 5px;position: absolute;left: 0;top: 15px;margin: 0; font-weight: 500;" v-if="prescription.type.display">{{prescription.type.display.split("处方")[0]}}</span>
			<span style="padding: 5px;position: absolute;right: 0;top: 15px;margin: 0; font-weight: 500; color: #F44868;">№{{prescription.prescription_no}}</span>
		</div>
		<div style="padding: 0 0 8px;border-bottom: 1px solid #666;">
			<span>{{prescription.encounter_loc.display}}</span>
			<span style="float: right;" v-if="prescription.created_at">{{prescription.created_at.split(" ")[0]}}</span>
		</div>
		<div class="list_info" style="">
			<div class="item" style="width: 50%;"><i class="far fa-fw fa-user" style="color: #337ab7;"></i> {{prescription.name}}&#12288;{{prescription.gender.display}}&#12288;{{prescription.age}}</div>
			<div class="item" style="width: 50%;"><i class="far fa-fw fa-phone" style="color: #337ab7;"></i> {{prescription.phone}}</div>
			<div class="item" style="width: 50%;"><i class="fal fa-fw fa-id-card" style="color: #337ab7;"></i> {{prescription.iden}}</div>
			<div class="item" style="width: 50%;"><i class="far fa-fw fa-map-marker" style="color: #337ab7;"></i> {{prescription.address}}</div>
			<div class="item">
				<i class="far fa-fw fa-diagnoses" style="color: #337ab7;"></i> {{show_diagnoses(prescription.diagnoses)}}
				<div style="float: right;"><i class="far fa-fw fa-user-md" style="color: #337ab7;"></i> {{prescription.author.display}}</div>
			</div>
			<div class="clear"></div>
		</div>
		<div class="list_info">
			<!-- <p class="item">药品清单</p> -->
			<span style="font-size: 200%;">℞</span>
			<div style="min-height: 150px;">
				<div class="drug_item" v-for="drug in prescription.orders">
					<div>
						{{drug.title}}&#12288;<small>{{drug.specification}}</small>
						<small style="float: right;">{{drug.total_quantity}} {{drug.unit}}  × ¥{{format_float(drug.price)}}</small>
					</div>
					<div style="color: #666; font-size: 80%; line-height: 90%;">{{drug.route.display}}&#12288;{{drug.dose.value}}{{drug.dose.unit}}&#12288;{{drug.frequency.display}}</div>
				</div>
			</div>
			<div class="drug_item" style="text-align: right;">总计：¥ {{prescription.price}}</div>
		</div>
		<div style="padding-top: 6px;">
			<div style="width: 49.9%;float: left;">审核、配方：{{prescription.auditor&&prescription.auditor.display}}</div>
			<div style="width: 50%;float: left;">核对、发药：{{prescription.delivery&&prescription.delivery.display}}</div>
			<!-- <div style="width: 49.9%;float: left;">医师：{{prescription.author.display}}</div> -->
			<!-- <div style="width: 50%;float: left;">总计：{{prescription.price}}</div> -->
		</div>
	</div>
</div>
<script type="text/javascript">
	new Vue({
		el:"#vue_content",
		data:{
			prescription:null,
		},
		methods:{
			show_diagnoses:function(diagnoses) {
				return (diagnoses||[]).map(function(v) {
					return v.display;
				}).join("。")
			},
			format_float:function(value) {
				return (parseFloat(value)||0).toFixed(2);
			},
			get_prescription:function() {
				var _this = this;
				$("#loading").show();
				$.ajax({
					url:'/customer/home/prescription.json?id=<%= params[:id] %>',
					data:{per:10},
					success:function(json) {
						if (json.flag) {
							_this.prescription = json.prescription;
						}else{
							mui.toast(json.info);
						}
					},
					complete:function() {
						$("#loading").hide();
					},
					error:function(e) {
						mui.toast("获取失败");
					}
				})
			},
		},
		mounted:function() {
			this.get_prescription();
		}
	})
</script>