<style type="text/css">
	/*input::-webkit-input-placeholder {
		color:#fff;
	}
	input:-moz-placeholder {
		color:#fff;
	}
	input::-moz-placeholder {
		color:#fff;
	}
	input:-ms-input-placeholder {
		color:#fff;
	}*/
	html,body,.mui-content{
		/*height: 100%;*/
		/*overflow: hidden;*/
	}
	.mui-content{
		/*overflow: auto;*/
	}
	#search_content .search_results{
		opacity: 0
	}
	#search_content .search_results *{
		font-size: 12px;
	}
	#search_content{
		width: 100%;
		height: 60px;
		overflow: hidden;
		padding: 20px 40px 0;
	}
	#search_content,#search_content *{
		transition: all .25s;
	}
	#search_input{
		padding-left: 40px;font-size: 12px;border-radius: 18px;margin: 0;
	}
	#search_content.on{
		position: fixed;
		top: 0;
		background: #fff;
		z-index:  999;
		padding: 0;
		height: 100%;
	}
	#search_content.on .search_results{
		opacity: 1;
	}
	#search_content.on #search_input{
		border-radius: 0;
	}
	.mui-table-view-cell.no_background:after{
		/*background: none;*/
	}
	#search_content .mui-icon-arrowleft{
		display: none;
	}
	#search_content.on .mui-icon-search{
		display: none;
	}
	#search_content.on .mui-icon-arrowleft{
		display: block;
	}
	.mui-table-view:after,.mui-table-view:before{
		height: 1px;
	}
	.mui-content .mui-active{
		background: none !important;
	}
	.mui-checkbox input[type=checkbox]:before, .mui-radio input[type=radio]:before{
		font-size: 20px;
	}
	.mui-table-view-cell:after{
		left: 0;
	}
</style>
<div class="mui-content" id="vue_content" v-cloak>
	<div id="search_content">
		<div class="mui-input-row search_header_row">
			<i class="mui-icon mui-icon-search" style="font-size: 20px; position: absolute; z-index: 1; top: 10px; left: 0; width: 38px; height: 38px; text-align: center; color: #999; " onclick="document.getElementById('search_input').focus();"></i>
			<i class="mui-icon mui-icon-arrowleft" style="font-size: 20px; position: absolute; z-index: 1; top: 10px; left: 0; width: 38px; height: 38px; text-align: center; color: #999; " onclick="$('#search_content').removeClass('on');$('#bottom_tabs').show(300);"></i>
			<input id="search_input" v-model="search_str" type="text" class="mui-input" placeholder="您想去哪取药" autocomplete="off">
			<span v-if="search_str" @click="search_str='';" class="mui-icon mui-icon-clear" style=" font-size: 20px; position: absolute; z-index: 1; top: 10px; right: 0; width: 38px; height: 38px; text-align: center; color: #999;"></span>
		</div>
		<div class="search_results" style="height: calc( 100% - 40px );overflow: auto;">
			<template v-if="pharmacys&&pharmacys.length">
				<ul class="mui-table-view">
					<li @click="click_to_save_user_pharmacy(item)" class="mui-table-view-cell tap_to_save_user_pharmacy" v-for="item in pharmacys">
						<div>
							<img class="mui-media-object mui-pull-left" :src="item.picture||'/assets/admin/logo.png'" alt="photo">
							<div class="mui-media-body">
								<div>
									{{item.name}}
									<p style="float: right;">{{item.distance}}</p>
								</div>
								<p class="mui-ellipsis">{{item.addr}}</p>
							</div>
						</div>
					</li>
				</ul>
			</template>
			<template v-else>
				<div style="padding-left: 16px;">
					<p style="padding: 16px 0 0 8px;margin: 0;" class="common_green" v-if="pharmacys">未找到匹配项，可以试试：</p>
					<p style="padding: 16px 0 0 8px;">离我最近</p>
					<div style="min-height: 20px;">
						<ul class="mui-table-view">
							<li @click="click_to_save_user_pharmacy(item)" class="mui-table-view-cell tap_to_save_user_pharmacy" v-for="item in near_pharmacys">
								<div>
									<img class="mui-media-object mui-pull-left" :src="item.picture||'/assets/admin/logo.png'" alt="photo">
									<div class="mui-media-body">
										<div>
											{{item.name}}
											<p style="float: right;">{{item.distance}}</p>
										</div>
										<p class="mui-ellipsis">{{item.addr}}</p>
									</div>
								</div>
							</li>
						</ul>
						<!-- <span @click="click_to_save_user_pharmacy(item)" class="mui-badge" v-for="item in history_pharmacys" :key="item.id" style="margin: 0 8px 14px;">{{item.name}}</span> -->
					</div>
					<p style="padding: 16px 0 0 8px;">历史记录</p>
					<div style="min-height: 20px;">
						<ul class="mui-table-view">
							<li @click="click_to_save_user_pharmacy(item)" class="mui-table-view-cell tap_to_save_user_pharmacy" v-for="item in history_pharmacys">
								<div>
									<img class="mui-media-object mui-pull-left" :src="item.picture||'/assets/admin/logo.png'" alt="photo">
									<div class="mui-media-body">
										<div>
											{{item.name}}
											<p style="float: right;">{{item.distance}}</p>
										</div>
										<p class="mui-ellipsis">{{item.addr}}</p>
									</div>
								</div>
							</li>
						</ul>
						<!-- <span @click="click_to_save_user_pharmacy(item)" class="mui-badge" v-for="item in history_pharmacys" :key="item.id" style="margin: 0 8px 14px;">{{item.name}}</span> -->
					</div>
					<p style="padding: 16px 0 0 8px;">大家常用</p>
					<div style="min-height: 20px;">
						<ul class="mui-table-view">
							<li @click="click_to_save_user_pharmacy(item)" class="mui-table-view-cell tap_to_save_user_pharmacy" v-for="item in hot_pharmacys">
								<div>
									<img class="mui-media-object mui-pull-left" :src="item.picture||'/assets/admin/logo.png'" alt="photo">
									<div class="mui-media-body">
										<div>
											{{item.name}}
											<p style="float: right;">{{item.distance}}</p>
										</div>
										<p class="mui-ellipsis">{{item.addr}}</p>
									</div>
								</div>
							</li>
						</ul>
						<!-- <span @click="click_to_save_user_pharmacy(item)" class="mui-badge" v-for="item in hot_pharmacys" :key="item.id" style="margin: 0 8px 14px;">{{item.name}}</span> -->
					</div>
				</div>
			</template>
		</div>
	</div>
	<p id="order_items" style="margin: 0;padding: 16px 0 8px 12px;">
		<span v-if="current_pharmacy.sele_type=='self'">自选药房</span>
		<span v-else>距离当前最近</span>
	</p>
	<ul class="mui-table-view" style="margin-bottom: 22px;" v-for="organ in organs">
		<li class="mui-table-view-cell" style="padding: 11px 15px;overflow: visible;">
			<div class="mui-checkbox mui-left">
				<input @click="check_all($event,organ)" type="checkbox" :checked="equals_array(organ.prescription_ids,organ.prescription_ids2)" style="top: 12px;left: 0px;">
				<label style="padding-left: 26px;padding-right: 0;">
					<img class="mui-media-object mui-pull-left" :src="current_pharmacy.picture||'/assets/admin/logo.png'" alt="photo" style="color:#aaa; font-size: 8px;">
					<!-- <i class="fal fa-store-alt mui-media-object mui-pull-left" style="width: 42px;font-size:32px;color: #8A8782;text-align: center;"></i> -->
					<div class="mui-media-body">
						<span v-if="current_pharmacy.name">{{current_pharmacy.name}}</span>
						<span v-else><i class="fal fa-spinner fa-spin"></i> 定位中</span>
						<p class="mui-ellipsis" style="font-size: 12px;padding-right: 64px;">{{current_pharmacy.addr||"　"}}</p>
					</div>
				</label>
			</div>
			<a :href="current_pharmacy.lat ? '/customer/portal/map?lat='+current_pharmacy.lat+'&lng='+current_pharmacy.lng+'&name='+current_pharmacy.name : 'javascript:;'" style="position: absolute;right: 14px;top: 10px;color: #E62677;text-align: center;">
				<i class="fal fa-map-marker-alt common_green" style="font-size: 20px;"></i>
				<p style="font-size: 12px;">{{current_pharmacy.distance||(current_pharmacy.lat ? "查看位置" : "")}}</p>
			</a>
			<ul class="mui-table-view" style="margin: 15px 0;">
				<template v-for="prescription in organ.prescriptions">
					<li class="mui-table-view-cell" style="padding-left: 0;padding-right: 0;">
						<div class="mui-checkbox mui-left">
							<input v-model="organ.prescription_ids" name="checkbox" :value="prescription.id" type="checkbox" style="top: 0px;left: 0px;">
							<label style="padding-left: 26px;padding-right: 36px;">
								<span>处方号: {{prescription.prescription_no}}</span>
								<span class="common_grey" style="float: right;">{{prescription.created_at.slice(0,10)}}</span>
							</label>
							<a :href="'/customer/home/prescription?return=root&id='+prescription.id" class="common_green" style="position: absolute;right: 0;top: 0;">查看</a>
						</div>
					</li>
					<li class="mui-table-view-cell no_background" v-for="drug in prescription.orders" style="padding-left: 0;">
						<div href="javascript:;" class="">
							<img class="mui-media-object mui-pull-left" :src="drug.picture||'/assets/admin/gongzhonghao.jpg'" alt="暂无图片" style="height: 80px; width: 80px; max-width: none;"><!-- /assets/customer/drug.jpg -->
							<!-- <i class="fal fa-capsules mui-media-object mui-pull-left" style="width: 42px;font-size:32px;color: #8A8782;text-align: center;"></i> -->
							<div class="mui-media-body">
								{{drug.title}}
								<p class="mui-ellipsis">
									<p style="padding-top: 6px;">{{drug.specification}}</p>
									<p style="padding-top: 6px;"><span class="common_red">¥ <span style="font-size: 1.5em;">{{format_float(drug.price)}}</span></span> x {{drug.total_quantity}} {{drug.unit}}</p>
								</p>
							</div>
						</div>
					</li>
				</template>
			</ul>
			<div style="line-height: 33px;">
				<a href="javascript:;" @click="send_prescription_ids_session(organ)" style="float: right;width: 80px;height: 100%;text-align: center;color: #fff;" class="common_bg_green">去结算</a>
				<div style="overflow: hidden;padding-right: 10px;">
					<!-- <span style=""><i class="fal fa-clock" style="margin-right: 6px;"></i>{{new Date(organ.first_created_at).pattern("MM月dd日")}}</span> -->
					<span class="common_red" style="float: right;">
						<span>¥</span>
						<span style="font-size: 1.5em;">{{total_price(organ)}}</span>
					</span>
					<span style="float: right;margin-right: 6px;">合计</span>
				</div>
			</div>
		</li>
	</ul>
</div>
<script type="text/javascript">
	var current_app = new Vue({
		el:"#vue_content",
		data:{
			point:{},
			current_pharmacy:{},
			pharmacys:null,
			hot_pharmacys:null,
			history_pharmacys:null,
			near_pharmacys:null,
			search_str:'',
			organs:[],
		},
		watch:{
			search_str:function(val) {
				var _this = this;
				clearTimeout(_this.timer)
				if (val) {
					_this.timer = setTimeout(function() {
						$("#loading").show();
						$.ajax({
							url:'/interfaces/get_pharmacy.json?search='+val+'&',
							data:{lng:_this.point.lng,lat:_this.point.lat},
							success:function(json) {
								if (json.flag) {
									_this.pharmacys = json.rows;
								}else{
									mui.toast("请刷新后重试");
								}
							},
							complete:function() {
								$("#loading").hide();
							},
							error:error_fun
						})
					},500)
				}else{
					_this.pharmacys=null;
				}
			},
		},
		computed:{
		},
		methods:{
			get_hot_pharmacy:function(type) {
				var _this = this;
				$.ajax({
					url:'/interfaces/get_pharmacy.json',
					data:{
						lng:_this.point.lng,lat:_this.point.lat,
						hot: type=='hot' ? "true" : undefined,
						history: type=='history' ? "true" : undefined,
						near: type=='near' ? "true" : undefined,
					},
					success:function(json) {
						if (json.flag) {
							if (type=='hot') {
								_this.hot_pharmacys = json.rows;
							}else if (type=='history') {
								_this.history_pharmacys = json.rows;
							}else if (type=='near') {
								_this.near_pharmacys = json.rows;
							}
						}else{
							mui.toast("请刷新后重试");
						}
					},
					complete:function() {
					},
					error:error_fun
				})
			},
			equals_array:function(arr1,arr2) {
				var flag = true;
				if (arr1.length&&arr1.length==arr2.length) {
					arr1.map(function(item) {
						if (arr2.indexOf(item)==-1) {
							flag = false;
						}
					})
				}else{
					flag = false;
				}
				return flag;
			},
			total_price:function(organ) {
				var to_pri = 0;
				organ.prescriptions.map(function(item) {
					if(organ.prescription_ids.indexOf(item.id)>-1){
						to_pri+=item.price;
					}
				})
				return this.format_float(to_pri);
			},
			check_all:function(e,organ) {
				if ($(e.target).prop("checked")) {
					organ.prescription_ids = organ.prescription_ids2;
				}else{
					organ.prescription_ids = [];
				}
			},
			send_prescription_ids_session:function(item) {
				var _this = this;
				if (_this.current_pharmacy.id) {
					$("#loading").show();
					$.ajax({
						url:"/interfaces/set_prescriptions_cart",
						data:{
							ids:item.prescription_ids,
							pharmacy_id:_this.current_pharmacy.id,
						},
						success:function(json) {
							if (json.flag) {
								location.href = "/customer/portal/settlement";
							}else{
								mui.toast(json.info);
							}
						},
						complete:function() {
							$("#loading").hide();
						},
						error:error_fun
					})
				}else{
					mui.toast("请先选择药房");
					return false;
				}
			},
			get_c_phar:function(point) {
				var _this = this;
				// alert(JSON.stringify(point))
				$.ajax({
					url:"/interfaces/get_current_pharmacy.json",
					data:point,
					success:function(json) {
						if (json.flag) {
							_this.current_pharmacy = json.pharmacy;
							_this.current_pharmacy.sele_type = json.type;
						}else{
							_this.current_pharmacy = {name:"定位失败"};
							mui.toast(json.info);
						}
					},
					error:function(e) {
						if (point) {
							mui.toast("定位失败，请自选药房");
						}else{
							mui.toast("定位错误，请重选药房");
						}
					}
				})
			},
			get_current_pharmacy:function(item) {
				var _this = this;
				<%# if session[:current_pharmacy_id].present? %>
				// 如果有自选药房，就先显示药房，延迟定位
				// _this.get_c_phar();
				<%# else %>
				$(function() {
					addressOverlay('',function(point) {
						_this.point = point;
						_this.get_c_phar({lng:point.lng,lat:point.lat});
					})
				})
				<%# end -%>
			},
			click_to_save_user_pharmacy:function(item) {
				var _this = this;
				$("#loading").show();
				$.ajax({
					url:"/interfaces/set_current_pharmacy?id="+item.id,
					success:function(json) {
						_this.current_pharmacy = item;
						_this.current_pharmacy.sele_type = "self";
						$(".mui-icon-arrowleft").click();
					},
					complete:function() {
						$("#loading").hide();
					}
				})
				// mui.back();
			},
			format_float:function(value) {
				return (parseFloat(value)||0).toFixed(2);
			},
			get_count_of_item:function(item) {
				var count = 0;
				$(item.orders).each(function(i,drug) {
					count += parseInt(drug.total_quantity);
				})
				return count;
			},
			get_prescriptions:function() {
				var _this = this;
				$("#loading").show();
				$.ajax({
					url:'/interfaces/get_prescriptions_by_phone',
					success:function(json) {
						if (json.flag) {
							_this.organs = json.data;
						}else{
							mui.toast(json.info);
						}
					},
					complete:function() {
						$("#loading").hide();
					},
					error:function(e) {
						mui.toast("处方获取失败");
					}
				})
			},
		},
		mounted:function() {
			var _this = this;
			this.get_current_pharmacy();
			this.get_prescriptions();
			$("#search_input").on("focus",function(e) {
				$("#search_content").addClass("on");
				$("#bottom_tabs").hide(300);
				_this.get_hot_pharmacy('hot');
				_this.get_hot_pharmacy('history');
				_this.get_hot_pharmacy('near');
			})
		}
	})
</script>
