<style type="text/css">
	/*input::-webkit-input-placeholder {
		color:#fff;
	}
	input:-moz-placeholder {
		color:#fff;
	}
	input::-moz-placeholder {
		color:#fff;
	}
	input:-ms-input-placeholder {
		color:#fff;
	}*/
	html,body,.mui-content{
		height: 100%;
		overflow: hidden;
	}
	.mui-content{
		overflow: auto;
	}
	#search_content .search_results{
		opacity: 0
	}
	#search_content .search_results *{
		font-size: 12px;
	}
	#search_content{
		width: 100%;
		height: 60px;
		overflow: hidden;
		padding: 20px 40px 0;
	}
	#search_content,#search_content *{
		transition: all .25s;
	}
	#search_input{
		padding-left: 40px;font-size: 12px;border-radius: 18px;margin: 0;
	}
	#search_content.on{
		position: fixed;
		top: 0;
		background: #fff;
		z-index:  999;
		padding: 0;
		height: 100%;
	}
	#search_content.on .search_results{
		opacity: 1;
	}
	#search_content.on #search_input{
		border-radius: 0;
	}
	.mui-table-view-cell.no_background:after{
		/*background: none;*/
	}
	#search_content .mui-icon-arrowleft{
		display: none;
	}
	#search_content.on .mui-icon-search{
		display: none;
	}
	#search_content.on .mui-icon-arrowleft{
		display: block;
	}
	.mui-table-view:after,.mui-table-view:before{
		height: 1px;
	}
	.mui-content .mui-active{
		background: none !important;
	}
</style>
<div class="mui-content" id="vue_content">
	<div id="search_content">
		<div class="mui-input-row search_header_row">
			<i class="mui-icon mui-icon-search" style="font-size: 20px; position: absolute; z-index: 1; top: 10px; left: 0; width: 38px; height: 38px; text-align: center; color: #999; " onclick="document.getElementById('search_input').focus();"></i>
			<i class="mui-icon mui-icon-arrowleft" style="font-size: 20px; position: absolute; z-index: 1; top: 10px; left: 0; width: 38px; height: 38px; text-align: center; color: #999; " onclick="$('#search_content').removeClass('on');$('#bottom_tabs').show(300);"></i>
			<input id="search_input" v-model="search_str" type="text" class="mui-input-clear mui-input" placeholder="您想去哪取药" autocomplete="off">
		</div>
		<div class="search_results" style="">
			<template v-if="pharmacys">
				<ul class="mui-table-view">
					<li @click="click_to_save_user_pharmacy(item)" class="mui-table-view-cell tap_to_save_user_pharmacy" v-for="item in pharmacys">
						<div>
							<img class="mui-media-object mui-pull-left head-img" id="head-img" src="/assets/admin/TM.png">
							<div class="mui-media-body">
								{{item.name}}
								<p style="float: right;">{{item.distance}}</p>
								<p class="mui-ellipsis">{{item.addr}}</p>
							</div>
						</div>
					</li>
				</ul>
			</template>
			<template v-else>
				<div style="padding-left: 16px;">
					<p style="padding: 8px;min-height: 100px;">历史记录</p>
					<p style="padding: 8px;">大家常用</p>
				</div>
			</template>
		</div>
	</div>
	<p id="order_items" style="margin: 0;padding: 16px 0 8px 12px;">
		<span v-if="current_pharmacy.sele_type=='self'">自选药房</span>
		<span v-else>距离当前最近</span>
	</p>
	<ul class="mui-table-view" style="margin-bottom: 22px;" v-for="item in prescriptions">
		<li class="mui-table-view-cell" style="padding: 11px 15px;overflow: visible;">
			<div>
				<img class="mui-media-object mui-pull-left head-img" id="head-img" src="/assets/customer/pharmacy.png">
				<!-- <i class="fal fa-store-alt mui-media-object mui-pull-left" style="width: 42px;font-size:32px;color: #8A8782;text-align: center;"></i> -->
				<div class="mui-media-body">
					<span v-if="current_pharmacy.name">{{current_pharmacy.name}}</span>
					<span v-else><i class="fal fa-spinner fa-spin"></i> 定位中</span>
					<p class="mui-ellipsis" style="font-size: 12px;padding-right: 64px;">{{current_pharmacy.addr||"　"}}</p>
				</div>
			</div>
			<a :href="current_pharmacy.lat ? '/customer/portal/map?lat='+current_pharmacy.lat+'&lng='+current_pharmacy.lng+'&name='+current_pharmacy.name : 'javascript:;'" style="position: absolute;right: 30px;top: 10px;color: #E62677;text-align: center;">
				<i class="fal fa-map-marker-alt" style="font-size: 20px;color: #F55742;"></i>
				<p style="font-size: 12px;">{{current_pharmacy.distance||(current_pharmacy.lat ? "查看位置" : "")}}</p>
			</a>
			<ul class="mui-table-view" style="margin: 15px 0;">
				<li class="mui-table-view-cell no_background" v-for="drug in item.orders" style="padding-left: 0;">
					<div href="javascript:;" class="">
						<img class="mui-media-object mui-pull-left" src="/assets/customer/drug.jpg" style="height: 80px; width: 80px; max-width: initial;">
						<!-- <i class="fal fa-capsules mui-media-object mui-pull-left" style="width: 42px;font-size:32px;color: #8A8782;text-align: center;"></i> -->
						<div class="mui-media-body">
							{{drug.title}}
							<p class="mui-ellipsis">
								<p style="padding-top: 6px;">{{drug.specification}}</p>
								<p style="padding-top: 6px;"><span style="color: #F55742;">¥ <span style="font-size: 1.5em;">{{format_float(drug.price)}}</span></span> x {{drug.total_quantity}} {{drug.unit}}</p>
							</p>
						</div>
					</div>
				</li>
			</ul>
			<div style="line-height: 33px;">
				<a href="javascript:;" @click="send_prescription_ids_session(item)" style="float: right;width: 80px;height: 100%;text-align: center;background: #F55742;color: #fff;">去结算</a>
				<div style="overflow: hidden;padding-right: 10px;">
					<span style=""><i class="fal fa-clock" style="margin-right: 6px;"></i>{{new Date(item.first_created_at).pattern("MM月dd日")}}</span>
					<span style="color: #F55742;float: right;">
						<span>¥</span>
						<span style="font-size: 1.5em;">{{format_float(item.total_price)}}</span>
					</span>
					<span style="float: right;margin-right: 6px;">合计</span>
				</div>
			</div>
		</li>
	</ul>
</div>
<script type="text/javascript">
	new Vue({
		el:"#vue_content",
		data:{
			point:{},
			current_pharmacy:{},
			pharmacys:null,
			search_str:'',
			prescriptions:[],
		},
		watch:{
			search_str:function(val) {
				// console.log( 'xxxxxxxxxxxxxx',val,val.length );
				var _this = this;
				clearTimeout(_this.timer)
				_this.timer = setTimeout(function() {
					$("#loading").show();
					$.ajax({
						url:'/interfaces/get_pharmacy?search='+val+'&',
						data:{lng:_this.point.lng,lat:_this.point.lat},
						success:function(json) {
							if (json.flag) {
								_this.pharmacys = json.rows;
							}else{
								mui.toast("请刷新后重试");
							}
						},
						complete:function() {
							$("#loading").hide();
						},
						error:error_fun
					})
				},500)
			},
		},
		methods:{
			send_prescription_ids_session:function(item) {
				var _this = this;
				if (_this.current_pharmacy.id) {
					$("#loading").show();
					$.ajax({
						url:"/interfaces/set_prescriptions_cart",
						data:{
							ids:item.prescription_ids,
							pharmacy_id:_this.current_pharmacy.id,
						},
						success:function(json) {
							if (json.flag) {
								location.href = "/customer/portal/settlement";
							}else{
								mui.toast(json.info);
							}
						},
						complete:function() {
							$("#loading").hide();
						},
						error:error_fun
					})
				}else{
					mui.toast("请先选择药房");
					return false;
				}
			},
			get_c_phar:function(point) {
				var _this = this;
				$.ajax({
					url:"/interfaces/get_current_pharmacy",
					data:point,
					success:function(json) {
						if (json.flag) {
							_this.current_pharmacy = json.pharmacy;
							_this.current_pharmacy.sele_type = json.type;
						}else{
							_this.current_pharmacy = {name:"定位失败"};
							mui.toast(json.info);
						}
					},
					error:function(e) {
						if (point) {
							mui.toast("定位失败，请自选药房");
						}else{
							mui.toast("定位错误，请重选药房");
						}
					}
				})
			},
			get_current_pharmacy:function(item) {
				var _this = this;
				<%# if session[:current_pharmacy_id].present? %>
				// 如果有自选药房，就先显示药房，延迟定位
				// _this.get_c_phar();
				<%# else %>
				$(function() {
					addressOverlay('',function(point) {
						_this.point = point;
						_this.get_c_phar({lng:point.lng,lat:point.lat});
					})
				})
				<%# end -%>
			},
			click_to_save_user_pharmacy:function(item) {
				var _this = this;
				$("#loading").show();
				$.ajax({
					url:"/interfaces/set_current_pharmacy?id="+item.id,
					success:function(json) {
						_this.current_pharmacy = item;
						_this.current_pharmacy.sele_type = "self";
						$(".mui-icon-arrowleft").click();
					},
					complete:function() {
						$("#loading").hide();
					}
				})
				// mui.back();
			},
			format_float:function(value) {
				return (parseFloat(value)||0).toFixed(2);
			},
			get_count_of_item:function(item) {
				var count = 0;
				$(item.orders).each(function(i,drug) {
					count += parseInt(drug.total_quantity);
				})
				return count;
			},
			get_prescriptions:function() {
				var _this = this;
				$("#loading").show();
				$.ajax({
					url:'/hospital/prescriptions/get_prescriptions_by_phone?phone=<%= current_user.login %>',
					success:function(json) {
						if (json.flag) {
							_this.prescriptions = json.data;
						}else{
							_this.$message(json.info);
						}
					},
					complete:function() {
						$("#loading").hide();
					},
					error:function(e) {
						mui.toast("处方获取失败");
					}
				})
			},
		},
		mounted:function() {
			var _this = this;
			// _this.search_str = '';
			this.get_current_pharmacy();
			this.get_prescriptions();
			$("#search_input").on("focus",function(e) {
				$("#search_content").addClass("on");
				$("#bottom_tabs").hide(300);
			})
		}
	})
</script>
