<style type="text/css">
	/*input::-webkit-input-placeholder {
		color:#fff;
	}
	input:-moz-placeholder {
		color:#fff;
	}
	input::-moz-placeholder {
		color:#fff;
	}
	input:-ms-input-placeholder {
		color:#fff;
	}*/
	html,body,.mui-content{
		height: 100%;
		overflow: hidden;
	}
	.mui-content{
		overflow: auto;
	}
	#search_content .search_results{
		opacity: 0
	}
	#search_content .search_results *{
		font-size: 12px;
	}
	#search_content{
		width: 100%;
		height: 60px;
		overflow: hidden;
		padding: 20px 40px 0;
	}
	#search_content,#search_content *{
		transition: all .25s;
	}
	#search_input{
		padding-left: 40px;font-size: 12px;border-radius: 18px;margin: 0;
	}
	#search_content.on{
		position: fixed;
		top: 0;
		background: #fff;
		z-index:  999;
		padding: 0;
		height: 100%;
	}
	#search_content.on .search_results{
		opacity: 1;
	}
	#search_content.on #search_input{
		border-radius: 0;
	}
	.mui-table-view-cell.no_background:after{
		background: none;
	}
	#search_content .mui-icon-arrowleft{
		display: none;
	}
	#search_content.on .mui-icon-search{
		display: none;
	}
	#search_content.on .mui-icon-arrowleft{
		display: block;
	}
</style>
<div class="mui-content" id="vue_content">
	<div id="search_content">
		<div class="mui-input-row search_header_row">
			<i class="mui-icon mui-icon-search" style="font-size: 20px; position: absolute; z-index: 1; top: 10px; left: 0; width: 38px; height: 38px; text-align: center; color: #999; " onclick="document.getElementById('search_input').focus();"></i>
			<i class="mui-icon mui-icon-arrowleft" style="font-size: 20px; position: absolute; z-index: 1; top: 10px; left: 0; width: 38px; height: 38px; text-align: center; color: #999; " onclick="$('#search_content').removeClass('on');$('#bottom_tabs').show(300);"></i>
			<input id="search_input" v-model="search_str" type="text" class="mui-input-clear mui-input" placeholder="您想去哪取药" autocomplete="off">
		</div>
		<div class="search_results" style="margin-top: 10px;">
			<template v-if="pharmacys">
				<ul class="mui-table-view">
					<li @click="click_to_save_user_pharmacy(item)" class="mui-table-view-cell tap_to_save_user_pharmacy" v-for="item in pharmacys">
						<div>
							<img class="mui-media-object mui-pull-left head-img" id="head-img" src="/assets/admin/TM.png">
							<div class="mui-media-body">
								{{item.name}}
								<p style="float: right;">???m</p>
								<p class="mui-ellipsis">贵州省贵阳市XXX</p>
							</div>
						</div>
					</li>
				</ul>
			</template>
			<template v-else>
				<div style="padding-left: 16px;">
					<p style="margin: 8px;">历史记录</p>
					<p style="margin: 8px;">大家常用</p>
				</div>
			</template>
		</div>
	</div>
	<p id="order_items" style="margin: 0;padding: 16px 0 8px 12px;">距离当前最近</p>
	<ul class="mui-table-view" style="margin-bottom: 22px;" v-for="item in prescriptions">
		<li class="mui-table-view-cell" style="padding: 11px 15px;overflow: visible;">
			<div>
				<!-- <img class="mui-media-object mui-pull-left head-img" id="head-img" src="/assets/admin/TM.png"> -->
				<i class="fal fa-store-alt mui-media-object mui-pull-left" style="width: 42px;font-size:32px;color: #8A8782;text-align: center;"></i>
				<div class="mui-media-body">
					{{current_pharmacy.name}}
					<p class="mui-ellipsis" style="font-size: 12px;padding-right: 64px;">地址</p>
				</div>
			</div>
			<div style="position: absolute;right: 30px;top: 10px;color: #E62677;text-align: center;">
				<i class="fal fa-map-marker-alt" style="font-size: 20px;color: #8A8782;"></i>
				<p style="font-size: 12px;">???m</p>
			</div>
			<ul class="mui-table-view" style="margin: 15px 0;">
				<li class="mui-table-view-cell no_background" v-for="drug in item.orders" style="padding-left: 0;">
					<div href="javascript:;" class="">
						<!-- <img class="mui-media-object mui-pull-left" src="/assets/customer/drug.jpg" style="border: 1px solid #ddd;border-radius: 50%;"> -->
						<i class="fal fa-capsules mui-media-object mui-pull-left" style="width: 42px;font-size:32px;color: #8A8782;text-align: center;"></i>
						<div class="mui-media-body">
							{{drug.title}}
							<p class="mui-ellipsis">
								{{drug.specification}}
								<span style="float: right;">¥ {{format_float(drug.price)}} x {{drug.total_quantity}} {{drug.unit}}</span>
							</p>
						</div>
					</div>
				</li>
			</ul>
			<div style="line-height: 33px;">
				合计 <span style="color: #FF376F;">¥ {{format_float(item.total_price)}}</span>
				<a href="javascript:;" @click="send_prescription_ids_session(item)" class="mui-btn mui-btn-danger" style="float: right;background: red;color: #fff;">去结算</a>
			</div>
		</li>
	</ul>
</div>
<script type="text/javascript">
	new Vue({
		el:"#vue_content",
		data:{
			current_pharmacy:{},
			pharmacys:null,
			search_str:'',
			prescriptions:[],
		},
		watch:{
			search_str:function(val) {
				// console.log( 'xxxxxxxxxxxxxx' );
				var _this = this;
				clearTimeout(_this.timer)
				_this.timer = setTimeout(function() {
					$.ajax({
						url:'/interfaces/get_pharmacy?search='+val,
						success:function(json) {
							_this.pharmacys = json.rows;
						}
					})
				},500)
			},
		},
		methods:{
			send_prescription_ids_session:function(item) {
				$("#loading").show();
				$.ajax({
					url:"/interfaces/set_prescriptions_cart",
					data:{ids:item.prescription_ids},
					success:function(json) {
						if (json.flag) {
							location.href = "/customer/portal/settlement";
						}else{
							$("#loading").hide();
							mui.toast(json.info);
						}
					},
					complete:function() {
					},
					error:error_fun
				})
			},
			get_current_pharmacy:function(item) {
				var _this = this;
				$.ajax({
					url:"/interfaces/get_current_pharmacy",
					success:function(json) {
						// console.log( json );
						_this.current_pharmacy = json.pharmacy;
					}
				})
			},
			click_to_save_user_pharmacy:function(item) {
				var _this = this;
				$("#loading").show();
				$.ajax({
					url:"/interfaces/set_current_pharmacy?id="+item.id,
					success:function(json) {
						_this.current_pharmacy = item;
						$(".mui-icon-arrowleft").click();
					},
					complete:function() {
						$("#loading").hide();
					}
				})
				// mui.back();
			},
			format_float:function(value) {
				return (parseFloat(value)||0).toFixed(2);
			},
			get_count_of_item:function(item) {
				var count = 0;
				$(item.orders).each(function(i,drug) {
					count += parseInt(drug.total_quantity);
				})
				return count;
			},
			get_prescriptions:function() {
				var _this = this;
				$("#loading").show();
				$.ajax({
					url:'/hospital/prescriptions/get_prescriptions_by_phone?phone=<%= current_user.login %>',
					success:function(json) {
						if (json.flag) {
							_this.prescriptions = json.data;
						}else{
							_this.$message(json.info);
						}
					},
					complete:function() {
						$("#loading").hide();
					},
					error:function(e) {
						mui.toast("处方获取失败");
					}
				})
			},
		},
		mounted:function() {
			var _this = this;
			// _this.search_str = '';
			this.get_current_pharmacy();
			this.get_prescriptions();
			$("#search_input").on("focus",function(e) {
				$("#search_content").addClass("on");
				$("#bottom_tabs").hide(300);
			})
		}
	})
</script>
