<h1>Editing Ims Inv Select Config</h1>

<%= render 'form', ims_inv_select_config: @ims_inv_select_config %>

<%= link_to 'Show', @ims_inv_select_config %> |
<%= link_to 'Back', ims_inv_select_configs_path %>
