<style type="text/css">
</style>
<template>
	<div id="reset_password_div">
		<div style="width: 400px;margin: 0 auto;padding-top: 10px;">
			<el-form size="small" :model="ruleForm" :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm">
				<el-form-item label="原密码" prop="old_password">
					<el-input type="password" v-model="ruleForm.old_password"></el-input>
				</el-form-item>
				<el-form-item label="新密码" prop="password">
					<el-input type="password" v-model="ruleForm.password"></el-input>
				</el-form-item>
				<el-form-item label="确认密码" prop="confirm_password">
					<el-input type="password" v-model="ruleForm.confirm_password"></el-input>
				</el-form-item>
				<el-form-item label="">
					<el-button type="primary" @click="submitForm()">保存</el-button>
				</el-form-item>
			</el-form>
		</div>
	</div>
</template>
<script type="text/javascript">
window.current_template_obj = {
	data:function(){
		var _this = this;
		return {
			ruleForm:{},
			rules: {
				old_password: [{ required: true, message: '请输入', trigger: 'blur' }, { min: 6, message: '至少 6 位', trigger: 'blur' } ],
				password: [{ required: true, message: '请输入', trigger: 'blur' }, { min: 6, message: '至少 6 位', trigger: 'blur' } ],
				confirm_password: [{ required: true, message: '请输入', trigger: 'blur' }, { min: 6, message: '至少 6 位', trigger: 'blur' },{ validator: function(rule, value, callback) {
					if ( _this.ruleForm.password == _this.ruleForm.confirm_password ) {
						callback();
					} else {
						callback(new Error('两次输入密码不一致'));
					}
				}, trigger: 'blur' } ],
			},
		}
	},
	methods:{
		submitForm:function() {
			var _this = this;
			_this.$refs.ruleForm.validate(function(valid){
				if (valid) {
					$.ajax({
						url:"/interfaces/reset_passwords",
						type:'put',
						data:_this.ruleForm,
						dataType:'json',
						success:function(json) {
							_this.$message({
								type:json.flag ? 'success' : 'warning',
								message:json.info,
							})
							if (json.flag) {
								location.reload();
							}
						}
					})
				} else {
					console.log('error submit!!');
					return false;
				}
			});
		},
	},
	mounted:function(){
	}
}
</script>
