<style type="text/css">
	#users_index_form .el-form-item{
		width: 50%;
		float: left;
	}
	#users_index_form .reference_div{
		float: left;
		width: 70px;
		text-align: center;
	}
	#users_index_form .reference_div input{
		border: 1px solid #dcdfe6;
		width: 100%;
		padding: 4px;
	}
</style>
<template>
	<div id="users_index_right_div" class="">
		<div style="margin-bottom: 6px;">
			<div class="el-input el-input--small el-input--prefix el-input--suffix" style="width: 160px;">
				<input v-model="searchTableInputValue" @keyup="get_timeout_users" autocomplete="off" placeholder="项目姓名、简码" type="text" rows="2" validateevent="true" class="el-input__inner">
				<span class="el-input__prefix" @click="get_users"><i class="el-icon-search el-input__icon"></i></span>
				<span class="el-input__suffix" @click="searchTableInputValue='';get_users();"><span class="el-input__suffix-inner"><i class="el-icon-circle-close-outline el-input__icon"></i></span></span>
			</div>
			<el-select size="small" v-model="selected_type_code" @change="get_users" clearable placeholder="类型">
				<el-option label="所有" value=""></el-option>
				<el-option v-for="item in $parent.common_data_org_type_code" :key="item.code" :label="item.display" :value="item.code"></el-option>
			</el-select>
			<el-button-group style="float: right;">
				<el-button size="small" type="primary" @click="add_user">增加</el-button>
				<el-button size="small" type="danger" @click="delete_user">删除</el-button>
			</el-button-group>
			<el-button disabled style="float: right; margin-right: 10px;" size="small" type="default" @click="$parent.load_location_hash_router('#/users/daoru')">导入</el-button>
			<!-- <el-button-group style="float: right; margin-right: 10px;">
			</el-button-group> -->
		</div>
		<el-table height="'100%'" style="height: calc( 100% - 32px - 6px - 32px );" class="table_header_dark" size="mini" ref="data_table" border :data="tableData" @row-dblclick="edit_user" @cell-click="cell_click_user" v-loading="table_loading">
			<el-table-column type="selection"></el-table-column>
			<el-table-column :show-overflow-tooltip="true" label="id" prop="id" width="100"></el-table-column>
			<el-table-column :show-overflow-tooltip="true" label="类型" prop="type_code" width="100">
				<template slot-scope="scope">
					<div v-if="scope.row.type_code=='1'">医院</div>
					<div v-if="scope.row.type_code=='2'">药房</div>
				</template>
			</el-table-column>
			<el-table-column :show-overflow-tooltip="true" label="机构" prop="organization_id" width="100"></el-table-column>
			<el-table-column :show-overflow-tooltip="true" label="login" prop="login"></el-table-column>
			<el-table-column :show-overflow-tooltip="true" label="姓名" prop="name"></el-table-column>
			<el-table-column :show-overflow-tooltip="true" label="简拼" prop="jianpin"></el-table-column>
			<el-table-column :show-overflow-tooltip="true" label="邮箱" prop="email"></el-table-column>
			<el-table-column :show-overflow-tooltip="true" label="创建时间" prop="created_at" width="140"></el-table-column>
		</el-table>
		<el-pagination background ref="pg_data_table" :page-size="10" @size-change="get_users" @current-change="get_users" layout="total, sizes, prev, pager, next, jumper" :total="pg_data_table_total"></el-pagination>
		<el-dialog :title="seleced_user.name" :visible.sync="dialogVisible" width="80%" top="62px">
			<el-form size="small" id="users_index_form" :model="ruleForm" :rules="seleced_user.save_method=='POST' ? rules : edit_rules" ref="ruleForm" label-width="100px" class="">
				<el-tabs type="border-card">
				<!-- <el-tabs type="border-card" v-if="seleced_project.form_type==2" key="2" @tab-click="$parent.element_tab_table_bug([$refs.data_table2,$refs.data_table3])"> -->
					<el-tab-pane label="基本信息">
						<el-form-item label="登录名" prop="login">
							<el-input v-model="ruleForm.login"></el-input>
						</el-form-item>
						<div class="clear"></div>
						<el-form-item label="密码" prop="password">
							<el-input type="password" v-model="ruleForm.password"></el-input>
						</el-form-item>
						<div class="clear"></div>
						<el-form-item label="确认密码" prop="password_confirmation">
							<el-input type="password" v-model="ruleForm.password_confirmation"></el-input>
						</el-form-item>
						<div class="clear"></div>
						<el-form-item label="邮箱" prop="email">
							<el-input v-model="ruleForm.email"></el-input>
						</el-form-item>
						<div class="clear"></div>
						<el-form-item label="姓名" prop="name">
							<el-input @change="$parent.get_jianpin(ruleForm.name,ruleForm.jianpin)" v-model="ruleForm.name"></el-input>
						</el-form-item>
						<el-form-item label="简拼" prop="jianpin">
							<el-input ref="jianpin_input" v-model="ruleForm.jianpin"></el-input>
						</el-form-item>
						<div class="clear"></div>
						<el-form-item label="机构" prop="organization_id">
							<!-- <el-input v-model="ruleForm.organization_id"></el-input> -->
							<el-select v-model="ruleForm.organization_id" filterable remote reserve-keyword placeholder="请输入关键词" :remote-method="remoteMethod" :loading="loading">
								<el-option v-for="item in options4" :key="item.id" :label="item.id+'　'+item.name" :value="item.id"></el-option>
							</el-select>
						</el-form-item>
					</el-tab-pane>
				</el-tabs>
			</el-form>
			<span slot="footer" class="dialog-footer">
				<el-button size="small" type="primary" @click="submitForm('ruleForm')">保 存</el-button>
				<el-button size="small" type="default" @click="dialogVisible = false">关 闭</el-button>
			</span>
		</el-dialog>
	</div>
</template>
<script type="text/javascript">
window.current_template_obj = {
	data:function(){
		return {

			options4: [],
			// value9: [],
			list: [],
			loading: false,

			tableData31:[],
			dialog2_table_loading:false,
			tableData32:[],
			pg_data_table_total32:0,
			searchTableInputValue32:'',
			dialogVisible:false,
			seleced_user:{},
			pg_data_table_total:0,
			pg_data_table_total3:0,
			table_loading:false,
			dialog_table_loading:false,
			searchTableInputValue:'',
			selected_type_code:'',
			tableData: [],
			tableData2: [],
			tableData3: [],
			input_search_str: '',
			ajax_search_str: '',
			searchInputValue:'',
			ruleForm: {},
			defaultForm:null,
			rules: {
				"login": [{ required: true, message: 'login不能为空', trigger: 'change' }],
				"password": [{ required: true, message: 'password不能为空', trigger: 'change' }],
				"password_confirmation": [{ required: true, message: 'password_confirmation不能为空', trigger: 'change' }],
				"email": [{ required: true, message: 'email不能为空', trigger: 'change' }],
				'name': [{ required: true, message: '请输入姓名', trigger: 'change' }],
				'jianpin': [{ required: true, message: '请输入简码', trigger: 'change' }],
			},
			edit_rules: {
				"login": [{ required: true, message: 'login不能为空', trigger: 'change' }],
				"email": [{ required: true, message: 'email不能为空', trigger: 'change' }],
				'name': [{ required: true, message: '请输入姓名', trigger: 'change' }],
				'jianpin': [{ required: true, message: '请输入简码', trigger: 'change' }],
			},
		}
	},
	methods:{
		get_organizations:function(query){
			var _this = this;
			_this.loading = true;
			$.ajax({
				url:'/admin/organizations.json?page='+1+'&per='+10+'&search='+(query||''),
				success:function(json){
					_this.options4 = json.rows;
					// _this.pg_data_table_total = json.total;
				},
				complete:function(){
					_this.loading = false;
				},
				error:error_fun
			})
		},
		remoteMethod:function(query) {
			if (query !== ''){
				this.get_organizations(query);
				// this.loading = true;
				// setTimeout(() => {
				// 	this.loading = false;
				// 	this.options4 = this.list.filter(item => {
				// 		return item.label.toLowerCase()
				// 		.indexOf(query.toLowerCase()) > -1;
				// 	});
				// }, 200);
			} else {
				this.options4 = [];
			}
		},
		// 同步 dialog 项目表格的变色行
		sync_success_tr:function() {
			var _this = this;
			var selected_ids = (_this.tableData31||[]).map(function(item) {
				return item.id;
			});
			$('#dialog2_right_table tr').removeClass("selected-success");
			$(".dialog2_right_tr_id").each(function(i,v) {
				if ( selected_ids.indexOf($(v).attr('data-id'))>-1 ) {
					$(v).parents("tr").addClass("selected-success");
				}
			});
		},
		re_user:function(row,e) {
			var _this = this;
			var index = _this.tableData31.indexOf(row);
			if (index>-1) {
				_this.tableData31.splice(index,1);
				_this.sync_success_tr();
			}
		},
		// 选择仪器
		right_copyto_left2:function(row, event, column) {
			var _this = this;
			var tr = $(event.target).is('tr') ? $(event.target) : $(event.target).parents('tr');
			var selected_ids = _this.tableData31.map(function(item) {
				return item.id;
			});
			var index = $.inArray( row.id, selected_ids );
			if (index>-1) {
				$(tr).removeClass("selected-success");
				this.tableData31.splice(index,1);
			}else{
				$(tr).addClass("selected-success");
				this.tableData31.push(row);
			}
		},
		remove_user_of_z:function(row) {
			var tr = $('[data-id="'+row.id+'"]').parents('tr');
			if (tr) {
				$(tr).removeClass("selected-success");
			}
			var index = $.inArray( row, this.tableData2 );
			this.tableData2.splice(index,1);
		},
		// 组合 form页面 选择项目
		right_copyto_left:function(row, event, column) {
			var _this = this;
			var tr = $(event.target).is('tr') ? $(event.target) : $(event.target).parents('tr');
			var selected_ids = _this.tableData2.map(function(item) {
				return item.id;
			});
			var index = $.inArray( row.id, selected_ids );
			if (index>-1) {
				$(tr).removeClass("selected-success");
				this.tableData2.splice(index,1);
			}else{
				$(tr).addClass("selected-success");
				this.tableData2.push(row);
			}
		},
		cell_click_user:function(row, column, cell, event) {
			if ($(cell).hasClass("el-table-column--selection")) {
			}else{
				this.$refs.data_table.toggleRowSelection(row);
			}
		},
		add_user:function() {
			this.resetForm();
			// if (this.selected_type_code) {
			// 	this.ruleForm.located_entity_id = this.selected_type_code;
			// }
			this.seleced_user = {save_method:'POST',form_type:1,name:"新增单项",code:""};
			this.dialogVisible = true;
		},
		edit_user:function(row) {
			var _this = this;
			current_app.loading = true;
			$.ajax({
				url:"/admin/users/"+row.id+".json",
				// data:{id:row.id},
				success:function(json) {
					_this.resetForm();
					_this.seleced_user = {id:row.id,save_method:'PUT',form_type:row.code_system,name:json.user.name,code:json.user.code};
					_this.ruleForm = json.user;
						// _this.tableData31 = json.user.z_machines||[];
						_this.$nextTick(function() {
							_this.get_users('dialog');
						})
					_this.dialogVisible = true;
				},
				complete:function() {
					current_app.loading = false;
				},
				error:error_fun
			})
		},
		delete_user:function() {
			var _this = this;
			var ids = [],names = [];
			_this.$refs.data_table.selection.map(function(value) {
				ids.push( value.id );
				names.push( value.name );
			})
			if (ids.length) {
				_this.$confirm("将要删除 <span class='text-danger'>"+names+'</span> ，此操作不可回退, 是否继续?', '提示', {
					dangerouslyUseHTMLString: true,
					confirmButtonText: '确定',
					cancelButtonText: '取消',
					type: 'warning'
				}).then(function(){
					current_app.loading = true;
					$.ajax({
						url:'/admin/users/destroy',
						type:'delete',
						data:{ids:ids},
						success:function(json) {
							_this.$message({
								message:json.info,
								type: json.flag ? 'success' : 'warning'
							});
							_this.get_users();
						},
						complete:function(){
							current_app.loading = false;
						},
						error:error_fun
					})
				}).catch(function(){
					_this.$message({
						type: 'info',
						message: '已取消删除'
					});
				});
			}else{
				_this.$message({
					type: 'info',
					message: '未选中行'
				});
			}
		},
		submitForm:function(formName) {
			var _this = this;
			_this.$refs[formName].validate(function(valid){
				if (valid) {
					var method = _this.seleced_user.save_method;
					if (method) {
						current_app.loading = true;
						$.ajax({
							type:method,
							url:method=='POST' ? '/admin/users' : '/admin/users/'+_this.seleced_user.id,
							dataType:'json',
							data:{
								user:_this.ruleForm,
								type:_this.seleced_user.form_type==1 ? 'single' : 'package',
								user_ids:_this.seleced_user.form_type==1 ? null : _this.tableData2.map(function(item) {
									return item.id;
								}),
								// machine_ids:_this.seleced_user.form_type==1 ? null : _this.tableData31.map(function(item) {
								// 	return item.id;
								// }),
							},
							success:function(json){
								// _this.resetForm('ruleForm');
								_this.$message({
									message:json.info,
									type: json.flag ? 'success' : 'warning'
								})
								if (json.flag) {
									_this.dialogVisible = false;
									_this.get_users();
								}
							},
							complete:function(){
								current_app.loading = false;
							},
							error:error_fun
						})
					}else{
						current_app.$message("错误的 form - method："+method);
					}
				} else {
					current_app.$message("基本信息未通过验证！")
					return false;
				}
			});
		},
		resetForm:function(formName) {
			var _this = this;
			this.ruleForm = _.cloneDeep(this.defaultForm);
			this.tableData2 = [];
			this.tableData31 = [];
			_this.$nextTick(function() {
				_this.$refs.ruleForm.clearValidate();
			})
			// setTimeout(function() {
			// 	_this.$refs.ruleForm.resetFields();
			// })
		},
		get_timeout_users:function (e,type) {
			var _this = this;
			clearTimeout(_this.timer);
			if (e.keyCode==13) {
				_this.get_users(type);
			}else{
				_this.timer = setTimeout(function(){
					_this.get_users(type);
				},_this.$parent.auto_search_timeout_value);
			}
		},
		get_users:function(){
			var _this = this;

			_this.table_loading = true;
			var pagination = _this.$refs.pg_data_table;

			var page = pagination.internalCurrentPage;
			var per = pagination.internalPageSize;

			$.ajax({
				url:'/admin/users.json?page='+page+'&per='+per+'&type_code='+(_this.selected_type_code||'')+'&search='+(_this.searchTableInputValue||''),
				success:function(json){
					_this.tableData = json.rows;
					_this.pg_data_table_total = json.total;
				},
				complete:function(){
					_this.table_loading = false;
					_this.dialog_table_loading = false;
				},
				error:error_fun
			})
		},
	},
	activated:function() {
		this.get_users();
	},
	mounted:function(){
		window.apps.users_index = this;
		this.defaultForm = _.cloneDeep(this.ruleForm);
	}
}
</script>
