<script src="/assets/plugins/highchart/highcharts.js"></script>
<script src="/assets/plugins/highchart/highcharts-more.js"></script>
<script src="/assets/plugins/highchart/highcharts-zh_CN.js"></script>

<div id="current_app_div">
	<transition name="fade" mode="out-in">
		<keep-alive v-if="!$route.meta.notKeepAlive">
			<router-view class="router-view-content"></router-view>
		</keep-alive>
		<router-view v-else class="router-view-content"></router-view>
	</transition>
</div>

<style type="text/css">
	.white_bg_bar {
		line-height: 48px;
		font-size: 20px;
		background: #fff;
		border-top: 1px solid #ddd;
		border-bottom: 1px solid #ddd;
		text-align: center;
	}
	
	.white_bg_bar .fa {
		color: #ddd;
		font-size: 50px;
		float: left;
		padding: 0 20px;
	}
	
	.white_bg_bar .fa-caret-right {
		float: right;
	}
	
	.mui-media-body.values {
		color: #00c2ff !important;
		font-size: 24px !important;
		height: 30px !important;
		line-height: initial !important;
	}
	
	.advise_text {
		font-size: 20px;
		line-height: 30px;
		padding: 12px;
		color: #666;
	}

	.mui-content{
		padding-bottom: 50px;
	}
	.mui-table-view:after{
		height: 0;
	}
</style>
<template id="member_show_div">
	<div>
		<div id="common_mask" class="mui-backdrop mui-backdrop-action mui-active" style="z-index: 998;display: block;top: 44px;">
			<div style="text-align: right;padding: 10px 20px 0 0;">
				<img src="/assets/customer/guide_arrow.png">
			</div>
			<div style="color: #fff;font-size: 2em;text-align: right;padding: 20px;">
				<div>体检时请出示二维码</div>
			</div>
			<div style="text-align: right;padding: 20px;">
				<button onclick="$('#common_mask').hide(200);">我知道了</button>
			</div>
		</div>
		<header class="my_top_nav mui-bar mui-bar-nav">
			<!-- <router-link tag="button" to="/member_lists" class="mui-btn mui-btn-blue mui-btn-link mui-btn-nav mui-pull-left"><span class="mui-icon mui-icon-left-nav"></span>返回列表</router-link> -->
			<!-- <h1 class="mui-title">{{member.name}}</h1> -->
			<!-- <h1 class="mui-title">健康得分：</h1> -->
			<h1 class="mui-title">AIDA智能体检</h1>
			<a href="/customer/report/qrcode"><i class="fal fa-qrcode" style="float: right; line-height: 40px; font-size: 24px;"></i></a>
		</header>
		<div class="mui-content">

			<div>
				<!-- <div class="white_bg_bar"><span>健康得分：</span><span style="color: #00c2ff;">90</span></div> -->
				<!-- <div id="chart_div_leida" style="height: 240px;"></div> -->

				<ul class="mui-table-view mui-grid-view mui-grid-9" style="background: #fff;">
					<router-link :to="{name:'ws_weight'}" class="mui-table-view-cell mui-media mui-col-xs-6 mui-col-sm-4">
						<a href="javascript:;">
							<span class="mui-icon fal fa-weight" style="color: #cddc39;"></span>
							<div class="mui-media-body values">{{member_data.ws_weight&&$parent.number_with_one_point(member_data.ws_weight.floWeight)}} kg</div>
							<div class="mui-media-body">体重</div>
						</a>
					</router-link>
					<router-link :to="{name:'ws_ecg_heart'}" class="mui-table-view-cell mui-media mui-col-xs-6 mui-col-sm-4">
						<a href="javascript:;">
							<span class="mui-icon fal fa-heartbeat" style="color: #ff5722;"></span>
							<div class="mui-media-body values">心电检测史</div>
							<div class="mui-media-body">情绪压力</div>
						</a>
					</router-link>
					<!-- <router-link :to="{name:'ws_ring'}" class="mui-table-view-cell mui-media mui-col-xs-6 mui-col-sm-4">
						<a href="javascript:;">
							<span class="mui-icon fal fa-walking" style="color: #4caf50;"></span>
							<div class="mui-media-body values">{{member_data.ws_ring&&$parent.number_with_one_point(member_data.ws_ring.footSteps)}} 步</div>
							<div class="mui-media-body">运动</div>
						</a>
					</router-link> -->
					<!-- <router-link :to="{name:'ws_heart_v2'}" class="mui-table-view-cell mui-media mui-col-xs-6 mui-col-sm-4">
						<a href="javascript:;">
							<span class="mui-icon fal fa-heart" style="color: #ff5722;"></span>
							<div class="mui-media-body values">{{member_data.ws_heart_v2&&$parent.number_with_one_point(member_data.ws_heart_v2.HRValue)}} 次/分</div>
							<div class="mui-media-body">心率</div>
						</a>
					</router-link> -->
					<router-link :to="{name:'ws_blood'}" class="mui-table-view-cell mui-media mui-col-xs-6 mui-col-sm-4">
						<a href="javascript:;">
							<span class="mui-icon fal fa-chart-area" style="color: #4caf50;"></span>
							<div class="mui-media-body values">{{member_data.ws_blood&&$parent.number_with_one_point(member_data.ws_blood.intDiastolic)}} mmHg / {{member_data.ws_blood&&member_data.ws_blood.intSystolic}} mmHg</div>
							<div class="mui-media-body">血压</div>
						</a>
					</router-link>
					<!-- <router-link :to="{name:'member_show'}" class="mui-table-view-cell mui-media mui-col-xs-6 mui-col-sm-4">
						<a href="javascript:mui.toast('无数据');">
							<span class="mui-icon fa fa-thermometer-half"></span>
							<div class="mui-media-body values"> ℃</div>
							<div class="mui-media-body">耳温</div>
						</a>
					</router-link> -->
					<!-- <router-link :to="{name:'ws_blood_sugar'}" class="mui-table-view-cell mui-media mui-col-xs-6 mui-col-sm-4">
						<a href="javascript:;">
							<span class="mui-icon fal fa-tint" style="color: #cddc39;"></span>
							<div class="mui-media-body values">
								<span v-if="member_data.ws_blood_sugar">{{$parent.number_with_one_point(member_data.ws_blood_sugar.intConsistency)}}</span> mg/dL
								<span v-if="member_data.ws_blood_sugar">({{member_data.ws_blood_sugar.intTypeID}})</span>
							</div>
							<div class="mui-media-body">血糖</div>
						</a>
					</router-link> -->
				</ul>
				<!-- <div>
					<div class="advise_text">健康建议：一天吃2份以上的奶制品并不补钙，反而对健康不利。因为人类并不适合消化牛奶，全球75%的人胃中缺乏一种消化牛奶中乳糖的酶。大量饮用牛奶就容易患上关节炎、过敏、哮喘和各种胃病。如果真的喜欢喝牛奶，每天喝1杯就够了，想补钙，不妨隔三差五地吃沙丁鱼、杏仁和虾。</div>
				</div> -->
				<div class="mui-card">
					<div class="mui-card-header">
						<span><i class="fa fa-id-card-o" style="color: #4caf50;margin-right: 10px;"></i>健康概况</span>
					</div>
					<div class="mui-card-content">
						<div class="mui-card-content-inner">
							<div style="margin: 6px 0;font-weight: bold;">体质指数（bmi）：</div>
							<div>{{weight_advise.bmi}}</div>
						</div>
					</div>
				</div>
				<!-- <div class="mui-card">
					<div class="mui-card-header">
						<span><i class="fa fa-tasks" style="color: #ff5722;margin-right: 10px;"></i>疾病预测</span>
					</div>
					<div class="mui-card-content">
						<div class="mui-card-content-inner">
							{{weight_advise.disease}}
						</div>
					</div>
					<div class="mui-card-footer">预测来源腾迈智医AIDA人工智能</div>
				</div> -->
				<div class="mui-card">
					<div class="mui-card-header">
						<span><i class="fa fa-tags" style="color: #cddc39;margin-right: 10px;"></i>饮食建议</span>
					</div>
					<div class="mui-card-content">
						<div class="mui-card-content-inner">
							<div>{{weight_advise.dietary_advice}}</div>
							<div style="margin: 6px 0;font-weight: bold;">正常饮食习惯：</div>
							<div>{{weight_advise.normal_diet}}</div>
							<div style="margin: 6px 0;font-weight: bold;">不良饮食习惯：</div>
							<div>{{weight_advise.bad_diet}}</div>
						</div>
					</div>
					<div class="mui-card-footer">建议来源腾迈智医AIDA人工智能</div>
				</div>
				<div class="mui-card">
					<div class="mui-card-header">
						<span><i class="fa fa-child" style="color: #4caf50;margin-right: 10px;"></i>运动建议</span>
					</div>
					<div class="mui-card-content">
						<div class="mui-card-content-inner">
							<div style="margin: 6px 0;font-weight: bold;">运动心率控制：</div>
							<div>最高心率：{{weight_advise.max_heart_rate}}</div>
							<div>最佳心率：{{weight_advise.normal_heart_rate}}</div>
							<div style="margin: 6px 0;font-weight: bold;">运动强度：</div>
							<div>{{weight_advise.motion_intensity}}</div>
							<div style="margin: 6px 0;font-weight: bold;">注意事项：</div>
							<div>{{weight_advise.sport_events}}</div>
						</div>
					</div>
					<div class="mui-card-footer">建议来源腾迈智医AIDA人工智能</div>
				</div>
			</div>

		</div>
	</div>
</template>
<script type="text/javascript">
	(function(factory) {
		if(typeof module === 'object' && module.exports) {
			module.exports = factory;
		} else {
			factory(Highcharts);
		}
	}(function(Highcharts) {
		Highcharts.createElement('link', {
			href: 'https://fonts.googleapis.com/css?family=Dosis:400,600',
			rel: 'stylesheet',
			type: 'text/css'
		}, null, document.getElementsByTagName('head')[0]);

		Highcharts.theme = {
			colors: ['#7cb5ec', '#f7a35c', '#90ee7e', '#7798BF', '#aaeeee', '#ff0066', '#eeaaee',
				'#55BF3B', '#DF5353', '#7798BF', '#aaeeee'
			],
			// chart: {
			// 	// backgroundColor: null,
			// 	style: {
			// 		fontFamily: 'Dosis, sans-serif'
			// 	}
			// },
			global: {
				useUTC: false
			},
			title: {
				style: {
					fontSize: '16px',
					fontWeight: 'bold',
					textTransform: 'uppercase'
				}
			},
			tooltip: {
				borderWidth: 0,
				backgroundColor: 'rgba(219,219,216,0.8)',
				shadow: false
			},
			legend: {
				itemStyle: {
					fontWeight: 'bold',
					fontSize: '13px'
				}
			},
			credits:false,
			xAxis: {
				gridLineWidth: 1,
				gridLineColor: "#bbb",
				minorGridLineColor: "#ddd",
				minorTickInterval: 'auto',
				labels: {
					style: {
						fontSize: '12px'
					}
				}
			},
			yAxis: {
				gridLineColor: "#bbb",
				minorGridLineColor: "#ddd",
				minorTickInterval: 'auto',
				title: {
					style: {
						textTransform: 'uppercase'
					}
				},
				labels: {
					style: {
						fontSize: '12px'
					}
				}
			},
			plotOptions: {},
		};
		Highcharts.setOptions(Highcharts.theme);
	}))

	const member_show = Vue.extend({
		template: '#member_show_div',
		data: function() {
			return {
				weight_advise: {},
				member: {},
				member_data: {
					// ws_ring:{},
					// ws_heart_v2:{},
					// ws_weight:{},
					// ws_blood:{},
				},
				// ws_ecg_heart: [],
			}
		},
		methods: {
			get_member: function(id) {
				var _this = this;
				$("#loading").show();
				$.ajax({
					url: "/healthcloud/partner_accounts/get_date_by_id", //'http://' + _this.$parent.hc_server_ip_port + 
					data: {
						userid: id,
						table_name: "ws_user"
					},
					success: function(json) {
						_this.member = json.ws_user
					},
					error: error_fun,
					complete: function() {
						$("#loading").hide();
					}
				})
			},
			get_member_last_data: function(id) {
				var _this = this;
				$("#loading").show();
				$.ajax({
					url: "/healthcloud/partner_accounts/get_last_data", //'http://' + _this.$parent.hc_server_ip_port + 
					data: {
						userid: id
					},
					success: function(json) {
						_this.member_data = json.data;
					},
					error: error_fun,
					complete: function() {
						$("#loading").hide();
					}
				})

			}
		},
		mounted:function() {
			var _this = this;
			// $('#chart_div_leida').highcharts({
			// 	chart: {
			// 		polar: true,
			// 		type: 'area'
			// 	},
			// 	title: {
			// 		text: '',
			// 	},
			// 	pane: {
			// 		size: '80%'
			// 	},
			// 	xAxis: {
			// 		categories: ['运动', '情绪压力', '体重体脂', '体温',
			// 		'血压', '血糖'],
			// 		tickmarkPlacement: 'on',
			// 		lineWidth: 0
			// 	},
			// 	yAxis: {
			// 		gridLineInterpolation: 'polygon',
			// 		lineWidth: 0,
			// 		min: 0,
			// 		max: 100
			// 	},
			// 	legend: false,
			// 	tooltip: {
			// 		shared: true,
			// 		pointFormat: '<span style="color:{series.color}">得分: <b>{point.y:,.0f}</b><br/>'
			// 	},
			// 	series: [{
			// 		name: '健康状况概览',
			// 		data: [46, 51, 0, 55, 48, 54],
			// 		pointPlacement: 'on'
			// 	}]
			// });
			$.ajax({
				url:'/users/weight_advise.json',
				success:function(json) {
					if (json.error==false) {
						_this.weight_advise = json.result;
					}else{
						mui.toast(json.msg,{
							duration:8000,
						});
					}
				}
			})
		},
		activated: function() {
			var _this = this;
			var id = _this.$route.params.member_id;
			_this.get_member(id);
			_this.get_member_last_data(id);
		}
	})
</script>
<template id="ws_blood_div">
	<div>
		<header class="my_top_nav mui-bar mui-bar-nav">
			<router-link tag="button" :to="{name:'member_show'}" class="mui-btn mui-btn-blue mui-btn-link mui-btn-nav mui-pull-left"><span class="mui-icon mui-icon-left-nav"></span>返回</router-link>
			<h1 class="mui-title">血压曲线</h1>
		</header>
		<div class="mui-content">
			<div>
				<div class="white_bg_bar">
					<i class="fa fa-caret-left" @tap="change_blood_date('-')"></i>
					<i class="fa fa-caret-right" @tap="change_blood_date('+')"></i>
					<b>{{blood_date1}} - {{blood_date2}}</b>
				</div>
				<div id="chart_div_ws_blood" style="height:300px"></div>
				<div class="advise_text">健康建议：熬夜是时下生活中，很多人经常甚至每天都在经历的生活阶段。实际上这是非常不好的习惯。缺觉不说，而且长期熬夜还会增加心脑血管负担，最终使血管变脆，而容易发生意外。所以在新的一年里，咱还是别熬了吧。</div>
			</div>
		</div>
	</div>
</template>
<script type="text/javascript">
	const ws_blood = Vue.extend({
		template: '#ws_blood_div',
		data: function() {
			return {
				blood_date1: new Date(new Date().getTime() - 6 * 24 * 3600 * 1000).pattern("yyyy/MM/dd"),
				blood_date2: new Date().pattern("yyyy/MM/dd"),
			}
		},
		methods: {
			change_blood_date: function(type) {
				var _this = this;
				if(type == "+") {
					_this.blood_date1 = new Date(new Date(_this.blood_date1).getTime() + 7 * 24 * 3600 * 1000).pattern("yyyy/MM/dd");
					_this.blood_date2 = new Date(new Date(_this.blood_date2).getTime() + 7 * 24 * 3600 * 1000).pattern("yyyy/MM/dd");
				} else {
					_this.blood_date1 = new Date(new Date(_this.blood_date1).getTime() - 7 * 24 * 3600 * 1000).pattern("yyyy/MM/dd");
					_this.blood_date2 = new Date(new Date(_this.blood_date2).getTime() - 7 * 24 * 3600 * 1000).pattern("yyyy/MM/dd");
				}
				var id = _this.$route.params.member_id;
				_this.get_ws_blood(id);
			},
			get_ws_blood: function(id) {
				var _this = this;
				var start_date = _this.blood_date1 + ' 00:00:00',
				end_date = _this.blood_date2 + ' 23:59:59'
				$("#loading").show();
				$.ajax({
					url: "/healthcloud/partner_accounts/get_date_by_id", //'http://' + _this.$parent.hc_server_ip_port + 
					data: {
						userid: id,
						table_name: "ws_blood",
						start_date:start_date.replace(/\//g, '-'),
						end_date:end_date.replace(/\//g, '-'),
					},
					success: function(json) {

						var datas = [],
						datas2 = [],
						datas3 = [];
						$(json.data).each(function(i, v) {
							var date = new Date(v.datRecordTime.replace(/-/g, '/'));
							var dd = number_with_one_point(v.intSystolic);
							var dd2 = number_with_one_point(v.intDiastolic);
							var dd3 = number_with_one_point(v.intPulse);
							datas.push([date.getTime(), dd]);
							datas2.push([date.getTime(), dd2]);
							datas3.push([date.getTime(), dd3]);
						})
						if(!json.data.length) {
							mui.toast("无数据", {
								duration: 3500
							});
						}
						$('#chart_div_ws_blood').highcharts({
							chart: {
							// type: 'spline',
						},
						exporting: {
							enabled: false,
						},
						title: {
							text: '血压曲线'
						},
						subtitle: {
							text: '七日数据曲线'
						},
						xAxis: {
							type: 'datetime',
							min: new Date(start_date).getTime(),
							max: new Date(end_date).getTime(),
							tickInterval:24*3600*1000,
							labels:{
								formatter:function(){
									return new Date(this.value).pattern("MM/dd");
								}
							}
						},
						yAxis: {
							title: false,
							plotLines: [{
								color: 'red', //线的颜色，定义为红色
								dashStyle: 'longdashdot', //默认值，这里定义为实线
								value: 140, //定义在那个值上显示标示线，这里是在x轴上刻度为3的值处垂直化一条线
								width: 3, //标示线的宽度，2px
								zIndex: 1
							}, {
								color: 'red',
								dashStyle: 'longdashdot',
								value: 90,
								width: 3,
								zIndex: 1
							}, {
								color: 'red',
								dashStyle: 'longdashdot',
								value: 60,
								width: 3,
								zIndex: 1
							}]
						},
						// legend: false,
						credits: false,
						series: [{
							name: '收缩压',
							tooltip: {
								valueSuffix: ' mmHg',
							},
							dataLabels: {
								enabled: true,
							},
							data: datas,
						}, {
							name: '舒张压',
							tooltip: {
								valueSuffix: ' mmHg',
							},
							dataLabels: {
								enabled: true,
							},
							data: datas2,
						}, {
							name: '脉搏',
							tooltip: {
								// valueSuffix:' ',
							},
							visible:false,
							dataLabels: {
								enabled: true,
							},
							data: datas3,
						}]
					}, function(chart) { // on complete
					});
					},
					error: error_fun,
					complete: function() {
						$("#loading").hide();
					}
				})
			},
		},
		mounted: function() {
			var _this = this;
			var id = _this.$route.params.member_id;
			_this.get_ws_blood(id);

		}
	})
</script>
<template id="ws_blood_sugar_div">
	<div>
		<header class="my_top_nav mui-bar mui-bar-nav">
			<router-link tag="button" :to="{name:'member_show'}" class="mui-btn mui-btn-blue mui-btn-link mui-btn-nav mui-pull-left"><span class="mui-icon mui-icon-left-nav"></span>返回</router-link>
			<h1 class="mui-title">血糖曲线</h1>
		</header>
		<div class="mui-content">
			<div>
				<div class="white_bg_bar">
					<i class="fa fa-caret-left" @tap="change_blood_sugar_date('-')"></i>
					<i class="fa fa-caret-right" @tap="change_blood_sugar_date('+')"></i>
					<b>{{blood_sugar_date1}} - {{blood_sugar_date2}}</b>
				</div>
				<div id="chart_div_ws_blood_sugar" style="height:300px"></div>
				<div class="advise_text">健康建议：熬夜是时下生活中，很多人经常甚至每天都在经历的生活阶段。实际上这是非常不好的习惯。缺觉不说，而且长期熬夜还会增加心脑血管负担，最终使血管变脆，而容易发生意外。所以在新的一年里，咱还是别熬了吧。</div>
			</div>
		</div>
	</div>
</template>
<script type="text/javascript">
	const ws_blood_sugar = Vue.extend({
		template: '#ws_blood_sugar_div',
		data: function() {
			return {
				blood_sugar_date1: new Date(new Date().getTime() - 6 * 24 * 3600 * 1000).pattern("yyyy/MM/dd"),
				blood_sugar_date2: new Date().pattern("yyyy/MM/dd"),
			}
		},
		methods: {
			change_blood_sugar_date: function(type) {
				var _this = this;
				if(type == "+") {
					_this.blood_sugar_date1 = new Date(new Date(_this.blood_sugar_date1).getTime() + 7 * 24 * 3600 * 1000).pattern("yyyy/MM/dd");
					_this.blood_sugar_date2 = new Date(new Date(_this.blood_sugar_date2).getTime() + 7 * 24 * 3600 * 1000).pattern("yyyy/MM/dd");
				} else {
					_this.blood_sugar_date1 = new Date(new Date(_this.blood_sugar_date1).getTime() - 7 * 24 * 3600 * 1000).pattern("yyyy/MM/dd");
					_this.blood_sugar_date2 = new Date(new Date(_this.blood_sugar_date2).getTime() - 7 * 24 * 3600 * 1000).pattern("yyyy/MM/dd");
				}
				var id = _this.$route.params.member_id;
				_this.get_ws_blood_sugar(id);
			},
			get_ws_blood_sugar: function(id) {
				var _this = this;
				var start_date = _this.blood_sugar_date1 + ' 00:00:00',
				end_date = _this.blood_sugar_date2 + ' 23:59:59'
				$("#loading").show();
				$.ajax({
					url: "/healthcloud/partner_accounts/get_date_by_id", //'http://' + _this.$parent.hc_server_ip_port + 
					data: {
						userid: id,
						table_name: "ws_blood_sugar",
						start_date:start_date.replace(/\//g, '-'),
						end_date:end_date.replace(/\//g, '-'),
					},
					success: function(json) {

						var datas = [],
						datas2 = [],
						datas3 = [];
						$(json.data).each(function(i, v) {
							var date = new Date(v.datRecordTime.replace(/-/g, '/'));
							var dd = number_with_one_point(v.intConsistency);
							datas.push({
								x: date.getTime(),
								y: dd,
								z: v.intTypeID
							});
						})
						if(!json.data.length) {
							mui.toast("无数据", {
								duration: 3500
							});
						}
						$('#chart_div_ws_blood_sugar').highcharts({
							chart: {
							// type: 'spline',
						},
						exporting: {
							enabled: false,
						},
						title: {
							text: '血糖曲线'
						},
						subtitle: {
							text: '七日数据曲线'
						},
						xAxis: {
							type: 'datetime',
						},
						yAxis: {
							title: false,
							plotLines: [{
								color: 'red', //线的颜色，定义为红色
								dashStyle: 'longdashdot', //默认值，这里定义为实线
								value: 140, //定义在那个值上显示标示线，这里是在x轴上刻度为3的值处垂直化一条线
								width: 3, //标示线的宽度，2px
								zIndex: 1
							}, {
								color: 'blue',
								dashStyle: 'longdashdot',
								value: 110,
								width: 3,
								zIndex: 1
							}, {
								color: 'blue',
								dashStyle: 'longdashdot',
								value: 70,
								width: 3,
								zIndex: 1
							}]
						},
						// legend: false,
						credits: false,
						series: [{
							name: '血糖',
							tooltip: {
								// valueSuffix:' mg/dL',
								pointFormatter: function() {
									return '<span>' + this.options.z + '：</span><b>' + this.y + '</b>'
								}
							},
							dataLabels: {
								enabled: true,
							},
							data: datas,
						}]
					}, function(chart) { // on complete
					});
					},
					error: error_fun,
					complete: function() {
						$("#loading").hide();
					}
				})
			},
		},
		mounted: function() {
			var _this = this;
			var id = _this.$route.params.member_id;
			_this.get_ws_blood_sugar(id);

		}
	})
</script>
<template id="ws_ecg_heart_div">
	<div>
		<header class="my_top_nav mui-bar mui-bar-nav">
			<router-link tag="button" :to="{name:'member_show'}" class="mui-btn mui-btn-blue mui-btn-link mui-btn-nav mui-pull-left"><span class="mui-icon mui-icon-left-nav"></span>返回</router-link>
			<h1 class="mui-title">心电指数</h1>
		</header>
		<div class="mui-content">
			<div>
				<div class="white_bg_bar">
					<i class="fa fa-caret-left" @tap="change_weight_date('-')"></i>
					<i class="fa fa-caret-right" @tap="change_weight_date('+')"></i>
					<b>{{weight_date1}} - {{weight_date2}}</b>
				</div>
				<div class="mui-card"></div>
				<div id="chart_div_ws_ecg_heart1" style="height: 240px;">
					<!-- <img src="/assets/users/_tmp_ecg.jpg" style="width: 100%;"> -->
				</div>
				<div class="mui-card"></div>
				<div id="chart_div_ws_ecg_heart2" style="height: 220px;"></div>
				<div class="mui-card">
					<div class="mui-card-header">
						<span><i class="fa fa-id-card-o" style="color: rgb(76, 175, 80); margin-right: 10px;"></i>压力状况</span>
						<small style="color: #999;">点击数据点后显示</small>
					</div>
					<div class="mui-card-content">
						<div class="mui-card-content-inner">
							<div>压力指数：{{sele_point2.y}}（{{get_label_display2(sele_point2.y)}}）</div>
							<a href="#/member_show/ecg_heart_desc2" style="color: #56b9ff;position: absolute;right: 14px;top: 14px;">说明</a>
						</div>
					</div>
				</div>
				<div class="mui-card"></div>
				<div id="chart_div_ws_ecg_heart3" style="height: 220px;"></div>
				<div class="mui-card"></div>
				<div id="chart_div_ws_ecg_heart4" style="height: 220px;"></div>
				<div class="mui-card">
					<div class="mui-card-header">
						<span><i class="fa fa-id-card-o" style="color: rgb(76, 175, 80); margin-right: 10px;"></i>情绪状况</span>
						<small style="color: #999;">点击数据点后显示</small>
					</div>
					<div class="mui-card-content">
						<div class="mui-card-content-inner">
							<div>情绪指数：{{sele_point4.y}}（{{get_label_display4(sele_point4.y)}}）</div>
							<a href="#/member_show/ecg_heart_desc4" style="color: #56b9ff;position: absolute;right: 14px;top: 14px;">说明</a>
						</div>
					</div>
				</div>
				<div class="advise_text text-danger">恭喜您，您的身体非常健康，希望您继续保持充足的睡眠、均衡的饮食和适当的运动。</div>
			</div>
		</div>
	</div>
</template>
<script type="text/javascript">
	const ws_ecg_heart = Vue.extend({
		template: '#ws_ecg_heart_div',
		data: function() {
			return {
				weight_date1: new Date(new Date().getTime() - 6 * 24 * 3600 * 1000).pattern("yyyy/MM/dd"),
				weight_date2: new Date().pattern("yyyy/MM/dd"),
				// ring_date: new Date().pattern("yyyy/MM/dd"),
				sele_point1:{},
				sele_point2:{},
				sele_point3:{},
				sele_point4:{},
			}
		},
		methods: {
			get_label_display2:function(val) {
				switch(val+''){
					case '1': return '很小';break;
					case '2': return '小';break;
					case '3': return '中等';break;
					case '4': return '大';break;
					case '5': return '很大';break;
					default : return '未知';
				}
			},
			get_label_display4:function(val) {
				switch(val+''){
					case '1': return '平静';break;
					case '2': return '放松';break;
					case '3': return '平衡';break;
					case '4': return '积极';break;
					case '5': return '亢奋';break;
					default : return '未知';
				}
			},
			change_weight_date: function(type) {
				var _this = this;
				// if(type == "+") {
				// 	_this.ring_date = new Date(new Date(_this.ring_date).getTime() + 1 * 24 * 3600 * 1000).pattern("yyyy/MM/dd");
				// } else {
				// 	_this.ring_date = new Date(new Date(_this.ring_date).getTime() - 1 * 24 * 3600 * 1000).pattern("yyyy/MM/dd");
				// }
				if(type == "+") {
					_this.weight_date1 = new Date(new Date(_this.weight_date1).getTime() + 7 * 24 * 3600 * 1000).pattern("yyyy/MM/dd");
					_this.weight_date2 = new Date(new Date(_this.weight_date2).getTime() + 7 * 24 * 3600 * 1000).pattern("yyyy/MM/dd");
				} else {
					_this.weight_date1 = new Date(new Date(_this.weight_date1).getTime() - 7 * 24 * 3600 * 1000).pattern("yyyy/MM/dd");
					_this.weight_date2 = new Date(new Date(_this.weight_date2).getTime() - 7 * 24 * 3600 * 1000).pattern("yyyy/MM/dd");
				}
				var id = _this.$route.params.member_id;
				_this.get_ws_ecg_heart(id);
			},
			get_member_last_data: function() {
				var _this = this;
				$("#loading").show();
				$.ajax({
					url: "/healthcloud/partner_accounts/get_last_data", //'http://' + _this.$parent.hc_server_ip_port + 
					success: function(json) {
						// _this.last_data = json.data;
						if (json.data&&json.data.ws_ecg_heart) {
							_this.sele_point1 = {y:json.data.ws_ecg_heart.intHeartbeat};
							_this.sele_point2 = {y:json.data.ws_ecg_heart.intPressure};
							_this.sele_point3 = {y:json.data.ws_ecg_heart.intVitalityAge};
							_this.sele_point4 = {y:Math.floor(json.data.ws_ecg_heart.intEmoIndex/20+1)};
						}
					},
					error: error_fun,
					complete: function() {
						$("#loading").hide();
					}
				})
			},
			get_ws_ecg_heart: function(id) {

				var _this = this;
				var start_date = _this.weight_date1 + ' 00:00:00',
				end_date = _this.weight_date2 + ' 23:59:59'
				$("#loading").show();
				$.ajax({
					url: "/healthcloud/partner_accounts/get_date_by_id", //'http://' + _this.$parent.hc_server_ip_port + 
					data: {
						// userid: id,
						table_name: "ws_ecg_heart",
						start_date: start_date.replace(/\//g, '-'),
						end_date: end_date.replace(/\//g, '-')
					},
					success: function(json) {

						var datas1 = [];
						var datas2 = [];
						var datas3 = [];
						var datas4 = [];
						$(json.data).each(function(i, v) {
							var date = new Date(v.datRecordTime.replace(/-/g, '/'));
							var dd1 = number_with_one_point(v.intHeartbeat);
							var dd2 = number_with_one_point(v.intPressure);
							var dd3 = number_with_one_point(v.intVitalityAge);
							var dd4 = number_with_one_point(v.intEmoIndex);
							datas1.push([date.getTime(), dd1]);
							datas2.push([date.getTime(), dd2]);
							datas3.push([date.getTime(), dd3]);
							datas4.push([date.getTime(), Math.floor(dd4/20+1)]);
						})
						$('#chart_div_ws_ecg_heart1').highcharts({
							chart: {
							// type: 'spline',
							},
							exporting: {
								enabled: false,
							},
							title: {
								text: ''
							},
							subtitle: {
								text: '心跳数值曲线'
							},
							xAxis: {
								type: 'datetime',
								min: new Date(start_date).getTime(),
								max: new Date(end_date).getTime(),
								tickInterval:24*3600*1000,
								labels:{
									formatter:function(){
										return new Date(this.value).pattern("MM/dd");
									}
								}
							},
							yAxis: {
								title: false,
								// plotLines: [{
								// 	color: 'red', //线的颜色，定义为红色
								// 	dashStyle: 'longdashdot', //默认值，这里定义为实线
								// 	value: 120, //定义在那个值上显示标示线，这里是在x轴上刻度为3的值处垂直化一条线
								// 	width: 3, //标示线的宽度，2px
								// 	zIndex: 1
								// }, {
								// 	color: 'red', //线的颜色，定义为红色
								// 	dashStyle: 'longdashdot', //默认值，这里定义为实线
								// 	value: 40, //定义在那个值上显示标示线，这里是在x轴上刻度为3的值处垂直化一条线
								// 	width: 3, //标示线的宽度，2px
								// 	zIndex: 1
								// }]
							},
							legend: false,
							credits: false,
							series: [{
								name: '心跳数值',
								cursor: 'pointer',
								events: { 
									click: function(e) { 
										// console.log(e.point);
										_this.sele_point1 = e.point;
									} 
								},
								tooltip: {
									valueSuffix: ' 次/分',
								},
								dataLabels: {
									enabled: true,
								},
								data: datas1,
							}]
						}, function(chart) { // on complete
						});
						$('#chart_div_ws_ecg_heart2').highcharts({
							exporting: {
								enabled: false,
							},
							title: {
								text: ''
							},
							subtitle: {
								text: '压力指数曲线'
							},
							xAxis: {
								type: 'datetime',
								min: new Date(start_date).getTime(),
								max: new Date(end_date).getTime(),
								tickInterval:24*3600*1000,
								labels:{
									formatter:function(){
										return new Date(this.value).pattern("MM/dd");
									}
								}
							},
							yAxis: {
								title: false,
							},
							legend: false,
							credits: false,
							series: [{
								name: '压力指数',
								cursor: 'pointer',
								events: { 
									click: function(e) { 
										// console.log(e.point);
										_this.sele_point2 = e.point;
									} 
								},
								tooltip: {
									// valueSuffix: ' 次/分',
								},
								dataLabels: {
									enabled: true,
								},
								data: datas2,
							}]
						}, function(chart) { // on complete
						});
						$('#chart_div_ws_ecg_heart3').highcharts({
							exporting: {
								enabled: false,
							},
							title: {
								text: ''
							},
							subtitle: {
								text: '活力年龄曲线'
							},
							xAxis: {
								type: 'datetime',
								min: new Date(start_date).getTime(),
								max: new Date(end_date).getTime(),
								tickInterval:24*3600*1000,
								labels:{
									formatter:function(){
										return new Date(this.value).pattern("MM/dd");
									}
								}
							},
							yAxis: {
								title: false,
							},
							legend: false,
							credits: false,
							series: [{
								name: '活力年龄',
								cursor: 'pointer',
								events: { 
									click: function(e) { 
										// console.log(e.point);
										_this.sele_point3 = e.point;
									} 
								},
								tooltip: {
									// valueSuffix: ' 次/分',
								},
								dataLabels: {
									enabled: true,
								},
								data: datas3,
							}]
						}, function(chart) { // on complete
						});
						$('#chart_div_ws_ecg_heart4').highcharts({
							exporting: {
								enabled: false,
							},
							title: {
								text: ''
							},
							subtitle: {
								text: '情绪指数曲线'
							},
							xAxis: {
								type: 'datetime',
								min: new Date(start_date).getTime(),
								max: new Date(end_date).getTime(),
								tickInterval:24*3600*1000,
								labels:{
									formatter:function(){
										return new Date(this.value).pattern("MM/dd");
									}
								}
							},
							yAxis: {
								title: false,
							},
							legend: false,
							credits: false,
							series: [{
								name: '情绪指数',
								cursor: 'pointer',
								events: { 
									click: function(e) { 
										// console.log(e.point);
										_this.sele_point4 = e.point;
									} 
								},
								tooltip: {
									// valueSuffix: ' 次/分',
								},
								dataLabels: {
									enabled: true,
								},
								data: datas4,
							}]
						}, function(chart) { // on complete
						});
					},
					error: error_fun,
					complete: function() {
						$("#loading").hide();
					}
				})
			},
		},
		mounted: function() {
			var _this = this;
			var id = _this.$route.params.member_id;
			_this.get_ws_ecg_heart(id);
			_this.get_member_last_data();

		}
	})
</script>
<template id="ws_heart_v2_div">
	<div>
		<header class="my_top_nav mui-bar mui-bar-nav">
			<router-link tag="button" :to="{name:'member_show'}" class="mui-btn mui-btn-blue mui-btn-link mui-btn-nav mui-pull-left"><span class="mui-icon mui-icon-left-nav"></span>返回</router-link>
			<h1 class="mui-title">手环心率记录</h1>
		</header>
		<div class="mui-content">
			<div>
				<div class="white_bg_bar">
					<i class="fa fa-caret-left" @tap="change_ring_date('-')"></i>
					<i class="fa fa-caret-right" @tap="change_ring_date('+')"></i>
					<b>{{ring_date}}</b>
				</div>
				<div id="chart_div_ws_heart_v2" style="height:300px"></div>
				<div class="advise_text">健康建议：水是万物之源，它主要的作用是辅助消化、参与新陈代谢、运送营养物质和调节抑制功能等。但是，现在的有些朋友会在工作学习中，忘了喝水。这是一个非常不好的习惯，长此下去，会使毒素在体内积累，造成各种各样的疾病。而且你要注意的是，喝水的时候不能光喝饮料。因为饮料中会加入很多后添加的物质，影响其他物质的吸收。</div>
			</div>
		</div>
	</div>
</template>
<script type="text/javascript">
	const ws_heart_v2 = Vue.extend({
		template: '#ws_heart_v2_div',
		data: function() {
			return {
				ring_date: new Date().pattern("yyyy/MM/dd"),
			}
		},
		methods: {
			change_ring_date: function(type) {
				var _this = this;
				if(type == "+") {
					_this.ring_date = new Date(new Date(_this.ring_date).getTime() + 1 * 24 * 3600 * 1000).pattern("yyyy/MM/dd");
				} else {
					_this.ring_date = new Date(new Date(_this.ring_date).getTime() - 1 * 24 * 3600 * 1000).pattern("yyyy/MM/dd");
				}
				var id = _this.$route.params.member_id;
				_this.get_ws_heart_v2(id);
			},
			get_ws_heart_v2: function(id) {

				var _this = this;
				var start_date = _this.ring_date + ' 00:00:00',
				end_date = _this.ring_date + ' 23:59:59'
				$("#loading").show();
				$.ajax({
					url: "/healthcloud/partner_accounts/get_date_by_id", //'http://' + _this.$parent.hc_server_ip_port + 
					data: {
						userid: id,
						table_name: "ws_heart_v2",
						start_date: start_date.replace(/\//g, '-'),
						end_date: end_date.replace(/\//g, '-')
					},
					success: function(json) {

						var datas = [];
						$(json.data).each(function(i, v) {
							var date = new Date(v.strRecordDate.replace(/-/g, '/'));
							var dd = number_with_one_point(v.HRValue);
							datas.push([date.getTime(), dd]);
						})
						$('#chart_div_ws_heart_v2').highcharts({
							chart: {
							// type: 'spline',
						},
						exporting: {
							enabled: false,
						},
						title: {
							text: '手环心率曲线'
						},
						subtitle: {
							text: '日数据曲线'
						},
						xAxis: {
							type: 'datetime',
						},
						yAxis: {
							title: false,
							plotLines: [{
								color: 'red', //线的颜色，定义为红色
								dashStyle: 'longdashdot', //默认值，这里定义为实线
								value: 120, //定义在那个值上显示标示线，这里是在x轴上刻度为3的值处垂直化一条线
								width: 3, //标示线的宽度，2px
								zIndex: 1
							}, {
								color: 'red', //线的颜色，定义为红色
								dashStyle: 'longdashdot', //默认值，这里定义为实线
								value: 40, //定义在那个值上显示标示线，这里是在x轴上刻度为3的值处垂直化一条线
								width: 3, //标示线的宽度，2px
								zIndex: 1
							}]
						},
						legend: false,
						credits: false,
						series: [{
							name: '心率',
							tooltip: {
								valueSuffix: ' 次/分',
							},
							dataLabels: {
								enabled: true,
							},
							data: datas,
						}]
					}, function(chart) { // on complete
					});
					},
					error: error_fun,
					complete: function() {
						$("#loading").hide();
					}
				})
			},
		},
		mounted: function() {
			var _this = this;
			var id = _this.$route.params.member_id;
			_this.get_ws_heart_v2(id);

		}
	})
</script>
<template id="ws_ring_div">
	<div>
		<header class="my_top_nav mui-bar mui-bar-nav">
			<router-link tag="button" :to="{name:'member_show'}" class="mui-btn mui-btn-blue mui-btn-link mui-btn-nav mui-pull-left"><span class="mui-icon mui-icon-left-nav"></span>返回</router-link>
			<h1 class="mui-title">手环运动记录</h1>
		</header>
		<div class="mui-content">
			<div>
				<div class="white_bg_bar">
					<i class="fa fa-caret-left" @tap="change_ring_date('-')"></i>
					<i class="fa fa-caret-right" @tap="change_ring_date('+')"></i>
					<b>{{ring_date}}</b>
				</div>
				<div id="chart_div_ws_ring" style="height:300px"></div>
				<div class="advise_text">健康建议：随着社会节奏的加快，竞争的加剧，很多朋友整天就坐在电脑之前，书本之前，已经忘了自己的身体会动。这是一个非常不好的习惯。长期不运动，会造成生理性肌肉无力，而且还会使自己易患上其他疾病。所以，朋友们，再忙，也给自己动动的时间吧。 </div>
			</div>
		</div>
	</div>
</template>
<script type="text/javascript">
	const ws_ring = Vue.extend({
		template: '#ws_ring_div',
		data: function() {
			return {
				ring_date: new Date().pattern("yyyy/MM/dd"),
			}
		},
		methods: {
			change_ring_date: function(type) {
				var _this = this;
				if(type == "+") {
					_this.ring_date = new Date(new Date(_this.ring_date).getTime() + 1 * 24 * 3600 * 1000).pattern("yyyy/MM/dd");
				} else {
					_this.ring_date = new Date(new Date(_this.ring_date).getTime() - 1 * 24 * 3600 * 1000).pattern("yyyy/MM/dd");
				}
				var id = _this.$route.params.member_id;
				_this.get_ws_ring(id);
			},
			get_ws_ring: function(id) {

				var _this = this;
				var start_date = _this.ring_date + ' 00:00:00',
				end_date = _this.ring_date + ' 23:59:59'
				$("#loading").show();
				$.ajax({
					url: "/healthcloud/partner_accounts/get_date_by_id", //'http://' + _this.$parent.hc_server_ip_port + 
					data: {
						userid: id,
						table_name: "ws_ring",
						start_date: start_date.replace(/\//g, '-'),
						end_date: end_date.replace(/\//g, '-')
					},
					success: function(json) {

						var datas = [],
						last_step = 0;
						$(json.data).each(function(i, v) {
							var dd = number_with_one_point(v.footSteps) - last_step;
							last_step = number_with_one_point(v.footSteps);
							if(dd) {
								datas.push([new Date(v.recordTime.replace(/-/g, '/')).getTime() - 30 * 60 * 1000 + 1000, dd]);
							}
						})
						if(!json.data.length) {
							mui.toast("当日无运动数据", {
								duration: 3500
							});
						}
						$('#chart_div_ws_ring').highcharts({
							chart: {
								type: 'column',
							},
							exporting: {
								enabled: false,
							},
							title: {
								text: '手环运动记录(日曲线)'
							},
							subtitle: {
								text: '读万卷书不如行万里路，日总计：<b class="">' + last_step + ' 步',
							},
							xAxis: {
								type: 'datetime',
								minorTickInterval: 1 * 3600 * 1000,
								tickInterval: 1 * 3600 * 1000,
								softMin: new Date(start_date).getTime(),
								softMax: new Date(end_date).getTime(),
								labels: {
									formatter: function() {
										if(this.isFirst || this.isLast) {
											return null;
										} else {
											return new Date(this.value).getHours();
										}
									}
								},
							},
							plotOptions:{
								series:{
									pointWidth: 10,
								}
							},
							yAxis: {
								title: false,
							},
							legend: false,
							credits: false,
							series: [{
								name: '步数',
								tooltip: {
									dateTimeLabelFormats: false,
									valueSuffix: ' steps',
								},
								dataLabels: {
									enabled: true,
								},
								data: datas,
							}]
					}, function(chart) { // on complete
					});

					},
					error: error_fun,
					complete: function() {
						$("#loading").hide();
					}
				})
			},
		},
		mounted: function() {
			var _this = this;
			var id = _this.$route.params.member_id;
			_this.get_ws_ring(id);
		}
	})
</script>
<template id="ws_weight_div">
	<div>
		<header class="my_top_nav mui-bar mui-bar-nav">
			<router-link tag="button" :to="{name:'member_show'}" class="mui-btn mui-btn-blue mui-btn-link mui-btn-nav mui-pull-left"><span class="mui-icon mui-icon-left-nav"></span>返回</router-link>
			<h1 class="mui-title">体重曲线</h1>
		</header>
		<div class="mui-content">
			<div>
				<div class="white_bg_bar">
					<i class="fa fa-caret-left" @tap="change_weight_date('-')"></i>
					<i class="fa fa-caret-right" @tap="change_weight_date('+')"></i>
					<b>{{weight_date1}} - {{weight_date2}}</b>
				</div>
				<div id="chart_div_ws_weight" style="height:300px"></div>
				<div class="mui-card">
					<div class="mui-card-header">
						<span><i class="fa fa-id-card-o" style="color: rgb(76, 175, 80); margin-right: 10px;"></i>体质状况</span>
						<small style="color: #999;">点击数据点后显示</small>
					</div>
					<div class="mui-card-content">
						<div class="mui-card-content-inner">
							<div>基础代谢：{{sele_point.floBMR}} Kcal</div>
							<div>脂肪比例：{{sele_point.floBodyFat&&$parent.number_with_one_point(sele_point.floBodyFat)}} %</div>
							<div>水份比例：{{sele_point.floTotalBodyWater&&$parent.number_with_one_point(sele_point.floTotalBodyWater)}} %</div>
							<div>肌肉重量：{{sele_point.floSoftLeanMass&&$parent.number_with_one_point(sele_point.floSoftLeanMass)}} Kg</div>
							<div>骨矿物量：{{sele_point.floRateOfBone&&$parent.number_with_one_point(sele_point.floRateOfBone)}} Kg</div>
							<a href="#/member_show/weight_desc" style="color: #56b9ff;position: absolute;right: 14px;top: 14px;">说明</a>
						</div>
					</div>
				</div>
				<div>
				</div>
				<div class="advise_text">健康建议：油炸食品从来都是人们喜欢吃的，甚至有的人已经“离不开他了”。虽然它很香，但我要告诉你的是，长期吃油炸食品，容易造成肥胖，而且，还能增加患有其他可怕的疾病的风险。所以，吃货们，放弃油炸食品吧。</div>
			</div>
		</div>
	</div>
</template>
<script type="text/javascript">
	const ws_weight = Vue.extend({
		template: '#ws_weight_div',
		data: function() {
			return {
				weight_date1: new Date(new Date().getTime() - 6 * 24 * 3600 * 1000).pattern("yyyy/MM/dd"),
				weight_date2: new Date().pattern("yyyy/MM/dd"),
				sele_point:{},
				// last_data:{},
			}
		},
		methods: {
			change_weight_date: function(type) {
				var _this = this;
				if(type == "+") {
					_this.weight_date1 = new Date(new Date(_this.weight_date1).getTime() + 7 * 24 * 3600 * 1000).pattern("yyyy/MM/dd");
					_this.weight_date2 = new Date(new Date(_this.weight_date2).getTime() + 7 * 24 * 3600 * 1000).pattern("yyyy/MM/dd");
				} else {
					_this.weight_date1 = new Date(new Date(_this.weight_date1).getTime() - 7 * 24 * 3600 * 1000).pattern("yyyy/MM/dd");
					_this.weight_date2 = new Date(new Date(_this.weight_date2).getTime() - 7 * 24 * 3600 * 1000).pattern("yyyy/MM/dd");
				}
				var id = _this.$route.params.member_id;
				_this.get_ws_weight(id);
			},
			get_member_last_data: function() {
				var _this = this;
				$("#loading").show();
				$.ajax({
					url: "/healthcloud/partner_accounts/get_last_data", //'http://' + _this.$parent.hc_server_ip_port + 
					success: function(json) {
						// _this.last_data = json.data;
						_this.sele_point = json.data.ws_weight;
					},
					error: error_fun,
					complete: function() {
						$("#loading").hide();
					}
				})
			},
			get_ws_weight: function(id) {
				var _this = this;
				var start_date = _this.weight_date1 + ' 00:00:00',
				end_date = _this.weight_date2 + ' 23:59:59'
				// console.log( new Date(start_date).getTime(), new Date(end_date).getTime() );
				$("#loading").show();
				$.ajax({
					url: "/healthcloud/partner_accounts/get_date_by_id", //'http://' + _this.$parent.hc_server_ip_port + 
					data: {
						userid: id,
						table_name: "ws_weight",
						start_date:start_date.replace(/\//g, '-'),
						end_date:end_date.replace(/\//g, '-'),
					},
					success: function(json) {

						var datas = [];
						$(json.data).each(function(i, v) {
							var date = new Date(v.datRecordTime.replace(/-/g, '/'));
							var dd = number_with_one_point(v.floWeight);
							v.x=date.getTime();
							v.y=dd;
							datas.push(v);
						})
						if(!json.data.length) {
							mui.toast("无数据", {
								duration: 3500
							});
						}
						$('#chart_div_ws_weight').highcharts({
							chart: {
								type: 'spline',
							},
							exporting: {
								enabled: false,
							},
							title: {
								text: '体重曲线'
							},
							subtitle: {
								text: '七日数据曲线'
							},
							xAxis: {
								type: 'datetime',
								min: new Date(start_date).getTime(),
								max: new Date(end_date).getTime(),
								tickInterval:24*3600*1000,
								labels:{
									// step:1,
									formatter:function(){
										return new Date(this.value).pattern("MM/dd");
									}
								}
							},
							yAxis: {
								title: false,
								// plotLines: [{
								// 	color: 'red', //线的颜色，定义为红色
								// 	dashStyle: 'longdashdot', //默认值，这里定义为实线
								// 	value: 120, //定义在那个值上显示标示线，这里是在x轴上刻度为3的值处垂直化一条线
								// 	width: 3, //标示线的宽度，2px
								// 	zIndex: 1
								// }, {
								// 	color: 'red', //线的颜色，定义为红色
								// 	dashStyle: 'longdashdot', //默认值，这里定义为实线
								// 	value: 40, //定义在那个值上显示标示线，这里是在x轴上刻度为3的值处垂直化一条线
								// 	width: 3, //标示线的宽度，2px
								// 	zIndex: 1
								// }]
							},
							legend: false,
							credits: false,
							series: [{
								name: '体重',
								cursor: 'pointer',
								events: { 
									click: function(e) { 
										// console.log(e.point);
										_this.sele_point = e.point;
									} 
								},
								tooltip: {
									valueSuffix: ' kg',
								},
								dataLabels: {
									enabled: true,
								},
								data: datas,
							}]
						}, function(chart) { // on complete
						});
					},
					error: error_fun,
					complete: function() {
						$("#loading").hide();
					}
				})
			},
		},
		mounted: function() {
			var _this = this;
			var id = _this.$route.params.member_id;
			_this.get_ws_weight(id);
			_this.get_member_last_data();

		}
	})
</script>
<style type="text/css">
	.border_table{
		width: 100%;
	}
	.border_table th,.border_table td{
		padding: 6px;
		border: 1px solid #ddd;
		text-align: center;
	}
</style>
<template id="weight_desc_div">
	<div>
		<header class="my_top_nav mui-bar mui-bar-nav">
			<router-link tag="button" :to="{name:'ws_weight'}" class="mui-btn mui-btn-blue mui-btn-link mui-btn-nav mui-pull-left"><span class="mui-icon mui-icon-left-nav"></span>返回</router-link>
			<h1 class="mui-title">体质说明</h1>
		</header>
		<div class="mui-content" style="background: #fff;">
			<div style="padding: 10px;">
				<h3>基础代谢（Kcal/天）：</h3>
				<table class="border_table">
					<tr>
						<th>年龄</th>
						<th>18~29</th>
						<th>30~49</th>
						<th>50~69</th>
						<th>大于70</th>
					</tr>
					<tr>
						<th>男性</th>
						<td>1510</td>
						<td>1530</td>
						<td>1400</td>
						<td>1280</td>
					</tr>
					<tr>
						<th>女性</th>
						<td>1120</td>
						<td>1150</td>
						<td>1110</td>
						<td>1010</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</template>
<script type="text/javascript">
	const weight_desc = Vue.extend({
		template: '#weight_desc_div',
		data: function() {
			return {
			}
		},
		methods: {
		},
		mounted: function() {
			var _this = this;
		}
	})
</script>
<template id="ecg_heart_desc2_div">
	<div>
		<header class="my_top_nav mui-bar mui-bar-nav">
			<router-link tag="button" :to="{name:'ws_ecg_heart'}" class="mui-btn mui-btn-blue mui-btn-link mui-btn-nav mui-pull-left"><span class="mui-icon mui-icon-left-nav"></span>返回</router-link>
			<h1 class="mui-title">压力指数说明</h1>
		</header>
		<div class="mui-content" style="background: #fff;">
			<div style="padding: 10px;">
				<h3>压力指数：</h3>
				<div style="margin: 6px;text-indent: 2em;">区分为5个等级，数值越大代表压力越大，长期处于高张力与高压力的环境下，对于身心理会有一定的影响，并可能发生自主神经失调的情形。经常做呼吸训练能调节自主神经活性的平衡，除此之外，聆听音乐、规律的运动及安排旅行也能达到调节压力的效果。</div>
				<table class="border_table">
					<tr>
						<th>数值</th>
						<th>等级</th>
					</tr>
					<tr>
						<td>1</td>
						<td>很小</td>
					</tr>
					<tr>
						<td>2</td>
						<td>小</td>
					</tr>
					<tr>
						<td>3</td>
						<td>中等</td>
					</tr>
					<tr>
						<td>4</td>
						<td>大</td>
					</tr>
					<tr>
						<td>5</td>
						<td>很大</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</template>
<script type="text/javascript">
	const ecg_heart_desc2 = Vue.extend({
		template: '#ecg_heart_desc2_div',
		data: function() {
			return {
			}
		},
		methods: {
		},
		mounted: function() {
			var _this = this;
		}
	})
</script>
<template id="ecg_heart_desc4_div">
	<div>
		<header class="my_top_nav mui-bar mui-bar-nav">
			<router-link tag="button" :to="{name:'ws_ecg_heart'}" class="mui-btn mui-btn-blue mui-btn-link mui-btn-nav mui-pull-left"><span class="mui-icon mui-icon-left-nav"></span>返回</router-link>
			<h1 class="mui-title">情绪指数说明</h1>
		</header>
		<div class="mui-content" style="background: #fff;">
			<div style="padding: 10px;">
				<h3>情绪指数：</h3>
				<div style="margin: 6px;text-indent: 2em;">自主神经包含交感神经(Sympathetic Nervous System)及副交感神经(Parasympathetic Nervous System)，掌管人体90%以上的生理活动，作用如表格:</div>
				<table class="border_table">
					<tr>
						<th></th>
						<td>交感神经</td>
						<td>副交感神经</td>
					</tr>
					<tr>
						<th>作用</th>
						<td>表现于紧张、恐惧、战斗、亢奋等情境</td>
						<td>表现于轻松、休息、睡觉、紧张过后</td>
					</tr>
					<tr>
						<th>征象</th>
						<td>血压上升、心跳加快、瞳孔放大、排汗增加、血管收缩、肌肉紧绷、尿液减少、消化变慢</td>
						<td>血压降低、心跳放慢、瞳孔缩小、排汗减少、肌肉放松、消化作用增加</td>
					</tr>
				</table>
				<div style="margin: 6px;text-indent: 2em;">情绪随着交感与副交感神经的作用，会表现出不同的情绪反应，藉由本传感器收集心电讯号并分析，可将情绪分为5种类型，平静/放松/平衡/积极/亢奋，数值越大代表越趋于亢奋情绪，本指标无好坏之区分。透过呼吸训练能有效的平衡交感与副交感神经活性。所以若处于亢奋的情绪下，进行呼吸训练能有效地减少交感神经活性并促进副交感神经活性，使的心情能够缓缓地平静下来。量测结果的符号对应如表格 :</div>
				<table class="border_table">
					<tr>
						<th>数值</th>
						<th>类型</th>
					</tr>
					<tr>
						<td>1</td>
						<td>平静</td>
					</tr>
					<tr>
						<td>2</td>
						<td>放松</td>
					</tr>
					<tr>
						<td>3</td>
						<td>平衡</td>
					</tr>
					<tr>
						<td>4</td>
						<td>积极</td>
					</tr>
					<tr>
						<td>5</td>
						<td>亢奋</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</template>
<script type="text/javascript">
	const ecg_heart_desc4 = Vue.extend({
		template: '#ecg_heart_desc4_div',
		data: function() {
			return {
			}
		},
		methods: {
		},
		mounted: function() {
			var _this = this;
		}
	})
</script>

<script type="text/javascript">
	const router = new VueRouter({
		routes: [{
				path: '/',
				redirect: '/member_show'
			},
			{
				path: '/member_show',
				component: member_show,
				name: "member_show"
			},
			{
				path: '/member_show/ws_ring',
				component: ws_ring,
				name: "ws_ring",
				meta: {
					notKeepAlive: true
				}
			},
			{
				path: '/member_show/ws_ecg_heart',
				component: ws_ecg_heart,
				name: "ws_ecg_heart",
				meta: {
					notKeepAlive: true
				}
			},
			{
				path: '/member_show/ws_heart_v2',
				component: ws_heart_v2,
				name: "ws_heart_v2",
				meta: {
					notKeepAlive: true
				}
			},
			{
				path: '/member_show/ws_weight',
				component: ws_weight,
				name: "ws_weight",
				meta: {
					notKeepAlive: true
				}
			},
			{
				path: '/member_show/weight_desc',
				component: weight_desc,
				name: "weight_desc",
				meta: {
					notKeepAlive: true
				}
			},
			{
				path: '/member_show/ecg_heart_desc2',
				component: ecg_heart_desc2,
				name: "ecg_heart_desc2",
				meta: {
					notKeepAlive: true
				}
			},
			{
				path: '/member_show/ecg_heart_desc4',
				component: ecg_heart_desc4,
				name: "ecg_heart_desc4",
				meta: {
					notKeepAlive: true
				}
			},
			{
				path: '/member_show/ws_blood',
				component: ws_blood,
				name: "ws_blood",
				meta: {
					notKeepAlive: true
				}
			},
			{
				path: '/member_show/ws_blood_sugar',
				component: ws_blood_sugar,
				name: "ws_blood_sugar",
				meta: {
					notKeepAlive: true
				}
			},
		]
	})

	var number_with_one_point = function(number) {
		return Math.round(parseFloat(number) * 10) / 10;
	}
	const current_app = new Vue({
		el: "#current_app_div",
		data: {
			hc_server_ip_port: '',
		},
		router: router,
		methods: {
			init_server_ip: function() {
				var _this = this;
				var ip = 'www.tenmind.com:12346' // localStorage.getItem('hc_server_ip_port');
				if(ip) {
					_this.hc_server_ip_port = ip;
				} else {
					_this.$router.push('settings');
					mui.plusReady(function() {
						mui.alert('未知的 server_ip 地址，请手动设置');
					})
				}
			},
			save_server_ip: function() {
				var ip = $('#server_ip').val();
				if(ip) {
					localStorage.setItem('hc_server_ip_port', ip);
					this.hc_server_ip_port = ip;
					mui.toast('成功设置 server_ip');
				} else {
					mui.alert('请填写正确的ip地址');
				}
			},
			number_with_one_point: function(value) {
				var ret = number_with_one_point(value);
				return ret;
			},
		},
		created: function() {
			var _this = this;
			_this.init_server_ip();
			// mui('body').on('tap', 'a', function() {
			// 	document.location.href = this.href;
			// });
			var old_back = mui.back;
			var back_one_press_flag=false;
			mui.back = function () {
				var route_name = _this.$route.name;
				if(route_name=='member_lists'||route_name=="settings"){
					_this.$router.push('home');
				}else if(route_name=='home'){
					if(back_one_press_flag==false){
						back_one_press_flag = true;
						mui.toast('再按一次退出健康云');
						setTimeout(function() {
							back_one_press_flag = false;
						}, 2000);
					}else{							
						plus.runtime.quit();
					}
				}else{
					old_back();
				}
			}
		},
		mounted: function() {}
	})
</script>

<script type="text/javascript">
</script>