<style type="text/css">
</style>
<template>
	<div id="applications_new_div">
		applications_new
	</div>
</template>
<script type="text/javascript">
window.current_template_obj = {
	data:function(){
		return {
		}
	},
	mounted:function(){
	},
	methods:{
	},
}
</script>
