<el-dialog
  title="药品字典"
  :visible.sync="dialogVisible"
  width="80%"
  >
  <el-row :span="24" :gutter="20">

  </el-row>
  <span slot="footer" class="dialog-footer">
    <el-button @click="dialogVisible = false">取 消</el-button>
    <el-button type="primary" @click="dialogVisible = false">确 定</el-button>
  </span>
</el-dialog>