<style type="text/css">
</style>
<template>
	<!-- 接诊管理、统计页面 -->
	<div id="encounters_index_div">
		encounters
	</div>
</template>
<script type="text/javascript">
window.current_template_obj = {
	data:function(){
		return {
		}
	},
	methods:{
	},
	mounted:function(){
	}
}
</script>
