<style type="text/css">
</style>
<template>
	<!-- 新建接诊页面 -->
	<div id="encounters_new_div">
		患者信息<br/>
		------<br/>
		诊断<br/>
		------<br/>
		取药点<br/>
		<el-collapse v-model="activeCollapse">
		  <el-collapse-item name="patientinfo1">
		    <template slot="title">
		    	<el-tooltip content="搜索患者" placement="right">
		      	<span class="fa fa-lg fa-search fa-fw text-primary" style="cursor: pointer;" @click.stop="toggleSidebar"></span>&#12288;
		      </el-tooltip>
		      <b v-if="encounter.name">{{ encounter.name }}</b><b v-else>[姓名]</b>&#12288;
		      <i v-html="judgeGender(encounter.gender&&encounter.gender.display)"></i>&#12288;
		      <span v-if="encounter.age">{{ encounter.age }}岁</span>
		    </template>
		    <el-form size="mini" :rules="rules" :model="encounter" ref="encounterForm" label-width="100px">
		    	<el-row>
			    	<el-col :span="8">
			    		<el-form-item
						    label="姓名"
						    prop="name">
						    <el-input v-model="encounter.name" auto-complete="off" prefix-icon="fa fa-user"></el-input>
						  </el-form-item>
						  <el-form-item
						    label="性别"
						    prop="gender">
						  	<el-select v-model="encounter.gender" value-key="code" placeholder="请选择">
							    <el-option
							      v-for="item in ($parent.common_data_genders||[])"
							      :key="item.code"
							      :label="item.display"
							      :value="item">
							    </el-option>
							  </el-select>
							  <i v-html="judgeGender(encounter.gender&&encounter.gender.display)"></i>
						  </el-form-item>
						  <el-form-item
						    label="年龄"
						    prop="age">
						    <el-input type="age" v-model.number="encounter.age" auto-complete="off" @change="judgeAge">
						    	<span slot="suffix">岁</span>
						    </el-input>
						  </el-form-item>
						  <div v-if="showAllPatInfo">
						  	<el-form-item
							    label="民族"
							    prop="nation">
							    <el-select v-model="encounter.nation" value-key="code" placeholder="请选择" style="width: 100%;">
								    <el-option
								      v-for="item in ($parent.common_data_nations||[])"
								      :key="item.code"
								      :label="item.display"
								      :value="item">
								    </el-option>
								  </el-select>
							  </el-form-item>
						  </div>
						</el-col>
						<el-col :span="8">
						  <el-form-item
						    label="出生日期"
						    prop="birth_date">
						    <el-date-picker
						      v-model="encounter.birth_date"
						      type="date"
						      style="width: 100%"
						      placeholder="选择日期">
						    </el-date-picker>
						  </el-form-item>
							<el-form-item
						    label="身份证号码"
						    prop="iden">
						    <el-input v-model="encounter.iden" prefix-icon="fa fa-id-card-o"></el-input>
						  </el-form-item>
						  <el-form-item
						    label="电话"
						    prop="phone">
						    <el-input v-model.number="encounter.phone" prefix-icon="fa fa-phone"></el-input>
						  </el-form-item>
						  <div v-if="showAllPatInfo">
						  	<el-form-item
							    label="婚姻"
							    prop="marriage">
							    <el-select v-model="encounter.marriage" value-key="code" placeholder="请选择" style="width: 100%;">
								    <el-option
								      v-for="item in ($parent.common_data_marriages||[])"
								      :key="item.code"
								      :label="item.display"
								      :value="item">
								    </el-option>
								  </el-select>
							  </el-form-item>
						  </div>
						</el-col>
						<el-col :span="8">
						  <el-form-item
						    label="住址"
						    prop="address">
						    <el-input v-model="encounter.address" prefix-icon="el-icon-location-outline"></el-input>
						  </el-form-item>
						  <el-form-item
						    label="职业"
						    prop="occupation">
						    <el-select v-model="encounter.occupation" value-key="code" placeholder="请选择" style="width: 100%;">
							    <el-option
							      v-for="item in ($parent.common_data_occupations||[])"
							      :key="item.code"
							      :label="item.display"
							      :value="item">
							    </el-option>
							  </el-select>
						  </el-form-item>
						  <el-form-item
						    :label="encounter.age < 14 ? '监护人' : '联系人'"
						    prop="contact_name">
						    <el-input v-model="encounter.contact_name"></el-input>
						  </el-form-item>
						  <div v-if="showAllPatInfo">
							  <el-form-item
							    label="工作单位"
							    prop="unit_name">
							    <el-input v-model="encounter.unit_name"></el-input>
							  </el-form-item>
						  </div>
						</el-col>
						<hr/>
						<!-- 医疗信息，诊断，血型，身高，体重，bmi -->
						<el-col v-for="(item, index) in (encounter.diagnoses||[])" :span="8">
							<el-form-item 
								:prop="'diagnose.' + index + '.display'"
								:label="index==0 ? '诊断' : '第 '+(index+1)+' 诊断'"
								:rules="[{ required: true, message: '请输入诊断', trigger: 'blur, change' }]">
								<el-autocomplete size="mini" :name="'diagnose'+index" v-model="item.display" :fetch-suggestions="querySearchDiagnoseAsync" @select="handleSelectDiagnosis" :debounce="300" style="width: 100%;" @focus="focusDiagnosisInputIndex=index">
									<i class="el-icon-circle-close-outline el-input__icon" slot="suffix" v-on:click="encounter.diagnoses[index]={code: '', display: ''}"></i>
									<template slot-scope="props">
										<el-col :span="10">{{props.item.id}}</el-col>
										<el-col :span="14">{{props.item.name}}</el-col>
									</template>
								</el-autocomplete>
							</el-form-item>
						</el-col>

						<el-col :span="24">
							<br/>
						  <el-form-item>
						    <el-button v-if="showAllPatInfo" icon="fa fa-angle-double-up fa-fw" @click="showAllPatInfo=false">收起</el-button>
						    <el-button v-else icon="fa fa-angle-double-down fa-fw" @click="showAllPatInfo=true">更多</el-button>
						    <el-button type="primary" @click="submitForm('encounterForm')">提交</el-button>
						    <el-button @click="resetForm('encounterForm')">重置</el-button>
						  </el-form-item>
						</el-col>
					</el-row>
				</el-form>
		  </el-collapse-item>
		</el-collapse>
	</div>
</template>
<script type="text/javascript">
window.current_template_obj = {
	data: function(){
		return {
			activeCollapse: "patientinfo1",
			encounter: {
				diagnoses: [{ code: "", display: ""}],
			}, // 
			encountersResource: Vue.resource('/hospital/encounters{/id}.json'),
			rules: {
				name: [
		      { required: true, message: '姓名不能为空'},
		    ],
				gender: [
		      { required: true, message: '性别不能为空'},
		    ],
		    age: [
		      { required: true, message: '年龄不能为空'},
		      { type: 'number', message: '年龄必须为数字值'}
		    ],
		    birth_date: [
		    	{ required: false, message: '出生日期不能为空'},
		    ],
		    phone: [
		    	{ pattern: /^1[34578]\d{9}$/, message: '电话号码格式不正确'}
		    ],
		    iden: [
		    	{ pattern: /(^\d{15}$)|(^\d{18}$)|(^\d{17}(\d|X|x)$)/, message: '身份证号码格式不正确'}
		    ],
		    contact_name: [
		    	{ required: false, message: '监护人不能为空'},
		    ],
			},
			showAllPatInfo: true, // 显示所有的可填数据
			focusDiagnosisInputIndex: 0, // 聚焦第几个诊断
		}
	},
	watch: {
	},
	mounted: function () {
		this.$nextTick(function(){
			this.init();
		})
	},
	methods: {
		init: function() {
			var _this = this;
			console.log(this.$parent.common_data_genders)
			console.log(this.genders)
			// if(!_this.encounter.diagnoses || _this.encounter.diagnoses.length==0) {
			// 	_this.encounter.diagnoses = [{ code: "", display: "", site: "" }]; // 诊断
			// }
		},
		submitForm: function (formName) {
      this.$refs[formName].validate( function (valid) {
        if (valid) {
          alert('submit!');
        } else {
          console.log('error submit!!');
          return false;
        }
      });
    },
    resetForm: function (formName) {
      this.$refs[formName].resetFields();
    },
    // 判断年龄，如果小于14要求出生日期、监护人必填
    judgeAge: function (val) {
    	var _this = this, flag = false;
    	if(val < 14) {
	    	_this.$message({
	        message: "请输入具体的出生日期、监护人姓名。",
	        type: 'warning'
	      });
	      flag = true;
    	}
    	_this.rules["birth_date"][0]["required"] = flag;
    	_this.rules["contact_name"][0]["required"] = flag;
    },
		// 侧边搜索患者栏目
		toggleSidebar: function () {
			console.log("搜索患者侧边栏")
		},
		// 判断性别，根据性别显示图标
  	judgeGender: function (gender) {
  		if(!gender){ gender = ""; }
      var html = '';
  		if(gender.indexOf('男')>-1){
  			html = '<i class="text-primary fa fa-lg fa-fw fa-male"></i>';
  		}else if(gender.indexOf('女')>-1){
  			html = '<i class="text-danger fa fa-lg fa-fw fa-female"></i>';
  		}else{
  			html = '<i class="text-muted fa fa-lg fa-fw fa-male"></i>'
  		}
  		return html;
	  },
	  // 查询诊断
  	querySearchDiagnoseAsync: function(queryString, cb) {
			var _this = this;
			Vue.resource('http://192.168.2.18:3000/voc/search_table_names.json').get({oid: _this.diagnoseOid, target: "CodeSystem", search: queryString}).then(function(response) {
		    if (response.data) {
					cb(response.data);
				}
		  },function() {

		  })
		},
		// 选择诊断
		handleSelectDiagnosis: function(item) {
			var _this = this;
			var index = _this.focusDiagnosisInputIndex
	    _this.medrecord.diagnose[index].code = item.id;
	    _this.medrecord.diagnose[index].display = item.name;
		},
	}
}
</script>
