<style type="text/css">
#ims_setting_div{background-color: rgb(244, 245, 229);}
input{opacity: 0.8;}
.page-header {
  font-family: Consolas, "Microsoft YaHei", "Microsoft JhengHei";
  padding: 0;
  margin: 0 0 16px 0;
}
.page-header > i {
  margin-left: 0px;
}
.page-header > h3 {
  margin: 0;
  float: right;
  display: inline-block;
  width: -webkit-calc(100% - 80px);
  width: -moz-calc(100% - 80px);
  width: calc(100% - 80px);
}
.page-header > h3 > small {
  margin-top: 8px;
  display: block;
  font-size: 14px;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}
#submit_btn{
	position: fixed;
	top: 64px;
	right: 12px;
}
</style>
<template id="ims_setting_div">
	<div id="prescription_setting_div">
	  <article class="page-header" style="border-bottom: 1px solid #ddd;">
	    <i class="fa fa-cogs fa-fw fa-3x"></i>
	    <h3>药店设置<small>药店设置</small></h3>
	    <div class="header-right-btns">
	   </div>
	  </article>

		<el-form size="mini" :rules="rules" :model="setting" ref="settingForm" label-width="100px">
			<el-row>
		  	<el-col :span="10">
		  		<el-form-item
				    label="付费未取药过期天数"
				    prop="validity">
				    <!-- <el-input v-model="setting.validity" auto-complete="off"> -->
			    	<el-input v-model="setting.validity" auto-complete="off" name="ims_setting[payment_expired]">

					    <span>天</span>
					  </el-input>
				  </el-form-item>

				<el-form-item
				    label="未支付订单过期天数"
				    prop="validity">
				    <!-- <el-input v-model="setting.validity" auto-complete="off"> -->
			    	<el-input v-model="setting.validity" auto-complete="off" name="ims_setting[unpaid_expired]">
					    <span>天</span>
					  </el-input>
				  </el-form-item>

				  <el-form-item
				    label="语音提示"
				    prop="voice">
				  	<!-- <el-select v-model="setting.voice" value-key="code" placeholder="请选择"> -->
			  		<el-select v-model="setting.voice" value-key="code" placeholder="请选择" name="ims_setting[voice_prompts]">
					    <el-option
					      v-for="item in options"
					      :key="item.value"
					      :label="item.label"
					      :value="item.value">
					    </el-option>
					  </el-select>
				  </el-form-item>

				</el-col>

				<el-col :span="24">
				  <el-form-item>
				    <el-button id="submit_btn" type="primary" @click="submitForm('settingForm')">提交</el-button>
				  </el-form-item>
				</el-col>
			</el-row>
		</el-form>
	</div>

</template>

<script type="text/javascript">
window.current_template_obj = {
	data: function(){
		return {
			activeCollapse: "settings",
			setting: {}, // 
			options:[{value:"yes",label:"是"},{value:"no",label:"否"}],
			settingsResource: Vue.resource('/ims/settings{/id}.json'),
			rules: {
				validity: [
		      { required: true, message: '效期不能为空'},
		    ],
				voice: [
		      { required: true, message: '请选择语音'},
		    ]
			}
		}
	},
	watch: {
	},
	mounted: function () {
		this.$nextTick(function(){
			this.init();
		})
	},
	methods: {
		init: function() {
			console.log(this.$parent.common_data_voices)
			console.log(this.voices)
		},
		submitForm: function (formName) {
      this.$refs[formName].validate( function (valid) {
        if (valid) {
          alert('submit!');
        } else {
          console.log('error submit!!');
          return false;
        }
      });
    },
    resetForm: function (formName) {
      this.$refs[formName].resetFields();
    },
    // 判断年龄，如果小于14要求出生日期、监护人必填
    judgeAge: function (val) {
    	var _this = this;
    	_this.$message({
        message: "请输入具体的出生日期、监护人姓名。",
        type: 'warning'
      });
    	_this.rules["birth_date"][0]["required"] = true;
    },
		// 侧边搜索患者栏目
		toggleSidebar: function () {
			console.log("搜索患者侧边栏")
		},
		// 判断性别，根据性别显示图标
  	judgevoice: function (voice) {
  		if(!voice){ voice = ""; }
      var html = '';
  		if(voice.indexOf('男')>-1){
  			html = '<i class="text-primary fa fa-lg fa-fw fa-male"></i>';
  		}else if(voice.indexOf('女')>-1){
  			html = '<i class="text-danger fa fa-lg fa-fw fa-female"></i>';
  		}else{
  			html = '<i class="text-muted fa fa-lg fa-fw fa-male"></i>'
  		}
  		return html;
	  },
	}
}
</script>
