<style type="text/css">
  a{
    color: #409eff;
    text-decoration: none;
  }
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
  }
  html,body,#vue_container{
    height: 100%;
  }
  #main_content{
    padding: 10px 20px;
    height: calc( 100% - 61px - 41px );
    overflow: auto;
  }
  [v-cloak]{
    display: none;
  }
  .thin_scrollbar *::-webkit-scrollbar {
    width: 8px;
    background: #f1f1f1;
    height: 8px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
  }
  .thin_scrollbar *::-webkit-scrollbar-thumb {
    background: #bbb;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
  }
  .thin_scrollbar *::-webkit-scrollbar-thumb:hover {
    background: #999;
  }
  .thin_scrollbar *::-webkit-scrollbar-thumb:active {
    background: #777;
  }
  .hide{
    display: none;
  }
  .el-menu--horizontal>.el-menu-item{
    padding: 0;
  }
  .el-menu--horizontal>.el-menu-item a{
    display: inline-block;
    height: 100%;
    padding: 0 20px;
  }
  .ele_link:visited{
    color: inherit;
  }
  .text-danger{
    color: #f56c6c;
  }
  .clear{
    clear: both;
  }
  .el-input__inner {
    border: none;
    border-radius: 0;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: rgba(255, 255, 255, 0.7);
    background: transparent;
    padding-left: 80px !important; 
    color: rgba(255, 255, 255, 0.9);
  }
  .el-input__inner::placeholder {
    color: rgba(255, 255, 255, 0.3);
  }
  .el-form-item .el-input-group {
    display: inline-table;
  }
  .el-input-group__prepend, .el-input-group__append {
    border: none;
    border-radius: 0;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: rgba(255, 255, 255, 0.7);
    background: transparent;
  }
  .el-button--primary {
    background-color: #5B3FC7;
    border-color: #5B3FC7;
  }
  .el-button--primary {
    color: rgba(255, 255, 255, 0.7);
    background-color: #5B3FC7;
    border-color: #5B3FC7;
  }
  .el-button--primary:hover, .el-button--primary:focus {
    background: #6C5DCA;
    border-color: #6C5DCA;
    color: rgba(255, 255, 255, 0.7);
  }
</style>
<script type="text/javascript">
  const error_fun = function(e){
    current_app.loading = false;
    current_app.$message({
      type: 'error',
      message: '错误: '+e.status+' '+e.statusText,
      showClose: true,
      duration: 0
    });
  }
</script>
<div class="thin_scrollbar" style="height:100%; background: url('/assets/admin/bg.jpg') fixed top right; background-size: cover;">
  <div id="vue_container" v-cloak>
    <div id="main_content">
      <transition name="el-zoom-in-top">
        <el-form v-show="showFlag" action="/users/sign_in" method="post" style="width: 50%;position: absolute;left: 25%;top: 25%;">
          <!-- <h1 style="text-align: center;padding: 0 0 40px 0;font-size: 40px; font-family: 微软雅黑;font-weight: 500;">处方流通平台</h1> -->
          <div style="background: #fff; padding: 30px; background: rgba(255, 255, 255, 0.15);">
            <h3 style="margin-bottom: 2em; margin-left: 1em;">
              <img src="/assets/admin/TM.png" style="width: 100px; float: left;">
              <span style="font-size: 140%; font-family: 微软雅黑; font-weight: 500; color:rgba(255, 255, 255, 0.7); display: inline-block; margin-left: 20px; margin-top: 10px;">爱萌医药云平台</span>
            </h3>
            <div style="width: 250px; margin: 0 auto;">
              <el-input autofocus placeholder="用  户  名" name="user[login]" value="<%= flash[:login] %>" autocomplete="off">
                <i slot="prefix" class="el-input__icon fal fa-user-alt fa-lg" style="color:rgba(255, 255, 255, 0.7);"></i>
              </el-input>
              <el-input type="password" placeholder="密  　  码" name="user[password]" style="margin-top: 10px;" autocomplete="off">
                <i slot="prefix" class="el-input__icon fal fa-lock-alt fa-lg" style="color:rgba(255, 255, 255, 0.7);"></i>
              </el-input>
              <div style="margin-top: 10px;">
                <el-checkbox :label="1" name="user[remember_me]" style="line-height: 40px; color: rgba(255, 255, 255, 0.7);">记住我</el-checkbox>
              </div>
              <div style="margin-top: 1em; text-align: center;">
                <el-button type="primary" native-type="submit">登 录</el-button>
                <!--  onclick="current_app.$message('暂未提供自主注册方式，请联系管理员');return false;" -->
              </div>
              <div style="margin-top: 1em;text-align: center; color: rgba(255, 255, 255, 0.5);">
                <!-- <a style="float: left;" href="/users/sign_up" onclick="current_app.$message('暂未提供商户注册方式，请联系管理员入驻');return false;">商户入驻</a> -->
                <a href="/users/sign_up" onclick="current_app.$message('暂未提供商户注册方式，请联系管理员入驻');return false;"><span style="color: rgba(255, 255, 255, 0.5);">&nbsp;注&#12288;册&nbsp;</span></a> |
                <a href="/users/password/new" onclick="current_app.$message('暂未提供密码找回方式，请联系管理员找回');return false;"><span style="color: rgba(255, 255, 255, 0.5);">忘记密码</span></a>
              </div>
            </div>
          </div>
        </el-form>
      </transition>
    </div>
    <div style="width: 100%; position: fixed; bottom: 10px; left: 0; text-align: center; color: rgba(255, 255, 255, 0.8);"><small>贵州腾迈华希医疗科技发展有限公司</small></div>
  </div>
</div>
<script type="text/javascript">
  const current_app = new Vue({
    el:'#vue_container',
    data:{
      showFlag:false
    },
    methods:{

    },
    mounted:function() {
      var _this = this;
      _this.showFlag = true;
      $("form").submit(function () {
        var login = $('input[name="user[login]"]'),
            pwd = $('input[name="user[password]"]');
        if(!login.val()) {
          login.focus();
          return false;
        }
        if(!pwd.val()) {
          pwd.focus();
          return false;
        }
      })
    }
  })
  <% if notice.present?||alert.present? %>
  current_app.$message("<%= notice.to_s + alert.to_s %>");
  <% end -%>
</script>
