<style type="text/css">
  #guide_ul{
    font-size: 12px;
  }
  #guide_ul > li{
    margin-top: 32px;
    list-style: none;
  }
  #guide_ul li a{
    display: block;
    padding: 10px;
  }
  #guide_ul li{
    position: relative;
    float: left;
    border: 2px solid #ddd;
    border-radius: 4px;
    margin-right: 70px;
    /*margin-bottom: 50px;*/
    box-shadow: #aaa 5px 5px 5px;
    text-align: center;
  }
  #guide_ul li:hover{
    box-shadow: #CFDFFF 5px 5px 5px;

  }
  #guide_ul img{
    width: 54px;
    height: 54px;
    padding-bottom: 4px;
  }
  #guide_ul i{
    font-size: 54px;
  }
  #guide_ul li > i,#guide_ul > ul > i{
    font-size: 40px;
    position: absolute;
    left: calc(100% + 18px);
    top: 30%;
  }
  #guide_ul > ul > i{
    top: 38%;
  }
  #guide_ul ul{
    position: relative;
    margin-right: 70px;
  }
  #guide_ul ul:last-child{
    margin-right: 0;
  }
  #guide_ul ul li{
    margin-right: 10px;
    margin-bottom: 10px;
  }
  #guide_ul{
    transform:scale(2,2);
    width: 50%;
    transform-origin: 0 0;
  }
</style>
<template id="home_div">
  <div>
    <div class="text-info">欢迎使用 IMS V1.0</div>
    <h2>常规 IMS 使用流程</h2>
    <ul id="guide_ul" class="">
      <li>
        <a href="javascript:;" class="directed_to_header_menus" data-target="applications_new">
          <div class="padding-bottom"> <img src=""> </div>
          <div> <span>开单申请</span> </div>
        </a>
        <i class="fa fa-arrow-right text-muted"></i>
      </li>
      <li>
        <a href="javascript:current_app.$message('请前往门诊窗口缴费！');">
          <div class="padding-bottom"> <img src=""> </div>
          <div> <span>缴费<span class="text-muted">(门诊)</span></span> </div>
        </a>
        <i class="fa fa-arrow-right text-muted"></i>
      </li>
      <li>
        <a href="javascript:;" class="directed_to_header_menus" data-target="specimens_clinic">
          <div class="padding-bottom"> <img src=""> </div>
          <div> <span>抽血采样</span> </div>
        </a>
        <i class="fa fa-arrow-right text-muted"></i>
      </li>
      <div class="clear"></div>
      <li>
        <i class="fa fa-arrow-right text-muted"></i>
        <a href="javascript:;" class="directed_to_header_menus" data-target="specimens_send">
          <div class="padding-bottom"> <img src=""> </div>
          <div> <span>送检登记</span> </div>
        </a>
        <i class="fa fa-arrow-right text-muted"></i>
      </li>
      <li>
        <i class="fa fa-arrow-right text-muted"></i>
        <a href="javascript:;" class="directed_to_header_menus" data-target="specimens_accept">
          <div class="padding-bottom"> <img src=""> </div>
          <div> <span>接收登记</span> </div>
        </a>
        <i class="fa fa-arrow-right text-muted"></i>
      </li>
      <li>
        <i class="fa fa-arrow-right text-muted"></i>
        <a href="javascript:;" class="directed_to_header_menus" data-target="specimens_verify">
          <div class="padding-bottom"> <img src=""> </div>
          <div> <span>审核打印</span> </div>
        </a>
        <i class="fa fa-arrow-right text-muted"></i>
      </li>
      <div class="clear"></div>
    </ul>
  </div>
</template>
<script type="text/javascript">
const home = Vue.extend({
  template: '#home_div',
  mounted:function(){
    $(".directed_to_header_menus").click(function(){
      var _me = $('.header_menu_items.'+$(this).attr("data-target"));
      if(_me.length){
        _me.click();
      }else{
        current_app.$message('无此菜单权限');
      }
    })
  },
  activated:function(){
    window.apps.header_and_footer.header_selected_tab = '#/home';
  }
})
</script>
