<style type="text/css">
#inv_stocks_search_exports label{font-size: 14px; display: inline-block;padding-bottom:10px; color: rgb(173, 171, 171);}
</style>
<template>
	<div id="inv_stocks_search_exports">

    <el-col style="padding: 8px;height:100%;">
      <el-form :label-position="labelPosition" label-width="80px" :model="formLabelAlign"></el-form>

        <el-row style="height: 100%;">
          <el-row style="height:78px; padding-left:8px; padding-right:8px; border: 1px solid #ebeef5; border-bottom: none; background: #f2f8fb;">
            <label>药品库存搜索</label>
            <div style="width: 30%;">
              <el-input placeholder="编码、名称、规格" v-model="stock_search" size="small" @keyup.enter.native="search_drug_stock">
                <i
                  class="el-icon-search el-input__icon"
                  slot="suffix"
                  @click="search_drug_stock">
                </i>
              </el-input>
            </div>
          </el-row>
          <el-table
            :data="drug_stock_data"
            height="90%"
            show-summary
            border
            size="mini"
            style="width: 100%; height:calc(100% - 78px);">
            <el-table-column
              label=""
              min-width="30">
              <template slot-scope="scope">
                {{ scope.$index + 1 }}
              </template>
            </el-table-column>
            <el-table-column
              sortable
              prop="name"
              label="名称"
              min-width="160">
              <template slot-scope="scope">
                {{ scope.row.name}}
              </template>
            </el-table-column>
            <el-table-column
              prop="spec"
              label="规格"
              min-width="80">
              <template slot-scope="scope">
                {{ scope.row.spec }}
              </template>
            </el-table-column>
            <el-table-column
              prop="spec"
              label="厂家"
              min-width="130">
              <template slot-scope="scope">
                {{ scope.row.produce_name }}
              </template>
            </el-table-column>
            <el-table-column
              prop="spec"
              label="批号"
              min-width="70">
              <template slot-scope="scope">
                {{ scope.row.batch }}
              </template>
            </el-table-column>
            <el-table-column
              prop="spec"
              label="单价"
              align="right"
              min-width="80">
              <template slot-scope="scope">
                {{ parseFloat(scope.row.price) | formatMoney(2)}}
              </template>
            </el-table-column>
            <el-table-column
              label="数量"
              align="right"
              min-width="80">
              <template slot-scope="scope">
                {{ scope.row.quantity}}
              </template>
            </el-table-column>
             <el-table-column
              label="单位"
              align="center"
              min-width="50">
              <template slot-scope="scope">
                {{scope.row.unit}}
              </template>
            </el-table-column>
            <el-table-column
              prop = "amount"
              sortable
              label="金额"
              align="right"
              min-width="100">
              <template slot-scope="scope">
                {{ parseFloat(scope.row.amount) | formatMoney(2)}}
              </template>
            </el-table-column>

          </el-table>
        </el-row>
     </el-col>
    <%= render "ims/home/render/print_report_table"%>
    </div>
</template>
<script type="text/javascript">
window.current_template_obj = {
  data:function(){
    return {
      labelPosition: 'top',
      file:"",
      stock_search:"",
      formLabelAlign: {
        name: '',
        region: '',
        type: ''
      },
      tableData: [],
      drug_stock_data:[],

      search: "", // 搜索内容
      tableHeight: 200, // 表格高度
      // 分页相关
      currentPage: 1, // 当前页
      pageSize: 25, // 默认一页显示25条
      dataCount: 100, // 总数据条数
    }
  },
  methods:{
    init:function(){},
    get_file:function(){
      $("#file_source").click()
    },
    changeValue:function(){
      console.log("change")
      setTimeout('$("#file_input").val($("#file_source")[0].files[0].name)',200)
    },
    search_drug_stock:function(){
      _this = this
      var search = _this.stock_search
      _this.$http.get('/ims/inv/stocks/search_stocks', {params:{search:search}}).then( function(response) {
        console.log(response.data)
        if(response.data.length>0) {
          _this.drug_stock_data = response.data;
        }else{
          _this.$message.error("没有数据。");
        }
      }, function() {
        _this.$message.error("查询出错！");
      });
    }
  },
  mounted:function(){
    this.$nextTick(function(){
      this.init();
    })  
  },
}
</script>
