<style type="text/css">
#ims_order_main label{font-size: 14px; display: inline-block;padding-bottom:10px; color: rgb(173, 171, 171);}
</style>
<template>
	<div id="ims_order_main">

    <el-col :span="8" style="padding: 8px;height:100%;">
      <el-form :label-position="labelPosition" label-width="80px" :model="formLabelAlign"></el-form>

        <el-row style="height: 100%;">
          <el-row style="height:78px; padding-left:8px; padding-right:8px; border: 1px solid #ebeef5; border-bottom: none; background: #f2f8fb;">
            <label>药品库存搜索</label>
            <div>
              <el-input placeholder="编码、名称、规格" v-model="stock_search" size="small" @keyup.enter.native="search_drug_stock">
                <i
                  class="el-icon-search el-input__icon"
                  slot="suffix"
                  @click="search_drug_stock">
                </i>
              </el-input>
            </div>
          </el-row>
          <el-table
            :data="drug_stock_data"
            border
            size="mini"
            style="width: 100%; height:calc(100% - 78px);">
            <el-table-column
              prop="name"
              label="名称"
              style="width:35%;">
            </el-table-column>
            <el-table-column
              prop="spec"
              label="规格"
              style="width:35%;">
            </el-table-column>
            <el-table-column
              label="数量单位"
              style="width:30%;">
                  <template slot-scope="scope">
                    {{ scope.row.qty }}{{scope.row.unit}}
                  </template>
            </el-table-column>
          </el-table>
        </el-row>
     </el-col>
    </div>
</template>
<script type="text/javascript">
window.current_template_obj = {
  data:function(){
    return {
      labelPosition: 'top',
      file:"",
      stock_search:"",
      formLabelAlign: {
        name: '',
        region: '',
        type: ''
      },
      tableData: [],
      drug_stock_data:[],
    }
  },
  methods:{
    init:function(){},
    get_file:function(){
      $("#file_source").click()
    },
    changeValue:function(){
      console.log("change")
      setTimeout('$("#file_input").val($("#file_source")[0].files[0].name)',200)
    },
    search_drug_stock:function(){
      _this = this
      var search = _this.stock_search
      _this.$http.get('/ims/inv/stocks/search_stocks', {params:{search:search}}).then( function(response) {
        console.log(response)
        _this.drug_stock_data = response.data.data
      }, function() {
        _this.$message.error("上传失败！");
      });
    }
  },
  mounted:function(){
    this.$nextTick(function(){
      this.init();
    })  
  },
}
</script>
