<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<title>华希医疗</title>
	<link rel="icon" href="/assets/admin/TM.ico" />
</head>
<body>
	<h1></h1>

	<img src="/assets/admin/gzh.jpg">

</body>
</html>