<!DOCTYPE html>
<html class="ui-page-login">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>腾迈智医</title>
		<link rel="icon" href="/assets/admin/TM.ico" />
		<link href="/assets/plugins/mui/mui.min.css" rel="stylesheet" />
		<!-- <link href="/assets/plugins/fontawesome/font-awesome.min.css" rel="stylesheet" /> -->
		<link href="/assets/plugins/fontawesome/fontawesome-all.css" rel="stylesheet" />
		<script src="/assets/jquery/jquery-1.9.1.js"></script>
		<!-- <script src="/assets/jquery/jquery.mobile-1.3.2.min.js"></script> -->
		<script src="/assets/plugins/mui/mui.min.js"></script>
		<script src="/assets/plugins/vue/vue-253.js"></script>
		<script src="/assets/plugins/vue/vue-router.js"></script>
		<script src="/assets/plugins/date_pattern.js"></script>
		<script type="text/javascript">
			//获取页面url参数   $.getUrlParam("ID")
			$.getUrlParam = function(name){
				var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
				var r = window.location.search.substr(1).match(reg);
				if (r!=null) return unescape(r[2]); return null;
			}
			const error_fun = function(e) {
				console.log(e);
				var info = '';
				if(e.status==0){
					info = '错误: ' + e.status + ' 访问服务器失败，请检查网络或刷新重试';
				}else{
					info = '错误: ' + e.status + ' ' + e.statusText;
				}
				mui.toast(info, {
					duration: 8000
				});
			}
		</script>
		<style type="text/css">
			body{
				color: #203754;
			}
			p{
				color: #8A8782;
			}
			.text-danger{
				color: #a94442;
			}
			.text-muted {
				color: #999999;
			}
			/*.my_top_nav{
				background-image: linear-gradient(to right,#7aa3fd 20%,#4ec5ff 80%,#54b9ff 94%) !important;
			}
			.my_top_nav *{
				color: #fff !important;
			}*/
			.mui-bar-nav{
				/*box-shadow: none;*/
				background: #fff;
			}
			.mui-bar-tab .mui-tab-item.mui-active{
				color: #F55742;
			}
			.mui-icon.fa{
				font-size: 22px;
			}
			.hide{
				display: none;
			}
			.clear{
				clear: both;
			}
			body{
				font-size: 14px;
			}
			p{
				font-size: 12px;
			}
		</style>
	</head>

	<body>
		<div id="loading" style="position: fixed;height: 100%;width: 100%;z-index: 9999;display: none;">
			<!-- <img src="/assets/admin/load.gif" style="position: absolute;top: calc(50% - 50px);left: calc(50% - 50px);"/> -->
			<i class="fa fa-circle-o-notch fa-spin" style="font-size: 50px;color:#59B99D;position: absolute;top: calc(50% - 25px);left: calc(50% - 25px);"></i>
		</div>
		<% unless [["users/sessions",'new'],["users/sessions",'sign_up'],["users/registrations",'new'],["users/registrations",'create']].index([controller_path,action_name]) %>
		<nav id="bottom_tabs" class="mui-bar mui-bar-tab">
			<a class="mui-tab-item users_home" href="javascript:;" data-url="/customer/portal">
				<span class="mui-icon fal fa-capsules"></span>
				<span class="mui-tab-label">首页</span>
			</a>
			<a class="mui-tab-item" href="javascript:;" data-url="/customer/report">
				<span class="mui-icon fal fa-heart"></span>
				<span class="mui-tab-label">健康</span>
			</a>
			<a class="mui-tab-item" href="javascript:;" data-url="/customer/home">
				<span class="mui-icon fal fa-user"><!-- <span class="mui-badge" style="padding: 4px;"></span> --></span>
				<span class="mui-tab-label">我的</span>
			</a>
		</nav>
		<script type="text/javascript">
			// 底部导航 当前变色
			if (location.pathname=='/') {
				$(".mui-tab-item.users_home").addClass("mui-active");
			}else{
				$(".mui-tab-item").each(function(i,v) {
					if (location.pathname == $(v).attr('data-url')) {
						$(v).addClass("mui-active");
					}
				})
			}
			$(".mui-tab-item").on('tap',function(e) {
				if ($(this).attr("data-url")) {
					location = $(this).attr("data-url");
				}
			})
		</script>
		<% end %>
		
		<%= yield %>
	</body>
	<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=qPvNQ3ko8Gx0bpVDR89gN42e343emLOF"></script>
	<script type="text/javascript">
// 根据用户的经纬度绘出用户在地图上的位置
function addressOverlay(div_id_name){
	var map = new BMap.Map(div_id_name);
var point = new BMap.Point(106.7091771,26.62990674); //默认已腾迈为起点
map.centerAndZoom(point,12);
map.enableScrollWheelZoom(true);    

var geolocation = new BMap.Geolocation();
geolocation.getCurrentPosition(function(r){
	if(this.getStatus() == BMAP_STATUS_SUCCESS){
		var mk = new BMap.Marker(r.point);
		map.addOverlay(mk);
		map.panTo(r.point);
		alert('您的位置：'+r.point.lng+','+r.point.lat);
	}
	else {
		alert('failed'+this.getStatus());
	}        
},{enableHighAccuracy: true})
};

// 根据经纬度转换成地址
function pointToAddress(div_id_name){
	var map = new BMap.Map(div_id_name);
var point = new BMap.Point(106.7091771,26.62990674); //默认已腾迈为起点
map.centerAndZoom(point,12);
map.enableScrollWheelZoom(true);

var geolocation = new BMap.Geolocation();
geolocation.getCurrentPosition(function(r){
	if(this.getStatus() == BMAP_STATUS_SUCCESS){
		var pt = r.point;
		var geoc = new BMap.Geocoder();
		geoc.getLocation(pt, function(rs){
			var addComp = rs.addressComponents;
			var address = addComp.province + ", " + addComp.city + ", " + addComp.district + ", " + addComp.street + ", " + addComp.streetNumber;
			alert(address);
		});        
	}
	else {
		alert('failed'+this.getStatus());
	}        
},{enableHighAccuracy: true})
};

// 根据输入的名称在地图上标注
function addressToPoint(div_id_name, name){
	var map = new BMap.Map(div_id_name);
var point = new BMap.Point(106.7091771,26.62990674); //默认已腾迈为起点
map.centerAndZoom(point,12);
map.enableScrollWheelZoom(true);

var myGeo = new BMap.Geocoder();
myGeo.getPoint(name, function(point){
	if (point) {
		map.centerAndZoom(point, 16);
		map.addOverlay(new BMap.Marker(point));
	}else{
		alert("您选择地址没有解析到结果!");
	}
}, "贵阳市");
};

	</script>
	<script type="text/javascript">
		<% if notice.present?||alert.present? %>
		mui.toast("<%= notice.to_s + alert.to_s %>");
		<% end -%>
	</script>
</html>